body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
div, header, footer {
    background: var(--Background);
    color: var(--On-Color);
}

.quiet { 
    color: var(--On-Quiet);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.38;
    pointer-events: none;
}

h1 p  {
    margin-bottom: auto;
}



