[data-cognitive-profile] {
  --Congnitive-Font-Families-Standard: "Roboto";
  --Congnitive-Font-Families-Decorative: "Bungee";
  --Cognitive-Body-Small-Font-Family: var(--Platform-Default-Body-Small-Font-Family);
  --Cognitive-Body-Small-Line-Height: var(--Platform-Default-Body-Small-Line-Height);
  --Cognitive-Body-Small-Font-Size: var(--Platform-Default-Body-Small-Font-Size);
  --Cognitive-Body-Small-Character-Spacing: var(--Platform-Default-Body-Small-Character-Spacing);
  --Cognitive-Body-Small-Font-Weight: var(--Platform-Default-Body-Small-Font-Weight);
  --Cognitive-Body-Small-AA-Paragraph-Spacing: var(--Platform-Default-Body-Small-AA-Paragraph-Spacing);
  --Cognitive-Body-Small-SR-Character-Spacing: var(--Platform-Default-Body-Small-SR-Character-Spacing);
  --Cognitive-Body-Small-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Small-AAA-Paragraph-Spacing);
  --Cognitive-Body-SmallSemibold-Font-Family: var(--Platform-Default-Body-Small-Semibold-Font-Family);
  --Cognitive-Body-SmallSemibold-Font-Size: var(--Platform-Default-Body-Small-Semibold-Font-Size);
  --Cognitive-Body-SmallSemibold-Font-Weight: var(--Platform-Default-Body-Small-Semibold-Font-Weight);
  --Cognitive-Body-SmallSemibold-Line-Height: var(--Platform-Default-Body-Small-Semibold-Line-Height);
  --Cognitive-Body-SmallSemibold-Character-Spacing: var(--Platform-Default-Body-Small-Semibold-Character-Spacing);
  --Cognitive-Body-SmallSemibold-AA-Paragraph-Spacing: var(--Platform-Default-Body-Small-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Body-SmallSemibold-SR-Character-Spacing: var(--Platform-Default-Body-Small-Semibold-SR-Character-Spacing);
  --Cognitive-Body-SmallSemibold-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Small-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Body-MediumSemibold-Font-Family: var(--Platform-Default-Body-Medium-Semibold-Font-Family);
  --Cognitive-Body-MediumSemibold-Font-Size: var(--Platform-Default-Body-Medium-Semibold-Font-Size);
  --Cognitive-Body-MediumSemibold-Font-Weight: var(--Platform-Default-Body-Medium-Semibold-Font-Weight);
  --Cognitive-Body-MediumSemibold-Line-Height: var(--Platform-Default-Body-Medium-Semibold-Line-Height);
  --Cognitive-Body-MediumSemibold-Character-Spacing: var(--Platform-Default-Body-Medium-Semibold-Character-Spacing);
  --Cognitive-Body-MediumSemibold-AA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Body-MediumSemibold-SR-Character-Spacing: var(--Platform-Default-Body-Medium-Semibold-SR-Character-Spacing);
  --Cognitive-Body-MediumSemibold-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Body-Medium-Font-Family: var(--Platform-Default-Body-Medium-Font-Family);
  --Cognitive-Body-Medium-Font-Size: var(--Platform-Default-Body-Medium-Font-Size);
  --Cognitive-Body-Medium-Font-Weight: var(--Platform-Default-Body-Medium-Font-Weight);
  --Cognitive-Body-Medium-Line-Height: var(--Platform-Default-Body-Medium-Line-Height);
  --Cognitive-Body-Medium-Character-Spacing: var(--Platform-Default-Body-Medium-Character-Spacing);
  --Cognitive-Body-Medium-AA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-AA-Paragraph-Spacing);
  --Cognitive-Body-Medium-SR-Character-Spacing: var(--Platform-Default-Body-Medium-Character-Spacing);
  --Cognitive-Body-Medium-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-AAA-Paragraph-Spacing);
  --Cognitive-Body-Large-Font-Family: var(--Platform-Default-Body-Large-Font-Family);
  --Cognitive-Body-Large-Font-Size: var(--Platform-Default-Body-Large-Font-Size);
  --Cognitive-Body-Large-Font-Weight: var(--Platform-Default-Body-Large-Font-Weight);
  --Cognitive-Body-Large-Line-Height: var(--Platform-Default-Body-Large-Line-Height);
  --Cognitive-Body-Large-Character-Spacing: var(--Platform-Default-Body-Large-Character-Spacing);
  --Cognitive-Body-Large-AA-Paragraph-Spacing: var(--Platform-Default-Body-Large-AA-Paragraph-Spacing);
  --Cognitive-Body-Large-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Large-AAA-Paragraph-Spacing);
  --Cognitive-Body-Large-SR-Character-Spacing: var(--Platform-Default-Body-Large-Character-Spacing);
  --Cognitive-Body-LargeSemibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Cognitive-Body-LargeSemibold-Font-Size: var(--Platform-Default-Body-Large-Font-Size);
  --Cognitive-Body-LargeSemibold-Font-Weight: var(--Platform-Default-Body-Large-Semibold-Font-Weight);
  --Cognitive-Body-LargeSemibold-Line-Height: var(--Platform-Default-Body-Large-Line-Height);
  --Cognitive-Body-LargeSemibold-Character-Spacing: var(--Platform-Default-Body-Large-Character-Spacing);
  --Cognitive-Body-LargeSemibold-AA-Paragraph-Spacing: var(--Platform-Default-Body-Large-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Body-LargeSemibold-SR-Character-Spacing: var(--Platform-Default-Body-Large-SR-Character-Spacing);
  --Cognitive-Body-LargeSemibold-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Large-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Buttons-Small-Font-Family: var(--Platform-Default-Buttons-Small-Font-Family);
  --Cognitive-Buttons-Small-Font-Size: var(--Platform-Default-Buttons-Small-Font-Size);
  --Cognitive-Buttons-Small-Font-Weight: var(--Platform-Default-Buttons-Small-Font-Weight);
  --Cognitive-Buttons-Small-Line-Height: var(--Platform-Default-Buttons-Small-Line-Height);
  --Cognitive-Buttons-Small-Character-Spacing: var(--Platform-Default-Buttons-Small-Character-Spacing);
  --Cognitive-Buttons-Small-Paragraph-Spacing: var(--Platform-Default-Buttons-Small-Paragraph-Spacing);
  --Cognitive-Buttons-Small-SR-Character-Spacing: var(--Platform-Default-Buttons-Small-SR-Character-Spacing);
  --Cognitive-Buttons-Standard-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Cognitive-Buttons-Standard-Font-Size: var(--Platform-Default-Buttons-Standard-Font-Size);
  --Cognitive-Buttons-Standard-Font-Weight: var(--Platform-Default-Buttons-Standard-Font-Weight);
  --Cognitive-Buttons-Standard-Line-Height: var(--Platform-Default-Buttons-Standard-Line-Height);
  --Cognitive-Buttons-Standard-Character-Spacing: var(--Platform-Default-Buttons-Standard-Character-Spacing);
  --Cognitive-Buttons-Standard-Paragraph-Spacing: var(--Platform-Default-Buttons-Standard-Paragraph-Spacing);
  --Cognitive-Buttons-Standard-SR-Character-Spacing: var(--Platform-Default-Buttons-Standard-SR-Character-Spacing);
  --Cognitive-Buttons-ExtraSmall-Font-Family: var(--Platform-Default-Buttons-Extra-Small-Font-Family);
  --Cognitive-Buttons-ExtraSmall-Font-Size: var(--Platform-Default-Buttons-Extra-Small-Font-Size);
  --Cognitive-Buttons-ExtraSmall-Font-Weight: var(--Platform-Default-Buttons-Extra-Small-Font-Weight);
  --Cognitive-Buttons-ExtraSmall-Line-Height: var(--Platform-Default-Buttons-Extra-Small-Line-Height);
  --Cognitive-Buttons-ExtraSmall-Character-Spacing: var(--Platform-Default-Buttons-Extra-Small-Character-Spacing);
  --Cognitive-Buttons-ExtraSmall-Paragraph-Spacing: var(--Platform-Default-Buttons-Extra-Small-Paragraph-Spacing);
  --Cognitive-Buttons-ExtraSmall-SR-Character-Spacing: var(--Platform-Default-Buttons-Extra-Small-Character-Spacing);
  --Cognitive-Captions-Standard-Font-Family: var(--Platform-Default-Captions-Standard-Font-Family);
  --Cognitive-Captions-Standard-Font-Size: var(--Platform-Default-Captions-Standard-Font-Size);
  --Cognitive-Captions-Standard-Font-Weight: var(--Platform-Default-Captions-Standard-Font-Weight);
  --Cognitive-Captions-Standard-Line-Height: var(--Platform-Default-Captions-Standard-Line-Height);
  --Cognitive-Captions-Standard-Character-Spacing: var(--Platform-Default-Captions-Standard-Character-Spacing);
  --Cognitive-Captions-Standard-AA-Paragraph-Spacing: var(--Platform-Default-Captions-Standard-AA-Paragraph-Spacing);
  --Cognitive-Captions-Standard-SR-Character-Spacing: var(--Platform-Default-Captions-Standard-SR-Character-Spacing);
  --Cognitive-Captions-Standard-AAA-Paragraph-Spacing: var(--Platform-Default-Captions-Standard-AAA-Paragraph-Spacing);
  --Cognitive-Captions-Bold-Font-Family: var(--Platform-Default-Captions-Bold-Font-Family);
  --Cognitive-Captions-Bold-Font-Size: var(--Platform-Default-Captions-Bold-Font-Size);
  --Cognitive-Captions-Bold-Font-Weight: var(--Platform-Default-Captions-Bold-Font-Weight);
  --Cognitive-Captions-Bold-Line-Height: var(--Platform-Default-Captions-Bold-Line-Height);
  --Cognitive-Captions-Bold-Character-Spacing: var(--Platform-Default-Captions-Bold-Character-Spacing);
  --Cognitive-Captions-Bold-AA-Paragraph-Spacing: var(--Platform-Default-Captions-Bold-AA-Paragraph-Spacing);
  --Cognitive-Captions-Bold-SR-Character-Spacing: var(--Platform-Default-Captions-Bold-SR-Character-Spacing);
  --Cognitive-Captions-Bold-AAA-Paragraph-Spacing: var(--Platform-Default-Captions-Bold-AAA-Paragraph-Spacing);
  --Cognitive-Subtitles-Small-Font-Family: var(--Platform-Default-Subtitles-Small-Font-Family);
  --Cognitive-Subtitles-Small-Font-Size: var(--Platform-Default-Subtitles-Small-Font-Size);
  --Cognitive-Subtitles-Small-Font-Weight: var(--Platform-Default-Subtitles-Small-Font-Weight);
  --Cognitive-Subtitles-Small-Line-Height: var(--Platform-Default-Subtitles-Small-Line-Height);
  --Cognitive-Subtitles-Small-Character-Spacing: var(--Platform-Default-Subtitles-Small-Character-Spacing);
  --Cognitive-Subtitles-Small-Paragraph-Spacing: var(--Platform-Default-Subtitles-Small-Paragraph-Spacing);
  --Cognitive-Subtitles-Small-SR-Character-Spacing: var(--Platform-Default-Subtitles-Small-SR-Character-Spacing);
  --Cognitive-Subtitles-Large-Font-Family: var(--Platform-Default-Subtitles-Large-Font-Family);
  --Cognitive-Subtitles-Large-Font-Size: var(--Platform-Default-Subtitles-Large-Font-Size);
  --Cognitive-Subtitles-Large-Font-Weight: var(--Platform-Default-Subtitles-Large-Font-Weight);
  --Cognitive-Subtitles-Large-Line-Height: var(--Platform-Default-Subtitles-Large-Line-Height);
  --Cognitive-Subtitles-Large-Character-Spacing: var(--Platform-Default-Subtitles-Large-Character-Spacing);
  --Cognitive-Subtitles-Large-Paragraph-Spacing: var(--Platform-Default-Subtitles-Large-Paragraph-Spacing);
  --Cognitive-Subtitles-Large-SR-Character-Spacing: var(--Platform-Default-Subtitles-Large-SR-Character-Spacing);
  --Cognitive-Legal-Standard-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Cognitive-Legal-Standard-Font-Size: var(--Platform-Default-Legal-Standard-Font-Size);
  --Cognitive-Legal-Standard-Font-Weight: var(--Platform-Default-Legal-Standard-Font-Weight);
  --Cognitive-Legal-Standard-Line-Height: var(--Platform-Default-Legal-Standard-Line-Height);
  --Cognitive-Legal-Standard-Character-Spacing: var(--Platform-Default-Legal-Standard-Character-Spacing);
  --Cognitive-Legal-Standard-AA-Paragraph-Spacing: var(--Platform-Default-Legal-Standard-AA-Paragraph-Spacing);
  --Cognitive-Legal-Standard-SR-Character-Spacing: var(--Platform-Default-Legal-Standard-SR-Character-Spacing);
  --Cognitive-Legal-Standard-AAA-Paragraph-Spacing: var(--Platform-Default-Legal-Standard-AAA-Paragraph-Spacing);
  --Cognitive-Legal-Semibold-Font-Family: var(--Platform-Default-Legal-Semibold-Font-Family);
  --Cognitive-Legal-Semibold-Font-Size: var(--Platform-Default-Legal-Semibold-Font-Size);
  --Cognitive-Legal-Semibold-Font-Weight: var(--Platform-Default-Legal-Semibold-Font-Weight);
  --Cognitive-Legal-Semibold-Line-Height: var(--Platform-Default-Legal-Semibold-Line-Height);
  --Cognitive-Legal-Semibold-Character-Spacing: var(--Platform-Default-Legal-Semibold-Character-Spacing);
  --Cognitive-Legal-Semibold-AA-Paragraph-Spacing: var(--Platform-Default-Legal-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Legal-Semibold-SR-Character-Spacing: var(--Platform-Default-Legal-Semibold-SR-Character-Spacing);
  --Cognitive-Legal-Semibold-AAA-Paragraph-Spacing: var(--Platform-Default-Legal-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Labels-ExtraSmall-Font-Family: var(--Platform-Default-Labels-Extra-Small-Font-Family);
  --Cognitive-Labels-ExtraSmall-Font-Size: var(--Platform-Default-Labels-Extra-Small-Font-Size);
  --Cognitive-Labels-ExtraSmall-Font-Weight: var(--Platform-Default-Labels-Extra-Small-Font-Weight);
  --Cognitive-Labels-ExtraSmall-Line-Height: var(--Platform-Default-Labels-Extra-Small-Line-Height);
  --Cognitive-Labels-ExtraSmall-Character-Spacing: var(--Platform-Default-Labels-Extra-Small-Character-Spacing);
  --Cognitive-Labels-ExtraSmall-Paragraph-Spacing: var(--Platform-Default-Labels-Extra-Small-Paragraph-Spacing);
  --Cognitive-Labels-ExtraSmall-SR-Character-Spacing: var(--Platform-Default-Labels-Extra-Small-SR-Character-Spacing);
  --Cognitive-Labels-Small-Font-Family: var(--Platform-Default-Labels-Small-Font-Family);
  --Cognitive-Labels-Small-Font-Size: var(--Platform-Default-Labels-Small-Font-Size);
  --Cognitive-Labels-Small-Font-Weight: var(--Platform-Default-Labels-Small-Font-Weight);
  --Cognitive-Labels-Small-Line-Height: var(--Platform-Default-Labels-Extra-Small-Line-Height);
  --Cognitive-Labels-Small-Character-Spacing: var(--Platform-Default-Labels-Small-Character-Spacing);
  --Cognitive-Labels-Small-Paragraph-Spacing: var(--Platform-Default-Labels-Extra-Small-Paragraph-Spacing);
  --Cognitive-Labels-Small-SR-Character-Spacing: var(--Platform-Default-Labels-Small-SR-Character-Spacing);
  --Cognitive-Labels-Medium-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Cognitive-Labels-Medium-Font-Size: var(--Platform-Default-Labels-Medium-Font-Size);
  --Cognitive-Labels-Medium-Font-Weight: var(--Platform-Default-Labels-Medium-Font-Weight);
  --Cognitive-Labels-Medium-Line-Height: var(--Platform-Default-Labels-Medium-Line-Height);
  --Cognitive-Labels-Medium-Character-Spacing: var(--Platform-Default-Labels-Medium-Character-Spacing);
  --Cognitive-Labels-Medium-Paragraph-Spacing: var(--Platform-Default-Labels-Medium-Paragraph-Spacing);
  --Cognitive-Labels-Medium-SR-Character-Spacing: var(--Platform-Default-Labels-Medium-SR-Character-Spacing);
  --Cognitive-Labels-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Cognitive-Labels-Large-Font-Size: var(--Platform-Default-Labels-Large-Font-Size);
  --Cognitive-Labels-Large-Font-Weight: var(--Platform-Default-Labels-Large-Font-Weight);
  --Cognitive-Labels-Large-Line-Height: var(--Platform-Default-Labels-Large-Line-Height);
  --Cognitive-Labels-Large-Character-Spacing: var(--Platform-Default-Labels-Large-Character-Spacing);
  --Cognitive-Labels-Large-Paragraph-Spacing: var(--Platform-Default-Labels-Large-Paragraph-Spacing);
  --Cognitive-Labels-Large-SR-Character-Spacing: var(--Platform-2x-Labels-Large-SR-Character-Spacing);
  --Cognitive-Overline-Small-Font-Family: var(--Platform-Default-Overline-Small-Font-Family);
  --Cognitive-Overline-Small-Font-Size: var(--Platform-Default-Overline-Small-Font-Size);
  --Cognitive-Overline-Small-Font-Weight: var(--Platform-Default-Overline-Small-Font-Weight);
  --Cognitive-Overline-Small-Line-Height: var(--Platform-Default-Overline-Small-Line-Height);
  --Cognitive-Overline-Small-Character-Spacing: var(--Platform-Default-Overline-Small-Character-Spacing);
  --Cognitive-Overline-Small-Paragraph-Spacing: var(--Platform-Default-Overline-Small-Paragraph-Spacing);
  --Cognitive-Overline-Small-SR-Character-Spacing: var(--Platform-Default-Overline-Small-SR-Character-Spacing);
  --Cognitive-Overline-Medium-Font-Family: var(--Platform-Default-Overline-Medium-Font-Family);
  --Cognitive-Overline-Medium-Font-Size: var(--Platform-Default-Overline-Medium-Font-Size);
  --Cognitive-Overline-Medium-Font-Weight: var(--Platform-Default-Overline-Medium-Font-Weight);
  --Cognitive-Overline-Medium-Line-Height: var(--Platform-Default-Overline-Medium-Line-Height);
  --Cognitive-Overline-Medium-Character-Spacing: var(--Platform-Default-Overline-Medium-Character-Spacing);
  --Cognitive-Overline-Medium-Paragraph-Spacing: var(--Platform-Default-Overline-Medium-Paragraph-Spacing);
  --Cognitive-Overline-Medium-SR-Character-Spacing: var(--Platform-Default-Overline-Medium-SR-Character-Spacing);
  --Cognitive-Overline-Large-Font-Family: var(--Platform-Default-Overline-Large-Font-Family);
  --Cognitive-Overline-Large-Font-Size: var(--Platform-Default-Overline-Large-Font-Size);
  --Cognitive-Overline-Large-Font-Weight: var(--Platform-Default-Overline-Large-Font-Weight);
  --Cognitive-Overline-Large-Line-Height: var(--Platform-Default-Overline-Large-Line-Height);
  --Cognitive-Overline-Large-Character-Spacing: var(--Platform-Default-Overline-Large-Character-Spacing);
  --Cognitive-Overline-Large-Paragraph-Spacing: var(--Platform-Default-Overline-Large-Paragraph-Spacing);
  --Cognitive-Overline-Large-SR-Character-Spacing: var(--Platform-Default-Overline-Large-SR-Character-Spacing);
  --Cognitive-Display-Small-Font-Family: var(--Platform-Default-Display-Small-Font-Family);
  --Cognitive-Display-Small-Font-Size: var(--Platform-Default-Display-Small-Font-Size);
  --Cognitive-Display-Small-Font-Weight: var(--Platform-Default-Display-Small-Font-Weight);
  --Cognitive-Display-Small-Line-Height: var(--Platform-Default-Display-Small-Line-Height);
  --Cognitive-Display-Small-Character-Spacing: var(--Platform-Default-Display-Small-Character-Spacing);
  --Cognitive-Display-Small-Paragraph-Spacing: var(--Platform-Default-Display-Small-Paragraph-Spacing);
  --Cognitive-Display-Small-SR-Character-Spacing: var(--Platform-Default-Display-Small-SR-Character-Spacing);
  --Cognitive-Display-Large-Font-Family: var(--Platform-Default-Display-Large-Font-Family);
  --Cognitive-Display-Large-Font-Size: var(--Platform-Default-Display-Large-Font-Size);
  --Cognitive-Display-Large-Font-Weight: var(--Platform-Default-Display-Large-Font-Weight);
  --Cognitive-Display-Large-Line-Height: var(--Platform-Default-Display-Large-Line-Height);
  --Cognitive-Display-Large-Character-Spacing: var(--Platform-Default-Display-Large-Character-Spacing);
  --Cognitive-Display-Large-Paragraph-Spacing: var(--Platform-Default-Display-Large-Paragraph-Spacing);
  --Cognitive-Display-Large-SR-Character-Spacing: var(--Platform-Default-Display-Large-SR-Character-Spacing);
  --Cognitive-Headers-H1-Font-Family: var(--Platform-Default-Headers-H1-Font-Family);
  --Cognitive-Headers-H1-Font-Size: var(--Platform-Default-Headers-H1-Font-Size);
  --Cognitive-Headers-H1-Font-Weight: var(--Platform-Default-Headers-H1-Font-Weight);
  --Cognitive-Headers-H1-Line-Height: var(--Platform-Default-Headers-H1-Line-Height);
  --Cognitive-Headers-H1-Character-Spacing: var(--Platform-Default-Headers-H1-Character-Spacing);
  --Cognitive-Headers-H1-Paragraph-Spacing: var(--Platform-Default-Headers-H1-Paragraph-Spacing);
  --Cognitive-Headers-H1-SR-Character-Spacing: var(--Platform-Default-Headers-H1-SR-Character-Spacing);
  --Cognitive-Headers-H2-Font-Family: var(--Platform-Default-Headers-H2-Font-Family);
  --Cognitive-Headers-H2-Font-Size: var(--Platform-Default-Headers-H2-Font-Size);
  --Cognitive-Headers-H2-Font-Weight: var(--Platform-Default-Headers-H2-Font-Weight);
  --Cognitive-Headers-H2-Line-Height: var(--Platform-Default-Headers-H2-Line-Height);
  --Cognitive-Headers-H2-Character-Spacing: var(--Platform-Default-Headers-H2-Character-Spacing);
  --Cognitive-Headers-H2-Paragraph-Spacing: var(--Platform-Default-Headers-H2-Paragraph-Spacing);
  --Cognitive-Headers-H2-SR-Character-Spacing: var(--Platform-Default-Headers-H2-SR-Character-Spacing);
  --Cognitive-Headers-H3-Font-Family: var(--Platform-Default-Headers-H3-Font-Family);
  --Cognitive-Headers-H3-Font-Size: var(--Platform-Default-Headers-H3-Font-Size);
  --Cognitive-Headers-H3-Font-Weight: var(--Platform-Default-Headers-H3-Font-Weight);
  --Cognitive-Headers-H3-Line-Height: var(--Platform-Default-Headers-H3-Line-Height);
  --Cognitive-Headers-H3-Character-Spacing: var(--Platform-Default-Headers-H3-Character-Spacing);
  --Cognitive-Headers-H3-Paragraph-Spacing: var(--Platform-Default-Headers-H3-Paragraph-Spacing);
  --Cognitive-Headers-H3-SR-Character-Spacing: var(--Platform-Default-Headers-H3-SR-Character-Spacing);
  --Cognitive-Headers-H4-Font-Family: var(--Platform-Default-Headers-H4-Font-Family);
  --Cognitive-Headers-H4-Font-Size: var(--Platform-Default-Headers-H4-Font-Size);
  --Cognitive-Headers-H4-Font-Weight: var(--Platform-Default-Headers-H4-Font-Weight);
  --Cognitive-Headers-H4-Line-Height: var(--Platform-Default-Headers-H4-Line-Height);
  --Cognitive-Headers-H4-Character-Spacing: var(--Platform-Default-Headers-H4-Character-Spacing);
  --Cognitive-Headers-H4-Paragraph-Spacing: var(--Platform-Default-Headers-H4-Paragraph-Spacing);
  --Cognitive-Headers-H4-SR-Character-Spacing: var(--Platform-Default-Headers-H4-SR-Character-Spacing);
  --Cognitive-Headers-H5-Font-Family: var(--Platform-Default-Headers-H5-Font-Family);
  --Cognitive-Headers-H5-Font-Size: var(--Platform-Default-Headers-H5-Font-Size);
  --Cognitive-Headers-H5-Font-Weight: var(--Platform-Default-Headers-H5-Font-Weight);
  --Cognitive-Headers-H5-Line-Height: var(--Platform-Default-Headers-H5-Line-Height);
  --Cognitive-Headers-H5-Character-Spacing: var(--Platform-Default-Headers-H5-Character-Spacing);
  --Cognitive-Headers-H5-Paragraph-Spacing: var(--Platform-Default-Headers-H5-Paragraph-Spacing);
  --Cognitive-Headers-H5-SR-Character-Spacing: var(--Platform-Default-Headers-H5-SR-Character-Spacing);
  --Cognitive-Headers-H6-Font-Family: var(--Platform-Default-Headers-H6-Font-Family);
  --Cognitive-Headers-H6-Font-Size: var(--Platform-Default-Headers-H6-Font-Size);
  --Cognitive-Headers-H6-Font-Weight: var(--Platform-Default-Headers-H6-Font-Weight);
  --Cognitive-Headers-H6-Line-Height: var(--Platform-Default-Headers-H6-Line-Height);
  --Cognitive-Headers-H6-Character-Spacing: var(--Platform-Default-Headers-H6-Character-Spacing);
  --Cognitive-Headers-H6-Paragraph-Spacing: var(--Platform-Default-Headers-H6-Paragraph-Spacing);
  --Cognitive-Headers-H6-SR-Character-Spacing: var(--Platform-Default-Headers-H6-SR-Character-Spacing);
  --Cognitive-Number-Small-Font-Family: var(--Platform-Default-Number-Small-Font-Family);
  --Cognitive-Number-Small-Font-Size: var(--Platform-Default-Number-Small-Font-Size);
  --Cognitive-Number-Small-Font-Weight: var(--Platform-Default-Number-Small-Font-Weight);
  --Cognitive-Number-Small-Line-Height: var(--Platform-Default-Number-Small-Line-Height);
  --Cognitive-Number-Small-Character-Spacing: var(--Platform-Default-Number-Small-Character-Spacing);
  --Cognitive-Number-Small-Paragraph-Spacing: var(--Platform-Default-Number-Small-Paragraph-Spacing);
  --Cognitive-Number-Small-SR-Character-Spacing: var(--Platform-Default-Number-Small-SR-Character-Spacing);
  --Cognitive-Number-Large-Font-Family: var(--Platform-Default-Number-Large-Font-Family);
  --Cognitive-Number-Large-Font-Size: var(--Platform-Default-Number-Large-Font-Size);
  --Cognitive-Number-Large-Font-Weight: var(--Platform-Default-Number-Large-Font-Weight);
  --Cognitive-Number-Large-Line-Height: var(--Platform-Default-Number-Large-Line-Height);
  --Cognitive-Number-Large-Character-Spacing: var(--Platform-Default-Number-Large-Character-Spacing);
  --Cognitive-Number-Large-Paragraph-Spacing: 0px;
  --Cognitive-Number-Large-SR-Character-Spacing: var(--Platform-Default-Number-Large-SR-Character-Spacing);
  --Cognitive-Number-Medium-Font-Family: var(--Platform-Default-Number-Medium-Font-Family);
  --Cognitive-Number-Medium-Font-Size: var(--Platform-Default-Number-Medium-Font-Size);
  --Cognitive-Number-Medium-Font-Weight: var(--Platform-Default-Number-Medium-Font-Weight);
  --Cognitive-Number-Medium-Line-Height: var(--Platform-Default-Number-Medium-Line-Height);
  --Cognitive-Number-Medium-Character-Spacing: var(--Platform-Default-Number-Medium-Character-Spacing);
  --Cognitive-Number-Medium-Paragraph-Spacing: var(--Platform-Default-Number-Medium-Paragraph-Spacing);
  --Cognitive-Number-Medium-SR-Character-Spacing: var(--Platform-Default-Number-Medium-SR-Character-Spacing);
  --Cognitive-Spacing-Spacing-1: var(--Default-Spacing-1);
  --Cognitive-Spacing-Spacing-2: var(--Default-Spacing-2);
  --Cognitive-Spacing-Spacing-3: var(--Default-Spacing-3);
  --Cognitive-Spacing-Spacing-4: var(--Default-Spacing-4);
  --Cognitive-Spacing-Spacing-5: var(--Default-Spacing-5);
  --Cognitive-Spacing-Spacing-6: var(--Default-Spacing-6);
  --Cognitive-Spacing-Spacing-7: var(--Default-Spacing-7);
  --Cognitive-Spacing-Spacing-8: var(--Default-Spacing-8);
  --Cognitive-Spacing-Spacing-9: var(--Default-Spacing-9);
  --Cognitive-Spacing-Spacing-10: var(--Default-Spacing-10);
  --Cognitive-Spacing-Spacing-Half: var(--Default-Spacing-Half);
  --Cognitive-Spacing-Spacing-Quarter: var(--Default-Spacing-Quarter);
  --Cognitive-Spacing-Spacing-One-And-Half: var(--Default-Spacing-Quarter);
  --Cognitive-Target: var(--Platform-Default-Target);
}
