/* None cognitive specific typography */
[data-cognitive="None"] {
  --Cognitive-Font-Families-Standard: var(--Platform-Font-Families-Standard);
  --Cognitive-Font-Families-Decorative: var(--Platform-Font-Families-Decorative);
  --Cognitive-Body-Small-Font-Family: var(--Platform-Body-Small-Font-Family);
  --Cognitive-Body-Small-Line-Height: var(--Platform-Body-Small-Line-Height);
  --Cognitive-Body-Small-Font-Size: var(--Platform-Body-Small-Font-Size);
  --Cognitive-Body-Small-Character-Spacing: var(--Platform-Body-Small-Character-Spacing);
  --Cognitive-Body-Small-Font-Weight: var(--Platform-Body-Small-Font-Weight);
  --Cognitive-Body-Small-AA-Paragraph-Spacing: var(--Platform-Body-Small-AA-Paragraph-Spacing);
  --Cognitive-Body-Small-SR-Character-Spacing: var(--Platform-Body-Small-SR-Character-Spacing);
  --Cognitive-Body-Small-AAA-Paragraph-Spacing: var(--Platform-Body-Small-AAA-Paragraph-Spacing);
  --Cognitive-Body-Small-Semibold-Font-Family: var(--Platform-Body-Small-Semibold-Font-Family);
  --Cognitive-Body-Small-Semibold-Font-Size: var(--Platform-Body-Small-Semibold-Font-Size);
  --Cognitive-Body-Small-Semibold-Font-Weight: var(--Platform-Body-Small-Semibold-Font-Weight);
  --Cognitive-Body-Small-Semibold-Line-Height: var(--Platform-Body-Small-Semibold-Line-Height);
  --Cognitive-Body-Small-Semibold-Character-Spacing: var(--Platform-Body-Small-Semibold-Character-Spacing);
  --Cognitive-Body-Small-Semibold-AA-Paragraph-Spacing: var(--Platform-Body-Small-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Body-Small-Semibold-SR-Character-Spacing: var(--Platform-Body-Small-Semibold-SR-Character-Spacing);
  --Cognitive-Body-Small-Semibold-AAA-Paragraph-Spacing: var(--Platform-Body-Small-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Body-Medium-Semibold-Font-Family: var(--Platform-Body-Medium-Semibold-Font-Family);
  --Cognitive-Body-Medium-Semibold-Font-Size: var(--Platform-Body-Medium-Semibold-Font-Size);
  --Cognitive-Body-Medium-Semibold-Font-Weight: var(--Platform-Body-Medium-Semibold-Font-Weight);
  --Cognitive-Body-Medium-Semibold-Line-Height: var(--Platform-Body-Medium-Semibold-Line-Height);
  --Cognitive-Body-Medium-Semibold-Character-Spacing: var(--Platform-Body-Medium-Semibold-Character-Spacing);
  --Cognitive-Body-Medium-Semibold-AA-Paragraph-Spacing: var(--Platform-Body-Medium-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Body-Medium-Semibold-SR-Character-Spacing: var(--Platform-Body-Medium-Semibold-SR-Character-Spacing);
  --Cognitive-Body-Medium-Semibold-AAA-Paragraph-Spacing: var(--Platform-Body-Medium-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Body-Medium-Font-Family: var(--Platform-Body-Medium-Font-Family);
  --Cognitive-Body-Medium-Font-Size: var(--Platform-Body-Medium-Font-Size);
  --Cognitive-Body-Medium-Font-Weight: var(--Platform-Body-Medium-Font-Weight);
  --Cognitive-Body-Medium-Line-Height: var(--Platform-Body-Medium-Line-Height);
  --Cognitive-Body-Medium-Character-Spacing: var(--Platform-Body-Medium-Character-Spacing);
  --Cognitive-Body-Medium-AA-Paragraph-Spacing: var(--Platform-Body-Medium-AA-Paragraph-Spacing);
  --Cognitive-Body-Medium-SR-Character-Spacing: var(--Platform-Body-Medium-Character-Spacing);
  --Cognitive-Body-Medium-AAA-Paragraph-Spacing: var(--Platform-Body-Medium-AAA-Paragraph-Spacing);
  --Cognitive-Body-Large-Font-Family: var(--Platform-Body-Large-Font-Family);
  --Cognitive-Body-Large-Font-Size: var(--Platform-Body-Large-Font-Size);
  --Cognitive-Body-Large-Font-Weight: var(--Platform-Body-Large-Font-Weight);
  --Cognitive-Body-Large-Line-Height: var(--Platform-Body-Large-Line-Height);
  --Cognitive-Body-Large-Character-Spacing: var(--Platform-Body-Large-Character-Spacing);
  --Cognitive-Body-Large-AA-Paragraph-Spacing: var(--Platform-Body-Large-AA-Paragraph-Spacing);
  --Cognitive-Body-Large-AAA-Paragraph-Spacing: var(--Platform-Body-Large-AAA-Paragraph-Spacing);
  --Cognitive-Body-Large-SR-Character-Spacing: var(--Platform-Body-Large-Character-Spacing);
  --Cognitive-Body-Large-Semibold-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Large-Semibold-Font-Size: var(--Platform-Body-Large-Font-Size);
  --Cognitive-Body-Large-Semibold-Font-Weight: var(--Platform-Body-Large-Semibold-Font-Weight);
  --Cognitive-Body-Large-Semibold-Line-Height: var(--Platform-Body-Large-Line-Height);
  --Cognitive-Body-Large-Semibold-Character-Spacing: var(--Platform-Body-Large-Character-Spacing);
  --Cognitive-Body-Large-Semibold-AA-Paragraph-Spacing: var(--Platform-Body-Large-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Body-Large-Semibold-SR-Character-Spacing: var(--Platform-Body-Large-SR-Character-Spacing);
  --Cognitive-Body-Large-Semibold-AAA-Paragraph-Spacing: var(--Platform-Body-Large-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Buttons-Small-Font-Family: var(--Platform-Buttons-Small-Font-Family);
  --Cognitive-Buttons-Small-Font-Size: var(--Platform-Buttons-Small-Font-Size);
  --Cognitive-Buttons-Small-Font-Weight: var(--Platform-Buttons-Small-Font-Weight);
  --Cognitive-Buttons-Small-Line-Height: var(--Platform-Buttons-Small-Line-Height);
  --Cognitive-Buttons-Small-Character-Spacing: var(--Platform-Buttons-Small-Character-Spacing);
  --Cognitive-Buttons-Small-Paragraph-Spacing: var(--Platform-Buttons-Small-Paragraph-Spacing);
  --Cognitive-Buttons-Small-SR-Character-Spacing: var(--Platform-Buttons-Small-SR-Character-Spacing);
  --Cognitive-Buttons-Standard-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Buttons-Standard-Font-Size: var(--Platform-Buttons-Standard-Font-Size);
  --Cognitive-Buttons-Standard-Font-Weight: var(--Platform-Buttons-Standard-Font-Weight);
  --Cognitive-Buttons-Standard-Line-Height: var(--Platform-Buttons-Standard-Line-Height);
  --Cognitive-Buttons-Standard-Character-Spacing: var(--Platform-Buttons-Standard-Character-Spacing);
  --Cognitive-Buttons-Standard-Paragraph-Spacing: var(--Platform-Buttons-Standard-Paragraph-Spacing);
  --Cognitive-Buttons-Standard-SR-Character-Spacing: var(--Platform-Buttons-Standard-SR-Character-Spacing);
  --Cognitive-Buttons-Extra-Small-Font-Family: var(--Platform-Buttons-Extra-Small-Font-Family);
  --Cognitive-Buttons-Extra-Small-Font-Size: var(--Platform-Buttons-Extra-Small-Font-Size);
  --Cognitive-Buttons-Extra-Small-Font-Weight: var(--Platform-Buttons-Extra-Small-Font-Weight);
  --Cognitive-Buttons-Extra-Small-Line-Height: var(--Platform-Buttons-Extra-Small-Line-Height);
  --Cognitive-Buttons-Extra-Small-Character-Spacing: var(--Platform-Buttons-Extra-Small-Character-Spacing);
  --Cognitive-Buttons-Extra-Small-Paragraph-Spacing: var(--Platform-Buttons-Extra-Small-Paragraph-Spacing);
  --Cognitive-Buttons-Extra-Small-SR-Character-Spacing: var(--Platform-Buttons-Extra-Small-Character-Spacing);
  --Cognitive-Captions-Standard-Font-Family: var(--Platform-Captions-Standard-Font-Family);
  --Cognitive-Captions-Standard-Font-Size: var(--Platform-Captions-Standard-Font-Size);
  --Cognitive-Captions-Standard-Font-Weight: var(--Platform-Captions-Standard-Font-Weight);
  --Cognitive-Captions-Standard-Line-Height: var(--Platform-Captions-Standard-Line-Height);
  --Cognitive-Captions-Standard-Character-Spacing: var(--Platform-Captions-Standard-Character-Spacing);
  --Cognitive-Captions-Standard-AA-Paragraph-Spacing: var(--Platform-Captions-Standard-AA-Paragraph-Spacing);
  --Cognitive-Captions-Standard-SR-Character-Spacing: var(--Platform-Captions-Standard-SR-Character-Spacing);
  --Cognitive-Captions-Standard-AAA-Paragraph-Spacing: var(--Platform-Captions-Standard-AAA-Paragraph-Spacing);
  --Cognitive-Captions-Bold-Font-Family: var(--Platform-Captions-Bold-Font-Family);
  --Cognitive-Captions-Bold-Font-Size: var(--Platform-Captions-Bold-Font-Size);
  --Cognitive-Captions-Bold-Font-Weight: var(--Platform-Captions-Bold-Font-Weight);
  --Cognitive-Captions-Bold-Line-Height: var(--Platform-Captions-Bold-Line-Height);
  --Cognitive-Captions-Bold-Character-Spacing: var(--Platform-Captions-Bold-Character-Spacing);
  --Cognitive-Captions-Bold-AA-Paragraph-Spacing: var(--Platform-Captions-Bold-AA-Paragraph-Spacing);
  --Cognitive-Captions-Bold-SR-Character-Spacing: var(--Platform-Captions-Bold-SR-Character-Spacing);
  --Cognitive-Captions-Bold-AAA-Paragraph-Spacing: var(--Platform-Captions-Bold-AAA-Paragraph-Spacing);
  --Cognitive-Subtitles-Small-Font-Family: var(--Platform-Subtitles-Small-Font-Family);
  --Cognitive-Subtitles-Small-Font-Size: var(--Platform-Subtitles-Small-Font-Size);
  --Cognitive-Subtitles-Small-Font-Weight: var(--Platform-Subtitles-Small-Font-Weight);
  --Cognitive-Subtitles-Small-Line-Height: var(--Platform-Subtitles-Small-Line-Height);
  --Cognitive-Subtitles-Small-Character-Spacing: var(--Platform-Subtitles-Small-Character-Spacing);
  --Cognitive-Subtitles-Small-Paragraph-Spacing: var(--Platform-Subtitles-Small-Paragraph-Spacing);
  --Cognitive-Subtitles-Small-SR-Character-Spacing: var(--Platform-Subtitles-Small-SR-Character-Spacing);
  --Cognitive-Subtitles-Large-Font-Family: var(--Platform-Subtitles-Large-Font-Family);
  --Cognitive-Subtitles-Large-Font-Size: var(--Platform-Subtitles-Large-Font-Size);
  --Cognitive-Subtitles-Large-Font-Weight: var(--Platform-Subtitles-Large-Font-Weight);
  --Cognitive-Subtitles-Large-Line-Height: var(--Platform-Subtitles-Large-Line-Height);
  --Cognitive-Subtitles-Large-Character-Spacing: var(--Platform-Subtitles-Large-Character-Spacing);
  --Cognitive-Subtitles-Large-Paragraph-Spacing: var(--Platform-Subtitles-Large-Paragraph-Spacing);
  --Cognitive-Subtitles-Large-SR-Character-Spacing: var(--Platform-Subtitles-Large-SR-Character-Spacing);
  --Cognitive-Legal-Standard-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Legal-Standard-Font-Size: var(--Platform-Legal-Standard-Font-Size);
  --Cognitive-Legal-Standard-Font-Weight: var(--Platform-Legal-Standard-Font-Weight);
  --Cognitive-Legal-Standard-Line-Height: var(--Platform-Legal-Standard-Line-Height);
  --Cognitive-Legal-Standard-Character-Spacing: var(--Platform-Legal-Standard-Character-Spacing);
  --Cognitive-Legal-Standard-AA-Paragraph-Spacing: var(--Platform-Legal-Standard-AA-Paragraph-Spacing);
  --Cognitive-Legal-Standard-SR-Character-Spacing: var(--Platform-Legal-Standard-SR-Character-Spacing);
  --Cognitive-Legal-Standard-AAA-Paragraph-Spacing: var(--Platform-Legal-Standard-AAA-Paragraph-Spacing);
  --Cognitive-Legal-Semibold-Font-Family: var(--Platform-Legal-Semibold-Font-Family);
  --Cognitive-Legal-Semibold-Font-Size: var(--Platform-Legal-Semibold-Font-Size);
  --Cognitive-Legal-Semibold-Font-Weight: var(--Platform-Legal-Semibold-Font-Weight);
  --Cognitive-Legal-Semibold-Line-Height: var(--Platform-Legal-Semibold-Line-Height);
  --Cognitive-Legal-Semibold-Character-Spacing: var(--Platform-Legal-Semibold-Character-Spacing);
  --Cognitive-Legal-Semibold-AA-Paragraph-Spacing: var(--Platform-Legal-Semibold-AA-Paragraph-Spacing);
  --Cognitive-Legal-Semibold-SR-Character-Spacing: var(--Platform-Legal-Semibold-SR-Character-Spacing);
  --Cognitive-Legal-Semibold-AAA-Paragraph-Spacing: var(--Platform-Legal-Semibold-AAA-Paragraph-Spacing);
  --Cognitive-Labels-Extra-Small-Font-Family: var(--Platform-Labels-Extra-Small-Font-Family);
  --Cognitive-Labels-Extra-Small-Font-Size: var(--Platform-Labels-Extra-Small-Font-Size);
  --Cognitive-Labels-Extra-Small-Font-Weight: var(--Platform-Labels-Extra-Small-Font-Weight);
  --Cognitive-Labels-Extra-Small-Line-Height: var(--Platform-Labels-Extra-Small-Line-Height);
  --Cognitive-Labels-Extra-Small-Character-Spacing: var(--Platform-Labels-Extra-Small-Character-Spacing);
  --Cognitive-Labels-Extra-Small-Paragraph-Spacing: var(--Platform-Labels-Extra-Small-Paragraph-Spacing);
  --Cognitive-Labels-Extra-Small-SR-Character-Spacing: var(--Platform-Labels-Extra-Small-SR-Character-Spacing);
  --Cognitive-Labels-Small-Font-Family: var(--Platform-Labels-Small-Font-Family);
  --Cognitive-Labels-Small-Font-Size: var(--Platform-Labels-Small-Font-Size);
  --Cognitive-Labels-Small-Font-Weight: var(--Platform-Labels-Small-Font-Weight);
  --Cognitive-Labels-Small-Line-Height: var(--Platform-Labels-Extra-Small-Line-Height);
  --Cognitive-Labels-Small-Character-Spacing: var(--Platform-Labels-Small-Character-Spacing);
  --Cognitive-Labels-Small-Paragraph-Spacing: var(--Platform-Labels-Extra-Small-Paragraph-Spacing);
  --Cognitive-Labels-Small-SR-Character-Spacing: var(--Platform-Labels-Small-SR-Character-Spacing);
  --Cognitive-Labels-Medium-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Labels-Medium-Font-Size: var(--Platform-Labels-Medium-Font-Size);
  --Cognitive-Labels-Medium-Font-Weight: var(--Platform-Labels-Medium-Font-Weight);
  --Cognitive-Labels-Medium-Line-Height: var(--Platform-Labels-Medium-Line-Height);
  --Cognitive-Labels-Medium-Character-Spacing: var(--Platform-Labels-Medium-Character-Spacing);
  --Cognitive-Labels-Medium-Paragraph-Spacing: var(--Platform-Labels-Medium-Paragraph-Spacing);
  --Cognitive-Labels-Medium-SR-Character-Spacing: var(--Platform-Labels-Medium-SR-Character-Spacing);
  --Cognitive-Labels-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Labels-Large-Font-Size: var(--Platform-Labels-Large-Font-Size);
  --Cognitive-Labels-Large-Font-Weight: var(--Platform-Labels-Large-Font-Weight);
  --Cognitive-Labels-Large-Line-Height: var(--Platform-Labels-Large-Line-Height);
  --Cognitive-Labels-Large-Character-Spacing: var(--Platform-Labels-Large-Character-Spacing);
  --Cognitive-Labels-Large-Paragraph-Spacing: var(--Platform-Labels-Large-Paragraph-Spacing);
  --Cognitive-Labels-Large-SR-Character-Spacing: var(--Platform-Labels-Large-SR-Character-Spacing);
  --Cognitive-Overline-Small-Font-Family: var(--Platform-Overline-Small-Font-Family);
  --Cognitive-Overline-Small-Font-Size: var(--Platform-Overline-Small-Font-Size);
  --Cognitive-Overline-Small-Font-Weight: var(--Platform-Overline-Small-Font-Weight);
  --Cognitive-Overline-Small-Line-Height: var(--Platform-Overline-Small-Line-Height);
  --Cognitive-Overline-Small-Character-Spacing: var(--Platform-Overline-Small-Character-Spacing);
  --Cognitive-Overline-Small-Paragraph-Spacing: var(--Platform-Overline-Small-Paragraph-Spacing);
  --Cognitive-Overline-Small-SR-Character-Spacing: var(--Platform-Overline-Small-SR-Character-Spacing);
  --Cognitive-Overline-Medium-Font-Family: var(--Platform-Overline-Medium-Font-Family);
  --Cognitive-Overline-Medium-Font-Size: var(--Platform-Overline-Medium-Font-Size);
  --Cognitive-Overline-Medium-Font-Weight: var(--Platform-Overline-Medium-Font-Weight);
  --Cognitive-Overline-Medium-Line-Height: var(--Platform-Overline-Medium-Line-Height);
  --Cognitive-Overline-Medium-Character-Spacing: var(--Platform-Overline-Medium-Character-Spacing);
  --Cognitive-Overline-Medium-Paragraph-Spacing: var(--Platform-Overline-Medium-Paragraph-Spacing);
  --Cognitive-Overline-Medium-SR-Character-Spacing: var(--Platform-Overline-Medium-SR-Character-Spacing);
  --Cognitive-Overline-Large-Font-Family: var(--Platform-Overline-Large-Font-Family);
  --Cognitive-Overline-Large-Font-Size: var(--Platform-Overline-Large-Font-Size);
  --Cognitive-Overline-Large-Font-Weight: var(--Platform-Overline-Large-Font-Weight);
  --Cognitive-Overline-Large-Line-Height: var(--Platform-Overline-Large-Line-Height);
  --Cognitive-Overline-Large-Character-Spacing: var(--Platform-Overline-Large-Character-Spacing);
  --Cognitive-Overline-Large-Paragraph-Spacing: var(--Platform-Overline-Large-Paragraph-Spacing);
  --Cognitive-Overline-Large-SR-Character-Spacing: var(--Platform-Overline-Large-SR-Character-Spacing);
  --Cognitive-Display-Small-Font-Family: var(--Platform-Display-Small-Font-Family);
  --Cognitive-Display-Small-Font-Size: var(--Platform-Display-Small-Font-Size);
  --Cognitive-Display-Small-Font-Weight: var(--Platform-Display-Small-Font-Weight);
  --Cognitive-Display-Small-Line-Height: var(--Platform-Display-Small-Line-Height);
  --Cognitive-Display-Small-Character-Spacing: var(--Platform-Display-Small-Character-Spacing);
  --Cognitive-Display-Small-Paragraph-Spacing: var(--Platform-Display-Small-Paragraph-Spacing);
  --Cognitive-Display-Small-SR-Character-Spacing: var(--Platform-Display-Small-SR-Character-Spacing);
  --Cognitive-Display-Large-Font-Family: var(--Platform-Display-Large-Font-Family);
  --Cognitive-Display-Large-Font-Size: var(--Platform-Display-Large-Font-Size);
  --Cognitive-Display-Large-Font-Weight: var(--Platform-Display-Large-Font-Weight);
  --Cognitive-Display-Large-Line-Height: var(--Platform-Display-Large-Line-Height);
  --Cognitive-Display-Large-Character-Spacing: var(--Platform-Display-Large-Character-Spacing);
  --Cognitive-Display-Large-Paragraph-Spacing: var(--Platform-Display-Large-Paragraph-Spacing);
  --Cognitive-Display-Large-SR-Character-Spacing: var(--Platform-Display-Large-SR-Character-Spacing);
  --Cognitive-Headers-H1-Font-Family: var(--Platform-Headers-H1-Font-Family);
  --Cognitive-Headers-H1-Font-Size: var(--Platform-Headers-H1-Font-Size);
  --Cognitive-Headers-H1-Font-Weight: var(--Platform-Headers-H1-Font-Weight);
  --Cognitive-Headers-H1-Line-Height: var(--Platform-Headers-H1-Line-Height);
  --Cognitive-Headers-H1-Character-Spacing: var(--Platform-Headers-H1-Character-Spacing);
  --Cognitive-Headers-H1-Paragraph-Spacing: var(--Platform-Headers-H1-Paragraph-Spacing);
  --Cognitive-Headers-H1-SR-Character-Spacing: var(--Platform-Headers-H1-SR-Character-Spacing);
  --Cognitive-Headers-H2-Font-Family: var(--Platform-Headers-H2-Font-Family);
  --Cognitive-Headers-H2-Font-Size: var(--Platform-Headers-H2-Font-Size);
  --Cognitive-Headers-H2-Font-Weight: var(--Platform-Headers-H2-Font-Weight);
  --Cognitive-Headers-H2-Line-Height: var(--Platform-Headers-H2-Line-Height);
  --Cognitive-Headers-H2-Character-Spacing: var(--Platform-Headers-H2-Character-Spacing);
  --Cognitive-Headers-H2-Paragraph-Spacing: var(--Platform-Headers-H2-Paragraph-Spacing);
  --Cognitive-Headers-H2-SR-Character-Spacing: var(--Platform-Headers-H2-SR-Character-Spacing);
  --Cognitive-Headers-H3-Font-Family: var(--Platform-Headers-H3-Font-Family);
  --Cognitive-Headers-H3-Font-Size: var(--Platform-Headers-H3-Font-Size);
  --Cognitive-Headers-H3-Font-Weight: var(--Platform-Headers-H3-Font-Weight);
  --Cognitive-Headers-H3-Line-Height: var(--Platform-Headers-H3-Line-Height);
  --Cognitive-Headers-H3-Character-Spacing: var(--Platform-Headers-H3-Character-Spacing);
  --Cognitive-Headers-H3-Paragraph-Spacing: var(--Platform-Headers-H3-Paragraph-Spacing);
  --Cognitive-Headers-H3-SR-Character-Spacing: var(--Platform-Headers-H3-SR-Character-Spacing);
  --Cognitive-Headers-H4-Font-Family: var(--Platform-Headers-H4-Font-Family);
  --Cognitive-Headers-H4-Font-Size: var(--Platform-Headers-H4-Font-Size);
  --Cognitive-Headers-H4-Font-Weight: var(--Platform-Headers-H4-Font-Weight);
  --Cognitive-Headers-H4-Line-Height: var(--Platform-Headers-H4-Line-Height);
  --Cognitive-Headers-H4-Character-Spacing: var(--Platform-Headers-H4-Character-Spacing);
  --Cognitive-Headers-H4-Paragraph-Spacing: var(--Platform-Headers-H4-Paragraph-Spacing);
  --Cognitive-Headers-H4-SR-Character-Spacing: var(--Platform-Headers-H4-SR-Character-Spacing);
  --Cognitive-Headers-H5-Font-Family: var(--Platform-Headers-H5-Font-Family);
  --Cognitive-Headers-H5-Font-Size: var(--Platform-Headers-H5-Font-Size);
  --Cognitive-Headers-H5-Font-Weight: var(--Platform-Headers-H5-Font-Weight);
  --Cognitive-Headers-H5-Line-Height: var(--Platform-Headers-H5-Line-Height);
  --Cognitive-Headers-H5-Character-Spacing: var(--Platform-Headers-H5-Character-Spacing);
  --Cognitive-Headers-H5-Paragraph-Spacing: var(--Platform-Headers-H5-Paragraph-Spacing);
  --Cognitive-Headers-H5-SR-Character-Spacing: var(--Platform-Headers-H5-SR-Character-Spacing);
  --Cognitive-Headers-H6-Font-Family: var(--Platform-Headers-H6-Font-Family);
  --Cognitive-Headers-H6-Font-Size: var(--Platform-Headers-H6-Font-Size);
  --Cognitive-Headers-H6-Font-Weight: var(--Platform-Headers-H6-Font-Weight);
  --Cognitive-Headers-H6-Line-Height: var(--Platform-Headers-H6-Line-Height);
  --Cognitive-Headers-H6-Character-Spacing: var(--Platform-Headers-H6-Character-Spacing);
  --Cognitive-Headers-H6-Paragraph-Spacing: var(--Platform-Headers-H6-Paragraph-Spacing);
  --Cognitive-Headers-H6-SR-Character-Spacing: var(--Platform-Headers-H6-SR-Character-Spacing);
  --Cognitive-Number-Small-Font-Family: var(--Platform-Number-Small-Font-Family);
  --Cognitive-Number-Small-Font-Size: var(--Platform-Number-Small-Font-Size);
  --Cognitive-Number-Small-Font-Weight: var(--Platform-Number-Small-Font-Weight);
  --Cognitive-Number-Small-Line-Height: var(--Platform-Number-Small-Line-Height);
  --Cognitive-Number-Small-Character-Spacing: var(--Platform-Number-Small-Character-Spacing);
  --Cognitive-Number-Small-Paragraph-Spacing: var(--Platform-Number-Small-Paragraph-Spacing);
  --Cognitive-Number-Small-SR-Character-Spacing: var(--Platform-Number-Small-SR-Character-Spacing);
  --Cognitive-Number-Large-Font-Family: var(--Platform-Number-Large-Font-Family);
  --Cognitive-Number-Large-Font-Size: var(--Platform-Number-Large-Font-Size);
  --Cognitive-Number-Large-Font-Weight: var(--Platform-Number-Large-Font-Weight);
  --Cognitive-Number-Large-Line-Height: var(--Platform-Number-Large-Line-Height);
  --Cognitive-Number-Large-Character-Spacing: var(--Platform-Number-Large-Character-Spacing);
  --Cognitive-Number-Large-Paragraph-Spacing: 0px;
  --Cognitive-Number-Large-SR-Character-Spacing: var(--Platform-Number-Large-SR-Character-Spacing);
  --Cognitive-Number-Medium-Font-Family: var(--Platform-Number-Medium-Font-Family);
  --Cognitive-Number-Medium-Font-Size: var(--Platform-Number-Medium-Font-Size);
  --Cognitive-Number-Medium-Font-Weight: var(--Platform-Number-Medium-Font-Weight);
  --Cognitive-Number-Medium-Line-Height: var(--Platform-Number-Medium-Line-Height);
  --Cognitive-Number-Medium-Character-Spacing: var(--Platform-Number-Medium-Character-Spacing);
  --Cognitive-Number-Medium-Paragraph-Spacing: var(--Platform-Number-Medium-Paragraph-Spacing);
  --Cognitive-Number-Medium-SR-Character-Spacing: var(--Platform-Number-Medium-SR-Character-Spacing);
  --Cognitive-Target: var(--Platform-Target);
  --Cognitive-Label: None;
}

