/* Cognitive profile: None */
[data-cognitive-profile="none"] {
  --Cognitive-Multiplier: 1;
  --Cognitive-Multiplier: 1;
  --Cognitive-Target: var(--Platform-Default-Target);
  --Typography-Font-Families-Standard: "Roboto";
  --Typography-Font-Families-Decorative: "Bungee";
  --Typography-Body-Small-Font-Family: var(--Platform-Default-Body-Small-Font-Family);
  --Typography-Body-Small-Line-Height: var(--Platform-Default-Body-Small-Line-Height);
  --Typography-Body-Small-Font-Size: var(--Platform-Default-Body-Small-Font-Size);
  --Typography-Body-Small-Character-Spacing: var(--Platform-Default-Body-Small-Character-Spacing);
  --Typography-Body-Small-Font-Weight: var(--Platform-Default-Body-Small-Font-Weight);
  --Typography-Body-Small-AA-Paragraph-Spacing: var(--Platform-Default-Body-Small-AA-Paragraph-Spacing);
  --Typography-Body-Small-SR-Character-Spacing: var(--Platform-Default-Body-Small-SR-Character-Spacing);
  --Typography-Body-Small-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Small-AAA-Paragraph-Spacing);
  --Typography-Body-SmallSemibold-Font-Family: var(--Platform-Default-Body-Small-Semibold-Font-Family);
  --Typography-Body-SmallSemibold-Font-Size: var(--Platform-Default-Body-Small-Semibold-Font-Size);
  --Typography-Body-SmallSemibold-Font-Weight: var(--Platform-Default-Body-Small-Semibold-Font-Weight);
  --Typography-Body-SmallSemibold-Line-Height: var(--Platform-Default-Body-Small-Semibold-Line-Height);
  --Typography-Body-SmallSemibold-Character-Spacing: var(--Platform-Default-Body-Small-Semibold-Character-Spacing);
  --Typography-Body-SmallSemibold-AA-Paragraph-Spacing: var(--Platform-Default-Body-Small-Semibold-AA-Paragraph-Spacing);
  --Typography-Body-SmallSemibold-SR-Character-Spacing: var(--Platform-Default-Body-Small-Semibold-SR-Character-Spacing);
  --Typography-Body-SmallSemibold-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Small-Semibold-AAA-Paragraph-Spacing);
  --Typography-Body-MediumSemibold-Font-Family: var(--Platform-Default-Body-Medium-Semibold-Font-Family);
  --Typography-Body-MediumSemibold-Font-Size: var(--Platform-Default-Body-Medium-Semibold-Font-Size);
  --Typography-Body-MediumSemibold-Font-Weight: var(--Platform-Default-Body-Medium-Semibold-Font-Weight);
  --Typography-Body-MediumSemibold-Line-Height: var(--Platform-Default-Body-Medium-Semibold-Line-Height);
  --Typography-Body-MediumSemibold-Character-Spacing: var(--Platform-Default-Body-Medium-Semibold-Character-Spacing);
  --Typography-Body-MediumSemibold-AA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-Semibold-AA-Paragraph-Spacing);
  --Typography-Body-MediumSemibold-SR-Character-Spacing: var(--Platform-Default-Body-Medium-Semibold-SR-Character-Spacing);
  --Typography-Body-MediumSemibold-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-Semibold-AAA-Paragraph-Spacing);
  --Typography-Body-Medium-Font-Family: var(--Platform-Default-Body-Medium-Font-Family);
  --Typography-Body-Medium-Font-Size: var(--Platform-Default-Body-Medium-Font-Size);
  --Typography-Body-Medium-Font-Weight: var(--Platform-Default-Body-Medium-Font-Weight);
  --Typography-Body-Medium-Line-Height: var(--Platform-Default-Body-Medium-Line-Height);
  --Typography-Body-Medium-Character-Spacing: var(--Platform-Default-Body-Medium-Character-Spacing);
  --Typography-Body-Medium-AA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-AA-Paragraph-Spacing);
  --Typography-Body-Medium-SR-Character-Spacing: var(--Platform-Default-Body-Medium-Character-Spacing);
  --Typography-Body-Medium-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Medium-AAA-Paragraph-Spacing);
  --Typography-Body-Large-Font-Family: var(--Platform-Default-Body-Large-Font-Family);
  --Typography-Body-Large-Font-Size: var(--Platform-Default-Body-Large-Font-Size);
  --Typography-Body-Large-Font-Weight: var(--Platform-Default-Body-Large-Font-Weight);
  --Typography-Body-Large-Line-Height: var(--Platform-Default-Body-Large-Line-Height);
  --Typography-Body-Large-Character-Spacing: var(--Platform-Default-Body-Large-Character-Spacing);
  --Typography-Body-Large-AA-Paragraph-Spacing: var(--Platform-Default-Body-Large-AA-Paragraph-Spacing);
  --Typography-Body-Large-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Large-AAA-Paragraph-Spacing);
  --Typography-Body-Large-SR-Character-Spacing: var(--Platform-Default-Body-Large-Character-Spacing);
  --Typography-Body-LargeSemibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Typography-Body-LargeSemibold-Font-Size: var(--Platform-Default-Body-Large-Font-Size);
  --Typography-Body-LargeSemibold-Font-Weight: var(--Platform-Default-Body-Large-Semibold-Font-Weight);
  --Typography-Body-LargeSemibold-Line-Height: var(--Platform-Default-Body-Large-Line-Height);
  --Typography-Body-LargeSemibold-Character-Spacing: var(--Platform-Default-Body-Large-Character-Spacing);
  --Typography-Body-LargeSemibold-AA-Paragraph-Spacing: var(--Platform-Default-Body-Large-Semibold-AA-Paragraph-Spacing);
  --Typography-Body-LargeSemibold-SR-Character-Spacing: var(--Platform-Default-Body-Large-SR-Character-Spacing);
  --Typography-Body-LargeSemibold-AAA-Paragraph-Spacing: var(--Platform-Default-Body-Large-Semibold-AAA-Paragraph-Spacing);
  --Typography-Buttons-Small-Font-Family: var(--Platform-Default-Buttons-Small-Font-Family);
  --Typography-Buttons-Small-Font-Size: var(--Platform-Default-Buttons-Small-Font-Size);
  --Typography-Buttons-Small-Font-Weight: var(--Platform-Default-Buttons-Small-Font-Weight);
  --Typography-Buttons-Small-Line-Height: var(--Platform-Default-Buttons-Small-Line-Height);
  --Typography-Buttons-Small-Character-Spacing: var(--Platform-Default-Buttons-Small-Character-Spacing);
  --Typography-Buttons-Small-Paragraph-Spacing: var(--Platform-Default-Buttons-Small-Paragraph-Spacing);
  --Typography-Buttons-Small-SR-Character-Spacing: var(--Platform-Default-Buttons-Small-SR-Character-Spacing);
  --Typography-Buttons-Standard-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Buttons-Standard-Font-Size: var(--Platform-Default-Buttons-Standard-Font-Size);
  --Typography-Buttons-Standard-Font-Weight: var(--Platform-Default-Buttons-Standard-Font-Weight);
  --Typography-Buttons-Standard-Line-Height: var(--Platform-Default-Buttons-Standard-Line-Height);
  --Typography-Buttons-Standard-Character-Spacing: var(--Platform-Default-Buttons-Standard-Character-Spacing);
  --Typography-Buttons-Standard-Paragraph-Spacing: var(--Platform-Default-Buttons-Standard-Paragraph-Spacing);
  --Typography-Buttons-Standard-SR-Character-Spacing: var(--Platform-Default-Buttons-Standard-SR-Character-Spacing);
  --Typography-Buttons-ExtraSmall-Font-Family: var(--Platform-Default-Buttons-Extra-Small-Font-Family);
  --Typography-Buttons-ExtraSmall-Font-Size: var(--Platform-Default-Buttons-Extra-Small-Font-Size);
  --Typography-Buttons-ExtraSmall-Font-Weight: var(--Platform-Default-Buttons-Extra-Small-Font-Weight);
  --Typography-Buttons-ExtraSmall-Line-Height: var(--Platform-Default-Buttons-Extra-Small-Line-Height);
  --Typography-Buttons-ExtraSmall-Character-Spacing: var(--Platform-Default-Buttons-Extra-Small-Character-Spacing);
  --Typography-Buttons-ExtraSmall-Paragraph-Spacing: var(--Platform-Default-Buttons-Extra-Small-Paragraph-Spacing);
  --Typography-Buttons-ExtraSmall-SR-Character-Spacing: var(--Platform-Default-Buttons-Extra-Small-Character-Spacing);
  --Typography-Captions-Standard-Font-Family: var(--Platform-Default-Captions-Standard-Font-Family);
  --Typography-Captions-Standard-Font-Size: var(--Platform-Default-Captions-Standard-Font-Size);
  --Typography-Captions-Standard-Font-Weight: var(--Platform-Default-Captions-Standard-Font-Weight);
  --Typography-Captions-Standard-Line-Height: var(--Platform-Default-Captions-Standard-Line-Height);
  --Typography-Captions-Standard-Character-Spacing: var(--Platform-Default-Captions-Standard-Character-Spacing);
  --Typography-Captions-Standard-AA-Paragraph-Spacing: var(--Platform-Default-Captions-Standard-AA-Paragraph-Spacing);
  --Typography-Captions-Standard-SR-Character-Spacing: var(--Platform-Default-Captions-Standard-SR-Character-Spacing);
  --Typography-Captions-Standard-AAA-Paragraph-Spacing: var(--Platform-Default-Captions-Standard-AAA-Paragraph-Spacing);
  --Typography-Captions-Bold-Font-Family: var(--Platform-Default-Captions-Bold-Font-Family);
  --Typography-Captions-Bold-Font-Size: var(--Platform-Default-Captions-Bold-Font-Size);
  --Typography-Captions-Bold-Font-Weight: var(--Platform-Default-Captions-Bold-Font-Weight);
  --Typography-Captions-Bold-Line-Height: var(--Platform-Default-Captions-Bold-Line-Height);
  --Typography-Captions-Bold-Character-Spacing: var(--Platform-Default-Captions-Bold-Character-Spacing);
  --Typography-Captions-Bold-AA-Paragraph-Spacing: var(--Platform-Default-Captions-Bold-AA-Paragraph-Spacing);
  --Typography-Captions-Bold-SR-Character-Spacing: var(--Platform-Default-Captions-Bold-SR-Character-Spacing);
  --Typography-Captions-Bold-AAA-Paragraph-Spacing: var(--Platform-Default-Captions-Bold-AAA-Paragraph-Spacing);
  --Typography-Subtitles-Small-Font-Family: var(--Platform-Default-Subtitles-Small-Font-Family);
  --Typography-Subtitles-Small-Font-Size: var(--Platform-Default-Subtitles-Small-Font-Size);
  --Typography-Subtitles-Small-Font-Weight: var(--Platform-Default-Subtitles-Small-Font-Weight);
  --Typography-Subtitles-Small-Line-Height: var(--Platform-Default-Subtitles-Small-Line-Height);
  --Typography-Subtitles-Small-Character-Spacing: var(--Platform-Default-Subtitles-Small-Character-Spacing);
  --Typography-Subtitles-Small-Paragraph-Spacing: var(--Platform-Default-Subtitles-Small-Paragraph-Spacing);
  --Typography-Subtitles-Small-SR-Character-Spacing: var(--Platform-Default-Subtitles-Small-SR-Character-Spacing);
  --Typography-Subtitles-Large-Font-Family: var(--Platform-Default-Subtitles-Large-Font-Family);
  --Typography-Subtitles-Large-Font-Size: var(--Platform-Default-Subtitles-Large-Font-Size);
  --Typography-Subtitles-Large-Font-Weight: var(--Platform-Default-Subtitles-Large-Font-Weight);
  --Typography-Subtitles-Large-Line-Height: var(--Platform-Default-Subtitles-Large-Line-Height);
  --Typography-Subtitles-Large-Character-Spacing: var(--Platform-Default-Subtitles-Large-Character-Spacing);
  --Typography-Subtitles-Large-Paragraph-Spacing: var(--Platform-Default-Subtitles-Large-Paragraph-Spacing);
  --Typography-Subtitles-Large-SR-Character-Spacing: var(--Platform-Default-Subtitles-Large-SR-Character-Spacing);
  --Typography-Legal-Standard-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Legal-Standard-Font-Size: var(--Platform-Default-Legal-Standard-Font-Size);
  --Typography-Legal-Standard-Font-Weight: var(--Platform-Default-Legal-Standard-Font-Weight);
  --Typography-Legal-Standard-Line-Height: var(--Platform-Default-Legal-Standard-Line-Height);
  --Typography-Legal-Standard-Character-Spacing: var(--Platform-Default-Legal-Standard-Character-Spacing);
  --Typography-Legal-Standard-AA-Paragraph-Spacing: var(--Platform-Default-Legal-Standard-AA-Paragraph-Spacing);
  --Typography-Legal-Standard-SR-Character-Spacing: var(--Platform-Default-Legal-Standard-SR-Character-Spacing);
  --Typography-Legal-Standard-AAA-Paragraph-Spacing: var(--Platform-Default-Legal-Standard-AAA-Paragraph-Spacing);
  --Typography-Legal-Semibold-Font-Family: var(--Platform-Default-Legal-Semibold-Font-Family);
  --Typography-Legal-Semibold-Font-Size: var(--Platform-Default-Legal-Semibold-Font-Size);
  --Typography-Legal-Semibold-Font-Weight: var(--Platform-Default-Legal-Semibold-Font-Weight);
  --Typography-Legal-Semibold-Line-Height: var(--Platform-Default-Legal-Semibold-Line-Height);
  --Typography-Legal-Semibold-Character-Spacing: var(--Platform-Default-Legal-Semibold-Character-Spacing);
  --Typography-Legal-Semibold-AA-Paragraph-Spacing: var(--Platform-Default-Legal-Semibold-AA-Paragraph-Spacing);
  --Typography-Legal-Semibold-SR-Character-Spacing: var(--Platform-Default-Legal-Semibold-SR-Character-Spacing);
  --Typography-Legal-Semibold-AAA-Paragraph-Spacing: var(--Platform-Default-Legal-Semibold-AAA-Paragraph-Spacing);
  --Typography-Labels-ExtraSmall-Font-Family: var(--Platform-Default-Labels-Extra-Small-Font-Family);
  --Typography-Labels-ExtraSmall-Font-Size: var(--Platform-Default-Labels-Extra-Small-Font-Size);
  --Typography-Labels-ExtraSmall-Font-Weight: var(--Platform-Default-Labels-Extra-Small-Font-Weight);
  --Typography-Labels-ExtraSmall-Line-Height: var(--Platform-Default-Labels-Extra-Small-Line-Height);
  --Typography-Labels-ExtraSmall-Character-Spacing: var(--Platform-Default-Labels-Extra-Small-Character-Spacing);
  --Typography-Labels-ExtraSmall-Paragraph-Spacing: var(--Platform-Default-Labels-Extra-Small-Paragraph-Spacing);
  --Typography-Labels-ExtraSmall-SR-Character-Spacing: var(--Platform-Default-Labels-Extra-Small-SR-Character-Spacing);
  --Typography-Labels-Small-Font-Family: var(--Platform-Default-Labels-Small-Font-Family);
  --Typography-Labels-Small-Font-Size: var(--Platform-Default-Labels-Small-Font-Size);
  --Typography-Labels-Small-Font-Weight: var(--Platform-Default-Labels-Small-Font-Weight);
  --Typography-Labels-Small-Line-Height: var(--Platform-Default-Labels-Extra-Small-Line-Height);
  --Typography-Labels-Small-Character-Spacing: var(--Platform-Default-Labels-Small-Character-Spacing);
  --Typography-Labels-Small-Paragraph-Spacing: var(--Platform-Default-Labels-Extra-Small-Paragraph-Spacing);
  --Typography-Labels-Small-SR-Character-Spacing: var(--Platform-Default-Labels-Small-SR-Character-Spacing);
  --Typography-Labels-Medium-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Labels-Medium-Font-Size: var(--Platform-Default-Labels-Medium-Font-Size);
  --Typography-Labels-Medium-Font-Weight: var(--Platform-Default-Labels-Medium-Font-Weight);
  --Typography-Labels-Medium-Line-Height: var(--Platform-Default-Labels-Medium-Line-Height);
  --Typography-Labels-Medium-Character-Spacing: var(--Platform-Default-Labels-Medium-Character-Spacing);
  --Typography-Labels-Medium-Paragraph-Spacing: var(--Platform-Default-Labels-Medium-Paragraph-Spacing);
  --Typography-Labels-Medium-SR-Character-Spacing: var(--Platform-Default-Labels-Medium-SR-Character-Spacing);
  --Typography-Labels-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Labels-Large-Font-Size: var(--Platform-Default-Labels-Large-Font-Size);
  --Typography-Labels-Large-Font-Weight: var(--Platform-Default-Labels-Large-Font-Weight);
  --Typography-Labels-Large-Line-Height: var(--Platform-Default-Labels-Large-Line-Height);
  --Typography-Labels-Large-Character-Spacing: var(--Platform-Default-Labels-Large-Character-Spacing);
  --Typography-Labels-Large-Paragraph-Spacing: var(--Platform-Default-Labels-Large-Paragraph-Spacing);
  --Typography-Labels-Large-SR-Character-Spacing: var(--Platform-2x-Labels-Large-SR-Character-Spacing);
  --Typography-Overline-Small-Font-Family: var(--Platform-Default-Overline-Small-Font-Family);
  --Typography-Overline-Small-Font-Size: var(--Platform-Default-Overline-Small-Font-Size);
  --Typography-Overline-Small-Font-Weight: var(--Platform-Default-Overline-Small-Font-Weight);
  --Typography-Overline-Small-Line-Height: var(--Platform-Default-Overline-Small-Line-Height);
  --Typography-Overline-Small-Character-Spacing: var(--Platform-Default-Overline-Small-Character-Spacing);
  --Typography-Overline-Small-Paragraph-Spacing: var(--Platform-Default-Overline-Small-Paragraph-Spacing);
  --Typography-Overline-Small-SR-Character-Spacing: var(--Platform-Default-Overline-Small-SR-Character-Spacing);
  --Typography-Overline-Medium-Font-Family: var(--Platform-Default-Overline-Medium-Font-Family);
  --Typography-Overline-Medium-Font-Size: var(--Platform-Default-Overline-Medium-Font-Size);
  --Typography-Overline-Medium-Font-Weight: var(--Platform-Default-Overline-Medium-Font-Weight);
  --Typography-Overline-Medium-Line-Height: var(--Platform-Default-Overline-Medium-Line-Height);
  --Typography-Overline-Medium-Character-Spacing: var(--Platform-Default-Overline-Medium-Character-Spacing);
  --Typography-Overline-Medium-Paragraph-Spacing: var(--Platform-Default-Overline-Medium-Paragraph-Spacing);
  --Typography-Overline-Medium-SR-Character-Spacing: var(--Platform-Default-Overline-Medium-SR-Character-Spacing);
  --Typography-Overline-Large-Font-Family: var(--Platform-Default-Overline-Large-Font-Family);
  --Typography-Overline-Large-Font-Size: var(--Platform-Default-Overline-Large-Font-Size);
  --Typography-Overline-Large-Font-Weight: var(--Platform-Default-Overline-Large-Font-Weight);
  --Typography-Overline-Large-Line-Height: var(--Platform-Default-Overline-Large-Line-Height);
  --Typography-Overline-Large-Character-Spacing: var(--Platform-Default-Overline-Large-Character-Spacing);
  --Typography-Overline-Large-Paragraph-Spacing: var(--Platform-Default-Overline-Large-Paragraph-Spacing);
  --Typography-Overline-Large-SR-Character-Spacing: var(--Platform-Default-Overline-Large-SR-Character-Spacing);
  --Typography-Display-Small-Font-Family: var(--Platform-Default-Display-Small-Font-Family);
  --Typography-Display-Small-Font-Size: var(--Platform-Default-Display-Small-Font-Size);
  --Typography-Display-Small-Font-Weight: var(--Platform-Default-Display-Small-Font-Weight);
  --Typography-Display-Small-Line-Height: var(--Platform-Default-Display-Small-Line-Height);
  --Typography-Display-Small-Character-Spacing: var(--Platform-Default-Display-Small-Character-Spacing);
  --Typography-Display-Small-Paragraph-Spacing: var(--Platform-Default-Display-Small-Paragraph-Spacing);
  --Typography-Display-Small-SR-Character-Spacing: var(--Platform-Default-Display-Small-SR-Character-Spacing);
  --Typography-Display-Large-Font-Family: var(--Platform-Default-Display-Large-Font-Family);
  --Typography-Display-Large-Font-Size: var(--Platform-Default-Display-Large-Font-Size);
  --Typography-Display-Large-Font-Weight: var(--Platform-Default-Display-Large-Font-Weight);
  --Typography-Display-Large-Line-Height: var(--Platform-Default-Display-Large-Line-Height);
  --Typography-Display-Large-Character-Spacing: var(--Platform-Default-Display-Large-Character-Spacing);
  --Typography-Display-Large-Paragraph-Spacing: var(--Platform-Default-Display-Large-Paragraph-Spacing);
  --Typography-Display-Large-SR-Character-Spacing: var(--Platform-Default-Display-Large-SR-Character-Spacing);
  --Typography-Headers-H1-Font-Family: var(--Platform-Default-Headers-H1-Font-Family);
  --Typography-Headers-H1-Font-Size: var(--Platform-Default-Headers-H1-Font-Size);
  --Typography-Headers-H1-Font-Weight: var(--Platform-Default-Headers-H1-Font-Weight);
  --Typography-Headers-H1-Line-Height: var(--Platform-Default-Headers-H1-Line-Height);
  --Typography-Headers-H1-Character-Spacing: var(--Platform-Default-Headers-H1-Character-Spacing);
  --Typography-Headers-H1-Paragraph-Spacing: var(--Platform-Default-Headers-H1-Paragraph-Spacing);
  --Typography-Headers-H1-SR-Character-Spacing: var(--Platform-Default-Headers-H1-SR-Character-Spacing);
  --Typography-Headers-H2-Font-Family: var(--Platform-Default-Headers-H2-Font-Family);
  --Typography-Headers-H2-Font-Size: var(--Platform-Default-Headers-H2-Font-Size);
  --Typography-Headers-H2-Font-Weight: var(--Platform-Default-Headers-H2-Font-Weight);
  --Typography-Headers-H2-Line-Height: var(--Platform-Default-Headers-H2-Line-Height);
  --Typography-Headers-H2-Character-Spacing: var(--Platform-Default-Headers-H2-Character-Spacing);
  --Typography-Headers-H2-Paragraph-Spacing: var(--Platform-Default-Headers-H2-Paragraph-Spacing);
  --Typography-Headers-H2-SR-Character-Spacing: var(--Platform-Default-Headers-H2-SR-Character-Spacing);
  --Typography-Headers-H3-Font-Family: var(--Platform-Default-Headers-H3-Font-Family);
  --Typography-Headers-H3-Font-Size: var(--Platform-Default-Headers-H3-Font-Size);
  --Typography-Headers-H3-Font-Weight: var(--Platform-Default-Headers-H3-Font-Weight);
  --Typography-Headers-H3-Line-Height: var(--Platform-Default-Headers-H3-Line-Height);
  --Typography-Headers-H3-Character-Spacing: var(--Platform-Default-Headers-H3-Character-Spacing);
  --Typography-Headers-H3-Paragraph-Spacing: var(--Platform-Default-Headers-H3-Paragraph-Spacing);
  --Typography-Headers-H3-SR-Character-Spacing: var(--Platform-Default-Headers-H3-SR-Character-Spacing);
  --Typography-Headers-H4-Font-Family: var(--Platform-Default-Headers-H4-Font-Family);
  --Typography-Headers-H4-Font-Size: var(--Platform-Default-Headers-H4-Font-Size);
  --Typography-Headers-H4-Font-Weight: var(--Platform-Default-Headers-H4-Font-Weight);
  --Typography-Headers-H4-Line-Height: var(--Platform-Default-Headers-H4-Line-Height);
  --Typography-Headers-H4-Character-Spacing: var(--Platform-Default-Headers-H4-Character-Spacing);
  --Typography-Headers-H4-Paragraph-Spacing: var(--Platform-Default-Headers-H4-Paragraph-Spacing);
  --Typography-Headers-H4-SR-Character-Spacing: var(--Platform-Default-Headers-H4-SR-Character-Spacing);
  --Typography-Headers-H5-Font-Family: var(--Platform-Default-Headers-H5-Font-Family);
  --Typography-Headers-H5-Font-Size: var(--Platform-Default-Headers-H5-Font-Size);
  --Typography-Headers-H5-Font-Weight: var(--Platform-Default-Headers-H5-Font-Weight);
  --Typography-Headers-H5-Line-Height: var(--Platform-Default-Headers-H5-Line-Height);
  --Typography-Headers-H5-Character-Spacing: var(--Platform-Default-Headers-H5-Character-Spacing);
  --Typography-Headers-H5-Paragraph-Spacing: var(--Platform-Default-Headers-H5-Paragraph-Spacing);
  --Typography-Headers-H5-SR-Character-Spacing: var(--Platform-Default-Headers-H5-SR-Character-Spacing);
  --Typography-Headers-H6-Font-Family: var(--Platform-Default-Headers-H6-Font-Family);
  --Typography-Headers-H6-Font-Size: var(--Platform-Default-Headers-H6-Font-Size);
  --Typography-Headers-H6-Font-Weight: var(--Platform-Default-Headers-H6-Font-Weight);
  --Typography-Headers-H6-Line-Height: var(--Platform-Default-Headers-H6-Line-Height);
  --Typography-Headers-H6-Character-Spacing: var(--Platform-Default-Headers-H6-Character-Spacing);
  --Typography-Headers-H6-Paragraph-Spacing: var(--Platform-Default-Headers-H6-Paragraph-Spacing);
  --Typography-Headers-H6-SR-Character-Spacing: var(--Platform-Default-Headers-H6-SR-Character-Spacing);
  --Typography-Number-Small-Font-Family: var(--Platform-Default-Number-Small-Font-Family);
  --Typography-Number-Small-Font-Size: var(--Platform-Default-Number-Small-Font-Size);
  --Typography-Number-Small-Font-Weight: var(--Platform-Default-Number-Small-Font-Weight);
  --Typography-Number-Small-Line-Height: var(--Platform-Default-Number-Small-Line-Height);
  --Typography-Number-Small-Character-Spacing: var(--Platform-Default-Number-Small-Character-Spacing);
  --Typography-Number-Small-Paragraph-Spacing: var(--Platform-Default-Number-Small-Paragraph-Spacing);
  --Typography-Number-Small-SR-Character-Spacing: var(--Platform-Default-Number-Small-SR-Character-Spacing);
  --Typography-Number-Large-Font-Family: var(--Platform-Default-Number-Large-Font-Family);
  --Typography-Number-Large-Font-Size: var(--Platform-Default-Number-Large-Font-Size);
  --Typography-Number-Large-Font-Weight: var(--Platform-Default-Number-Large-Font-Weight);
  --Typography-Number-Large-Line-Height: var(--Platform-Default-Number-Large-Line-Height);
  --Typography-Number-Large-Character-Spacing: var(--Platform-Default-Number-Large-Character-Spacing);
  --Typography-Number-Large-SR-Character-Spacing: var(--Platform-Default-Number-Large-SR-Character-Spacing);
  --Typography-Number-Medium-Font-Family: var(--Platform-Default-Number-Medium-Font-Family);
  --Typography-Number-Medium-Font-Size: var(--Platform-Default-Number-Medium-Font-Size);
  --Typography-Number-Medium-Font-Weight: var(--Platform-Default-Number-Medium-Font-Weight);
  --Typography-Number-Medium-Line-Height: var(--Platform-Default-Number-Medium-Line-Height);
  --Typography-Number-Medium-Character-Spacing: var(--Platform-Default-Number-Medium-Character-Spacing);
  --Typography-Number-Medium-Paragraph-Spacing: var(--Platform-Default-Number-Medium-Paragraph-Spacing);
  --Typography-Number-Medium-SR-Character-Spacing: var(--Platform-Default-Number-Medium-SR-Character-Spacing);
}
