:root, ::after, ::before {
  --Typography-Font-Families-Standard: "OpenDyslexic";
  --Typography-Font-Families-Decorative: "Open Sans";
  --Typography-Body-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Body-Small-Line-Height: 21px;
  --Typography-Body-Small-Font-Size: 14px;
  --Typography-Body-Small-Character-Spacing: 0px;
  --Typography-Body-Small-Font-Weight: 500px;
  --Typography-Body-Small-AA-Paragraph-Spacing: 28px;
  --Typography-Body-Small-SR-Character-Spacing: 1.68px;
  --Typography-Body-Small-AAA-Paragraph-Spacing: 31.5px;
  --Typography-Body-SmallSemibold-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Body-SmallSemibold-Font-Size: 14px;
  --Typography-Body-SmallSemibold-Font-Weight: 600px;
  --Typography-Body-SmallSemibold-Line-Height: 21px;
  --Typography-Body-SmallSemibold-Character-Spacing: 0px;
  --Typography-Body-SmallSemibold-AA-Paragraph-Spacing: 28px;
  --Typography-Body-SmallSemibold-SR-Character-Spacing: 0px;
  --Typography-Body-SmallSemibold-AAA-Paragraph-Spacing: 31.5px;
  --Typography-Body-MediumSemibold-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Body-MediumSemibold-Font-Size: 16px;
  --Typography-Body-MediumSemibold-Font-Weight: 600px;
  --Typography-Body-MediumSemibold-Line-Height: 24px;
  --Typography-Body-MediumSemibold-Character-Spacing: 0px;
  --Typography-Body-MediumSemibold-AA-Paragraph-Spacing: 32px;
  --Typography-Body-MediumSemibold-SR-Character-Spacing: 1.92px;
  --Typography-Body-MediumSemibold-AAA-Paragraph-Spacing: 36px;
  --Typography-Body-Medium-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Body-Medium-Font-Size: 16px;
  --Typography-Body-Medium-Font-Weight: 500px;
  --Typography-Body-Medium-Line-Height: 24px;
  --Typography-Body-Medium-Character-Spacing: 0px;
  --Typography-Body-Medium-AA-Paragraph-Spacing: 32px;
  --Typography-Body-Medium-SR-Character-Spacing: 1.92px;
  --Typography-Body-Medium-AAA-Paragraph-Spacing: 36px;
  --Typography-Body-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Body-Large-Font-Size: 18px;
  --Typography-Body-Large-Font-Weight: 600px;
  --Typography-Body-Large-Line-Height: 27px;
  --Typography-Body-Large-Character-Spacing: 0px;
  --Typography-Body-Large-AA-Paragraph-Spacing: 36px;
  --Typography-Body-Large-AAA-Paragraph-Spacing: 40.5px;
  --Typography-Body-Large-SR-Character-Spacing: 2.16px;
  --Typography-Body-LargeSemibold-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Body-LargeSemibold-Font-Size: 18px;
  --Typography-Body-LargeSemibold-Font-Weight: 500px;
  --Typography-Body-LargeSemibold-Line-Height: 27px;
  --Typography-Body-LargeSemibold-Character-Spacing: 0px;
  --Typography-Body-LargeSemibold-AA-Paragraph-Spacing: 36px;
  --Typography-Body-LargeSemibold-SR-Character-Spacing: 2.16px;
  --Typography-Body-LargeSemibold-AAA-Paragraph-Spacing: 40.5px;
  --Typography-Buttons-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Buttons-Small-Font-Size: 14px;
  --Typography-Buttons-Small-Font-Weight: 600px;
  --Typography-Buttons-Small-Line-Height: var(--Typography-Default-Buttons-Small-Font-Size);
  --Typography-Buttons-Small-Character-Spacing: 0px;
  --Typography-Buttons-Small-Paragraph-Spacing: 0px;
  --Typography-Buttons-Small-SR-Character-Spacing: 1.68px;
  --Typography-Buttons-Standard-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Buttons-Standard-Font-Size: 16px;
  --Typography-Buttons-Standard-Font-Weight: 600px;
  --Typography-Buttons-Standard-Line-Height: var(--Typography-Default-Buttons-Standard-Font-Size);
  --Typography-Buttons-Standard-Character-Spacing: 0px;
  --Typography-Buttons-Standard-Paragraph-Spacing: 0px;
  --Typography-Buttons-Standard-SR-Character-Spacing: 1.92px;
  --Typography-Buttons-ExtraSmall-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Buttons-ExtraSmall-Font-Size: 11px;
  --Typography-Buttons-ExtraSmall-Font-Weight: 600px;
  --Typography-Buttons-ExtraSmall-Line-Height: var(--Typography-Default-Buttons-Extra-Small-Font-Size);
  --Typography-Buttons-ExtraSmall-Character-Spacing: 0px;
  --Typography-Buttons-ExtraSmall-Paragraph-Spacing: 0px;
  --Typography-Buttons-ExtraSmall-SR-Character-Spacing: 0px;
  --Typography-Captions-Standard-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Captions-Standard-Font-Size: 14px;
  --Typography-Captions-Standard-Font-Weight: 500px;
  --Typography-Captions-Standard-Line-Height: 21px;
  --Typography-Captions-Standard-Character-Spacing: 0px;
  --Typography-Captions-Standard-AA-Paragraph-Spacing: 28px;
  --Typography-Captions-Standard-SR-Character-Spacing: 1.68px;
  --Typography-Captions-Standard-AAA-Paragraph-Spacing: 31.5px;
  --Typography-Captions-Bold-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Captions-Bold-Font-Size: 14px;
  --Typography-Captions-Bold-Font-Weight: 700px;
  --Typography-Captions-Bold-Line-Height: 21px;
  --Typography-Captions-Bold-Character-Spacing: 0px;
  --Typography-Captions-Bold-AA-Paragraph-Spacing: 28px;
  --Typography-Captions-Bold-SR-Character-Spacing: 1.68px;
  --Typography-Captions-Bold-AAA-Paragraph-Spacing: 31.5px;
  --Typography-Subtitles-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Subtitles-Small-Font-Size: 16px;
  --Typography-Subtitles-Small-Font-Weight: 700px;
  --Typography-Subtitles-Small-Line-Height: 24px;
  --Typography-Subtitles-Small-Character-Spacing: 0px;
  --Typography-Subtitles-Small-Paragraph-Spacing: 48px;
  --Typography-Subtitles-Small-SR-Character-Spacing: 1.92px;
  --Typography-Subtitles-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Subtitles-Large-Font-Size: 18px;
  --Typography-Subtitles-Large-Font-Weight: 700px;
  --Typography-Subtitles-Large-Line-Height: 27px;
  --Typography-Subtitles-Large-Character-Spacing: 0px;
  --Typography-Subtitles-Large-Paragraph-Spacing: 54px;
  --Typography-Subtitles-Large-SR-Character-Spacing: 2.16px;
  --Typography-Legal-Standard-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Legal-Standard-Font-Size: 10px;
  --Typography-Legal-Standard-Font-Weight: 400px;
  --Typography-Legal-Standard-Line-Height: 15px;
  --Typography-Legal-Standard-Character-Spacing: 0px;
  --Typography-Legal-Standard-AA-Paragraph-Spacing: 20px;
  --Typography-Legal-Standard-SR-Character-Spacing: 1.2px;
  --Typography-Legal-Standard-AAA-Paragraph-Spacing: 22.5px;
  --Typography-Legal-Semibold-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Legal-Semibold-Font-Size: 10px;
  --Typography-Legal-Semibold-Font-Weight: 600px;
  --Typography-Legal-Semibold-Line-Height: 15px;
  --Typography-Legal-Semibold-Character-Spacing: 0px;
  --Typography-Legal-Semibold-AA-Paragraph-Spacing: 20px;
  --Typography-Legal-Semibold-SR-Character-Spacing: 1.2px;
  --Typography-Legal-Semibold-AAA-Paragraph-Spacing: 22.5px;
  --Typography-Labels-ExtraSmall-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Labels-ExtraSmall-Font-Size: 11px;
  --Typography-Labels-ExtraSmall-Font-Weight: 600px;
  --Typography-Labels-ExtraSmall-Line-Height: 16.5px;
  --Typography-Labels-ExtraSmall-Character-Spacing: 0px;
  --Typography-Labels-ExtraSmall-Paragraph-Spacing: 0px;
  --Typography-Labels-ExtraSmall-SR-Character-Spacing: 1.32px;
  --Typography-Labels-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Labels-Small-Font-Size: 12.5px;
  --Typography-Labels-Small-Font-Weight: 600px;
  --Typography-Labels-Small-Line-Height: 18.75px;
  --Typography-Labels-Small-Character-Spacing: 0px;
  --Typography-Labels-Small-Paragraph-Spacing: 0px;
  --Typography-Labels-Small-SR-Character-Spacing: 1.5px;
  --Typography-Labels-Medium-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Labels-Medium-Font-Size: 16px;
  --Typography-Labels-Medium-Font-Weight: 600px;
  --Typography-Labels-Medium-Line-Height: 24px;
  --Typography-Labels-Medium-Character-Spacing: 0px;
  --Typography-Labels-Medium-Paragraph-Spacing: 0px;
  --Typography-Labels-Medium-SR-Character-Spacing: 1.92px;
  --Typography-Labels-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Labels-Large-Font-Size: 18px;
  --Typography-Labels-Large-Font-Weight: 600px;
  --Typography-Labels-Large-Line-Height: 27px;
  --Typography-Labels-Large-Character-Spacing: 0px;
  --Typography-Labels-Large-Paragraph-Spacing: 0px;
  --Typography-Labels-Large-SR-Character-Spacing: 2.16px;
  --Typography-Overline-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Overline-Small-Font-Size: 14px;
  --Typography-Overline-Small-Font-Weight: 500px;
  --Typography-Overline-Small-Line-Height: 21px;
  --Typography-Overline-Small-Character-Spacing: 0px;
  --Typography-Overline-Small-Paragraph-Spacing: 0px;
  --Typography-Overline-Small-SR-Character-Spacing: 1.68px;
  --Typography-Overline-Medium-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Overline-Medium-Font-Size: 16px;
  --Typography-Overline-Medium-Font-Weight: 600px;
  --Typography-Overline-Medium-Line-Height: 24px;
  --Typography-Overline-Medium-Character-Spacing: 0px;
  --Typography-Overline-Medium-Paragraph-Spacing: 48px;
  --Typography-Overline-Medium-SR-Character-Spacing: 1.92px;
  --Typography-Overline-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Overline-Large-Font-Size: 18px;
  --Typography-Overline-Large-Font-Weight: 600px;
  --Typography-Overline-Large-Line-Height: 27px;
  --Typography-Overline-Large-Character-Spacing: 0px;
  --Typography-Overline-Large-Paragraph-Spacing: 54px;
  --Typography-Overline-Large-SR-Character-Spacing: 2.16px;
  --Typography-Display-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Display-Small-Font-Size: 42px;
  --Typography-Display-Small-Font-Weight: 600px;
  --Typography-Display-Small-Line-Height: var(--Typography-Default-Display-Small-Font-Size);
  --Typography-Display-Small-Character-Spacing: 0px;
  --Typography-Display-Small-Paragraph-Spacing: 0px;
  --Typography-Display-Small-SR-Character-Spacing: 5.04px;
  --Typography-Display-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Display-Large-Font-Size: 48px;
  --Typography-Display-Large-Font-Weight: 600px;
  --Typography-Display-Large-Line-Height: var(--Typography-Default-Display-Large-Font-Size);
  --Typography-Display-Large-Character-Spacing: 0px;
  --Typography-Display-Large-Paragraph-Spacing: 0px;
  --Typography-Display-Large-SR-Character-Spacing: 5.76px;
  --Typography-Headers-H1-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Headers-H1-Font-Size: 32px;
  --Typography-Headers-H1-Font-Weight: 600px;
  --Typography-Headers-H1-Line-Height: var(--Typography-Default-Headers-H1-Font-Size);
  --Typography-Headers-H1-Character-Spacing: 0px;
  --Typography-Headers-H1-Paragraph-Spacing: 0px;
  --Typography-Headers-H1-SR-Character-Spacing: 3.84px;
  --Typography-Headers-H2-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Headers-H2-Font-Size: 28px;
  --Typography-Headers-H2-Font-Weight: 600px;
  --Typography-Headers-H2-Line-Height: var(--Typography-Default-Headers-H2-Font-Size);
  --Typography-Headers-H2-Character-Spacing: 0px;
  --Typography-Headers-H2-Paragraph-Spacing: 0px;
  --Typography-Headers-H2-SR-Character-Spacing: 3.36px;
  --Typography-Headers-H3-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Headers-H3-Font-Size: 24px;
  --Typography-Headers-H3-Font-Weight: 600px;
  --Typography-Headers-H3-Line-Height: var(--Typography-Default-Headers-H3-Font-Size);
  --Typography-Headers-H3-Character-Spacing: 0px;
  --Typography-Headers-H3-Paragraph-Spacing: 0px;
  --Typography-Headers-H3-SR-Character-Spacing: 2.88px;
  --Typography-Headers-H4-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Headers-H4-Font-Size: 20px;
  --Typography-Headers-H4-Font-Weight: 600px;
  --Typography-Headers-H4-Line-Height: var(--Typography-Default-Headers-H4-Font-Size);
  --Typography-Headers-H4-Character-Spacing: 0px;
  --Typography-Headers-H4-Paragraph-Spacing: 0px;
  --Typography-Headers-H4-SR-Character-Spacing: 2.4px;
  --Typography-Headers-H5-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Headers-H5-Font-Size: 18px;
  --Typography-Headers-H5-Font-Weight: 600px;
  --Typography-Headers-H5-Line-Height: var(--Typography-Default-Headers-H5-Font-Size);
  --Typography-Headers-H5-Character-Spacing: 0px;
  --Typography-Headers-H5-Paragraph-Spacing: 0px;
  --Typography-Headers-H5-SR-Character-Spacing: 2.16px;
  --Typography-Headers-H6-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Headers-H6-Font-Size: 16px;
  --Typography-Headers-H6-Font-Weight: 600px;
  --Typography-Headers-H6-Line-Height: var(--Typography-Default-Headers-H6-Font-Size);
  --Typography-Headers-H6-Character-Spacing: 0px;
  --Typography-Headers-H6-Paragraph-Spacing: 0px;
  --Typography-Headers-H6-SR-Character-Spacing: 1.92px;
  --Typography-Number-Small-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Number-Small-Font-Size: 16px;
  --Typography-Number-Small-Font-Weight: 700px;
  --Typography-Number-Small-Line-Height: var(--Typography-Default-Number-Small-Font-Size);
  --Typography-Number-Small-Character-Spacing: 0px;
  --Typography-Number-Small-Paragraph-Spacing: 0px;
  --Typography-Number-Small-SR-Character-Spacing: 1.92px;
  --Typography-Number-Large-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Number-Large-Font-Size: 36px;
  --Typography-Number-Large-Font-Weight: 700px;
  --Typography-Number-Large-Line-Height: 36px;
  --Typography-Number-Large-Character-Spacing: 0px;
  --Typography-Number-Large-Paragraph-Spacing: 0px;
  --Typography-Number-Large-SR-Character-Spacing: 4.32px;
  --Typography-Number-Medium-Font-Family: var(--Congnitive-Font-Families-Standard);
  --Typography-Number-Medium-Font-Size: 28px;
  --Typography-Number-Medium-Font-Weight: 700px;
  --Typography-Number-Medium-Line-Height: 28px;
  --Typography-Number-Medium-Character-Spacing: 0px;
  --Typography-Number-Medium-Paragraph-Spacing: 0px;
  --Typography-Number-Medium-SR-Character-Spacing: 3.36px;
  --Congitive-Target: var(--Platform-Default-Target);
  --Cognitive-Multiplier: 1.5;
  --Cognitive-Multiplier: 1.33;
  --Cognitive-Target: var(--Platform-Default-Target);
  --Typography-Font-Families-Standard: "OpenDyslexic";
  --Typography-Font-Families-Decorative: "Open Sans";
  --Typography-Body-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Body-Small-Line-Height: 21;
  --Typography-Body-Small-Font-Size: 14;
  --Typography-Body-Small-Font-Weight: 500;
  --Typography-Body-Small-AA-Paragraph-Spacing: 28;
  --Typography-Body-Small-SR-Character-Spacing: 1.68;
  --Typography-Body-Small-AAA-Paragraph-Spacing: 31.5;
  --Typography-Body-SmallSemibold-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Body-SmallSemibold-Font-Size: 14;
  --Typography-Body-SmallSemibold-Font-Weight: 600;
  --Typography-Body-SmallSemibold-Line-Height: 21;
  --Typography-Body-SmallSemibold-AA-Paragraph-Spacing: 28;
  --Typography-Body-SmallSemibold-AAA-Paragraph-Spacing: 31.5;
  --Typography-Body-MediumSemibold-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Body-MediumSemibold-Font-Size: 16;
  --Typography-Body-MediumSemibold-Font-Weight: 600;
  --Typography-Body-MediumSemibold-Line-Height: 24;
  --Typography-Body-MediumSemibold-AA-Paragraph-Spacing: 32;
  --Typography-Body-MediumSemibold-SR-Character-Spacing: 1.92;
  --Typography-Body-MediumSemibold-AAA-Paragraph-Spacing: 36;
  --Typography-Body-Medium-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Body-Medium-Font-Size: 16;
  --Typography-Body-Medium-Font-Weight: 500;
  --Typography-Body-Medium-Line-Height: 24;
  --Typography-Body-Medium-AA-Paragraph-Spacing: 32;
  --Typography-Body-Medium-SR-Character-Spacing: 1.92;
  --Typography-Body-Medium-AAA-Paragraph-Spacing: 36;
  --Typography-Body-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Body-Large-Font-Size: 18;
  --Typography-Body-Large-Font-Weight: 600;
  --Typography-Body-Large-Line-Height: 27;
  --Typography-Body-Large-AA-Paragraph-Spacing: 36;
  --Typography-Body-Large-AAA-Paragraph-Spacing: 40.5;
  --Typography-Body-Large-SR-Character-Spacing: 2.16;
  --Typography-Body-LargeSemibold-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Body-LargeSemibold-Font-Size: 18;
  --Typography-Body-LargeSemibold-Font-Weight: 500;
  --Typography-Body-LargeSemibold-Line-Height: 27;
  --Typography-Body-LargeSemibold-AA-Paragraph-Spacing: 36;
  --Typography-Body-LargeSemibold-SR-Character-Spacing: 2.16;
  --Typography-Body-LargeSemibold-AAA-Paragraph-Spacing: 40.5;
  --Typography-Buttons-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Buttons-Small-Font-Size: 14;
  --Typography-Buttons-Small-Font-Weight: 600;
  --Typography-Buttons-Small-Line-Height: var(--Cognitive-Default-Buttons-Small-Font-Size);
  --Typography-Buttons-Small-SR-Character-Spacing: 1.68;
  --Typography-Buttons-Standard-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Buttons-Standard-Font-Size: 16;
  --Typography-Buttons-Standard-Font-Weight: 600;
  --Typography-Buttons-Standard-Line-Height: var(--Cognitive-Default-Buttons-Standard-Font-Size);
  --Typography-Buttons-Standard-SR-Character-Spacing: 1.92;
  --Typography-Buttons-ExtraSmall-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Buttons-ExtraSmall-Font-Size: 11;
  --Typography-Buttons-ExtraSmall-Font-Weight: 600;
  --Typography-Buttons-ExtraSmall-Line-Height: var(--Cognitive-Default-Buttons-Extra-Small-Font-Size);
  --Typography-Captions-Standard-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Captions-Standard-Font-Size: 14;
  --Typography-Captions-Standard-Font-Weight: 500;
  --Typography-Captions-Standard-Line-Height: 21;
  --Typography-Captions-Standard-AA-Paragraph-Spacing: 28;
  --Typography-Captions-Standard-SR-Character-Spacing: 1.68;
  --Typography-Captions-Standard-AAA-Paragraph-Spacing: 31.5;
  --Typography-Captions-Bold-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Captions-Bold-Font-Size: 14;
  --Typography-Captions-Bold-Font-Weight: 700;
  --Typography-Captions-Bold-Line-Height: 21;
  --Typography-Captions-Bold-AA-Paragraph-Spacing: 28;
  --Typography-Captions-Bold-SR-Character-Spacing: 1.68;
  --Typography-Captions-Bold-AAA-Paragraph-Spacing: 31.5;
  --Typography-Subtitles-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Subtitles-Small-Font-Size: 16;
  --Typography-Subtitles-Small-Font-Weight: 700;
  --Typography-Subtitles-Small-Line-Height: 24;
  --Typography-Subtitles-Small-Paragraph-Spacing: 48;
  --Typography-Subtitles-Small-SR-Character-Spacing: 1.92;
  --Typography-Subtitles-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Subtitles-Large-Font-Size: 18;
  --Typography-Subtitles-Large-Font-Weight: 700;
  --Typography-Subtitles-Large-Line-Height: 27;
  --Typography-Subtitles-Large-Paragraph-Spacing: 54;
  --Typography-Subtitles-Large-SR-Character-Spacing: 2.16;
  --Typography-Legal-Standard-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Legal-Standard-Font-Size: 10;
  --Typography-Legal-Standard-Font-Weight: 400;
  --Typography-Legal-Standard-Line-Height: 15;
  --Typography-Legal-Standard-AA-Paragraph-Spacing: 20;
  --Typography-Legal-Standard-SR-Character-Spacing: 1.2;
  --Typography-Legal-Standard-AAA-Paragraph-Spacing: 22.5;
  --Typography-Legal-Semibold-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Legal-Semibold-Font-Size: 10;
  --Typography-Legal-Semibold-Font-Weight: 600;
  --Typography-Legal-Semibold-Line-Height: 15;
  --Typography-Legal-Semibold-AA-Paragraph-Spacing: 20;
  --Typography-Legal-Semibold-SR-Character-Spacing: 1.2;
  --Typography-Legal-Semibold-AAA-Paragraph-Spacing: 22.5;
  --Typography-Labels-ExtraSmall-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Labels-ExtraSmall-Font-Size: 11;
  --Typography-Labels-ExtraSmall-Font-Weight: 600;
  --Typography-Labels-ExtraSmall-Line-Height: 16.5;
  --Typography-Labels-ExtraSmall-SR-Character-Spacing: 1.32;
  --Typography-Labels-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Labels-Small-Font-Size: 12.5;
  --Typography-Labels-Small-Font-Weight: 600;
  --Typography-Labels-Small-Line-Height: 18.75;
  --Typography-Labels-Small-SR-Character-Spacing: 1.5;
  --Typography-Labels-Medium-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Labels-Medium-Font-Size: 16;
  --Typography-Labels-Medium-Font-Weight: 600;
  --Typography-Labels-Medium-Line-Height: 24;
  --Typography-Labels-Medium-SR-Character-Spacing: 1.92;
  --Typography-Labels-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Labels-Large-Font-Size: 18;
  --Typography-Labels-Large-Font-Weight: 600;
  --Typography-Labels-Large-Line-Height: 27;
  --Typography-Labels-Large-SR-Character-Spacing: 2.16;
  --Typography-Overline-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Overline-Small-Font-Size: 14;
  --Typography-Overline-Small-Font-Weight: 500;
  --Typography-Overline-Small-Line-Height: 21;
  --Typography-Overline-Small-SR-Character-Spacing: 1.68;
  --Typography-Overline-Medium-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Overline-Medium-Font-Size: 16;
  --Typography-Overline-Medium-Font-Weight: 600;
  --Typography-Overline-Medium-Line-Height: 24;
  --Typography-Overline-Medium-Paragraph-Spacing: 48;
  --Typography-Overline-Medium-SR-Character-Spacing: 1.92;
  --Typography-Overline-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Overline-Large-Font-Size: 18;
  --Typography-Overline-Large-Font-Weight: 600;
  --Typography-Overline-Large-Line-Height: 27;
  --Typography-Overline-Large-Paragraph-Spacing: 54;
  --Typography-Overline-Large-SR-Character-Spacing: 2.16;
  --Typography-Display-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Display-Small-Font-Size: 42;
  --Typography-Display-Small-Font-Weight: 600;
  --Typography-Display-Small-Line-Height: var(--Cognitive-Default-Display-Small-Font-Size);
  --Typography-Display-Small-SR-Character-Spacing: 5.04;
  --Typography-Display-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Display-Large-Font-Size: 48;
  --Typography-Display-Large-Font-Weight: 600;
  --Typography-Display-Large-Line-Height: var(--Cognitive-Default-Display-Large-Font-Size);
  --Typography-Display-Large-SR-Character-Spacing: 5.76;
  --Typography-Headers-H1-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Headers-H1-Font-Size: 32;
  --Typography-Headers-H1-Font-Weight: 600;
  --Typography-Headers-H1-Line-Height: var(--Cognitive-Default-Headers-H1-Font-Size);
  --Typography-Headers-H1-SR-Character-Spacing: 3.84;
  --Typography-Headers-H2-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Headers-H2-Font-Size: 28;
  --Typography-Headers-H2-Font-Weight: 600;
  --Typography-Headers-H2-Line-Height: var(--Cognitive-Default-Headers-H2-Font-Size);
  --Typography-Headers-H2-SR-Character-Spacing: 3.36;
  --Typography-Headers-H3-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Headers-H3-Font-Size: 24;
  --Typography-Headers-H3-Font-Weight: 600;
  --Typography-Headers-H3-Line-Height: var(--Cognitive-Default-Headers-H3-Font-Size);
  --Typography-Headers-H3-SR-Character-Spacing: 2.88;
  --Typography-Headers-H4-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Headers-H4-Font-Size: 20;
  --Typography-Headers-H4-Font-Weight: 600;
  --Typography-Headers-H4-Line-Height: var(--Cognitive-Default-Headers-H4-Font-Size);
  --Typography-Headers-H4-SR-Character-Spacing: 2.4;
  --Typography-Headers-H5-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Headers-H5-Font-Size: 18;
  --Typography-Headers-H5-Font-Weight: 600;
  --Typography-Headers-H5-Line-Height: var(--Cognitive-Default-Headers-H5-Font-Size);
  --Typography-Headers-H5-SR-Character-Spacing: 2.16;
  --Typography-Headers-H6-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Headers-H6-Font-Size: 16;
  --Typography-Headers-H6-Font-Weight: 600;
  --Typography-Headers-H6-Line-Height: var(--Cognitive-Default-Headers-H6-Font-Size);
  --Typography-Headers-H6-SR-Character-Spacing: 1.92;
  --Typography-Number-Small-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Number-Small-Font-Size: 16;
  --Typography-Number-Small-Font-Weight: 700;
  --Typography-Number-Small-Line-Height: var(--Cognitive-Default-Number-Small-Font-Size);
  --Typography-Number-Small-SR-Character-Spacing: 1.92;
  --Typography-Number-Large-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Number-Large-Font-Size: 36;
  --Typography-Number-Large-Font-Weight: 700;
  --Typography-Number-Large-Line-Height: 36;
  --Typography-Number-Large-SR-Character-Spacing: 4.32;
  --Typography-Number-Medium-Font-Family: var(--Typography-Font-Families-Standard);
  --Typography-Number-Medium-Font-Size: 28;
  --Typography-Number-Medium-Font-Weight: 700;
  --Typography-Number-Medium-Line-Height: 28;
  --Typography-Number-Medium-SR-Character-Spacing: 3.36;
}
