/* ADHD cognitive specific typography */
[data-cognitive="ADHD"] {
  --Cognitive-Font-Families-Standard: Open Sans;
  --Cognitive-Font-Families-Decorative: Open Sans;
  --Cognitive-Body-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Small-Line-Height: 21px;
  --Cognitive-Body-Small-Font-Size: 14px;
  --Cognitive-Body-Small-Character-Spacing: 0;
  --Cognitive-Body-Small-Font-Weight: 500;
  --Cognitive-Body-Small-AA-Paragraph-Spacing: 28px;
  --Cognitive-Body-Small-SR-Character-Spacing: 1.68;
  --Cognitive-Body-Small-AAA-Paragraph-Spacing: 31.5px;
  --Cognitive-Body-Small-Semibold-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Small-Semibold-Font-Size: 14px;
  --Cognitive-Body-Small-Semibold-Font-Weight: 600;
  --Cognitive-Body-Small-Semibold-Line-Height: 21px;
  --Cognitive-Body-Small-Semibold-Character-Spacing: 0;
  --Cognitive-Body-Small-Semibold-AA-Paragraph-Spacing: 28px;
  --Cognitive-Body-Small-Semibold-SR-Character-Spacing: 0;
  --Cognitive-Body-Small-Semibold-AAA-Paragraph-Spacing: 3.15px;
  --Cognitive-Body-Medium-Semibold-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Medium-Semibold-Font-Size: 16px;
  --Cognitive-Body-Medium-Semibold-Font-Weight: 600;
  --Cognitive-Body-Medium-Semibold-Line-Height: 24px;
  --Cognitive-Body-Medium-Semibold-Character-Spacing: 0;
  --Cognitive-Body-Medium-Semibold-AA-Paragraph-Spacing: 32px;
  --Cognitive-Body-Medium-Semibold-SR-Character-Spacing: 1.92;
  --Cognitive-Body-Medium-Semibold-AAA-Paragraph-Spacing: 36px;
  --Cognitive-Body-Medium-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Medium-Font-Size: 16px;
  --Cognitive-Body-Medium-Font-Weight: 500;
  --Cognitive-Body-Medium-Line-Height: 24px;
  --Cognitive-Body-Medium-Character-Spacing: 0;
  --Cognitive-Body-Medium-AA-Paragraph-Spacing: 32px;
  --Cognitive-Body-Medium-SR-Character-Spacing: 1.92;
  --Cognitive-Body-Medium-AAA-Paragraph-Spacing: 36px;
  --Cognitive-Body-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Large-Font-Size: 18px;
  --Cognitive-Body-Large-Font-Weight: 600;
  --Cognitive-Body-Large-Line-Height: 27px;
  --Cognitive-Body-Large-Character-Spacing: 0;
  --Cognitive-Body-Large-AA-Paragraph-Spacing: 36px;
  --Cognitive-Body-Large-AAA-Paragraph-Spacing: 40.5px;
  --Cognitive-Body-Large-SR-Character-Spacing: 2.16;
  --Cognitive-Body-Large-Semibold-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Body-Large-Semibold-Font-Size: 18px;
  --Cognitive-Body-Large-Semibold-Font-Weight: 500;
  --Cognitive-Body-Large-Semibold-Line-Height: 27px;
  --Cognitive-Body-Large-Semibold-Character-Spacing: 0;
  --Cognitive-Body-Large-Semibold-AA-Paragraph-Spacing: 36px;
  --Cognitive-Body-Large-Semibold-SR-Character-Spacing: 2.16;
  --Cognitive-Body-Large-Semibold-AAA-Paragraph-Spacing: 40.5px;
  --Cognitive-Buttons-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Buttons-Small-Font-Size: 14px;
  --Cognitive-Buttons-Small-Font-Weight: 600;
  --Cognitive-Buttons-Small-Line-Height: var(--Platform-Buttons-Small-Font-Size);
  --Cognitive-Buttons-Small-Character-Spacing: 0;
  --Cognitive-Buttons-Small-Paragraph-Spacing: 0px;
  --Cognitive-Buttons-Small-SR-Character-Spacing: 1.68;
  --Cognitive-Buttons-Standard-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Buttons-Standard-Font-Size: 16px;
  --Cognitive-Buttons-Standard-Font-Weight: 600;
  --Cognitive-Buttons-Standard-Line-Height: var(--Platform-Buttons-Standard-Font-Size);
  --Cognitive-Buttons-Standard-Character-Spacing: 0;
  --Cognitive-Buttons-Standard-Paragraph-Spacing: 0px;
  --Cognitive-Buttons-Standard-SR-Character-Spacing: 1.92;
  --Cognitive-Buttons-Extra-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Buttons-Extra-Small-Font-Size: 11px;
  --Cognitive-Buttons-Extra-Small-Font-Weight: 600;
  --Cognitive-Buttons-Extra-Small-Line-Height: var(--Platform-Buttons-Extra-Small-Font-Size);
  --Cognitive-Buttons-Extra-Small-Character-Spacing: 0;
  --Cognitive-Buttons-Extra-Small-Paragraph-Spacing: 0px;
  --Cognitive-Buttons-Extra-Small-SR-Character-Spacing: 0;
  --Cognitive-Captions-Standard-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Captions-Standard-Font-Size: 14px;
  --Cognitive-Captions-Standard-Font-Weight: 500;
  --Cognitive-Captions-Standard-Line-Height: 21px;
  --Cognitive-Captions-Standard-Character-Spacing: 0;
  --Cognitive-Captions-Standard-AA-Paragraph-Spacing: 28px;
  --Cognitive-Captions-Standard-SR-Character-Spacing: 1.68;
  --Cognitive-Captions-Standard-AAA-Paragraph-Spacing: 31.5px;
  --Cognitive-Captions-Bold-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Captions-Bold-Font-Size: 14px;
  --Cognitive-Captions-Bold-Font-Weight: 700;
  --Cognitive-Captions-Bold-Line-Height: 21px;
  --Cognitive-Captions-Bold-Character-Spacing: 0;
  --Cognitive-Captions-Bold-AA-Paragraph-Spacing: 28px;
  --Cognitive-Captions-Bold-SR-Character-Spacing: 1.68;
  --Cognitive-Captions-Bold-AAA-Paragraph-Spacing: 31.5px;
  --Cognitive-Subtitles-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Subtitles-Small-Font-Size: 16px;
  --Cognitive-Subtitles-Small-Font-Weight: 700;
  --Cognitive-Subtitles-Small-Line-Height: 24px;
  --Cognitive-Subtitles-Small-Character-Spacing: 0;
  --Cognitive-Subtitles-Small-Paragraph-Spacing: 48px;
  --Cognitive-Subtitles-Small-SR-Character-Spacing: 1.92;
  --Cognitive-Subtitles-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Subtitles-Large-Font-Size: 18px;
  --Cognitive-Subtitles-Large-Font-Weight: 700;
  --Cognitive-Subtitles-Large-Line-Height: 27px;
  --Cognitive-Subtitles-Large-Character-Spacing: 0;
  --Cognitive-Subtitles-Large-Paragraph-Spacing: 54px;
  --Cognitive-Subtitles-Large-SR-Character-Spacing: 2.16;
  --Cognitive-Legal-Standard-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Legal-Standard-Font-Size: 10px;
  --Cognitive-Legal-Standard-Font-Weight: 400;
  --Cognitive-Legal-Standard-Line-Height: 15px;
  --Cognitive-Legal-Standard-Character-Spacing: 0;
  --Cognitive-Legal-Standard-AA-Paragraph-Spacing: 20px;
  --Cognitive-Legal-Standard-SR-Character-Spacing: 1.2;
  --Cognitive-Legal-Standard-AAA-Paragraph-Spacing: 22.5px;
  --Cognitive-Legal-Semibold-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Legal-Semibold-Font-Size: 10px;
  --Cognitive-Legal-Semibold-Font-Weight: 600;
  --Cognitive-Legal-Semibold-Line-Height: 15px;
  --Cognitive-Legal-Semibold-Character-Spacing: 0;
  --Cognitive-Legal-Semibold-AA-Paragraph-Spacing: 20px;
  --Cognitive-Legal-Semibold-SR-Character-Spacing: 1.2;
  --Cognitive-Legal-Semibold-AAA-Paragraph-Spacing: 22.5px;
  --Cognitive-Labels-Extra-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Labels-Extra-Small-Font-Size: 11px;
  --Cognitive-Labels-Extra-Small-Font-Weight: 600;
  --Cognitive-Labels-Extra-Small-Line-Height: 16.5px;
  --Cognitive-Labels-Extra-Small-Character-Spacing: 0;
  --Cognitive-Labels-Extra-Small-Paragraph-Spacing: 0px;
  --Cognitive-Labels-Extra-Small-SR-Character-Spacing: 1.32;
  --Cognitive-Labels-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Labels-Small-Font-Size: 12.5px;
  --Cognitive-Labels-Small-Font-Weight: 600;
  --Cognitive-Labels-Small-Line-Height: 18.75px;
  --Cognitive-Labels-Small-Character-Spacing: 0;
  --Cognitive-Labels-Small-Paragraph-Spacing: 0px;
  --Cognitive-Labels-Small-SR-Character-Spacing: 1.5;
  --Cognitive-Labels-Medium-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Labels-Medium-Font-Size: 16px;
  --Cognitive-Labels-Medium-Font-Weight: 600;
  --Cognitive-Labels-Medium-Line-Height: 24px;
  --Cognitive-Labels-Medium-Character-Spacing: 0;
  --Cognitive-Labels-Medium-Paragraph-Spacing: 0px;
  --Cognitive-Labels-Medium-SR-Character-Spacing: 1.92;
  --Cognitive-Labels-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Labels-Large-Font-Size: 18px;
  --Cognitive-Labels-Large-Font-Weight: 600;
  --Cognitive-Labels-Large-Line-Height: 27px;
  --Cognitive-Labels-Large-Character-Spacing: 0;
  --Cognitive-Labels-Large-Paragraph-Spacing: 0px;
  --Cognitive-Labels-Large-SR-Character-Spacing: 2.16;
  --Cognitive-Overline-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Overline-Small-Font-Size: 14px;
  --Cognitive-Overline-Small-Font-Weight: 500;
  --Cognitive-Overline-Small-Line-Height: 21px;
  --Cognitive-Overline-Small-Character-Spacing: 0;
  --Cognitive-Overline-Small-Paragraph-Spacing: 0px;
  --Cognitive-Overline-Small-SR-Character-Spacing: 1.68;
  --Cognitive-Overline-Medium-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Overline-Medium-Font-Size: 16px;
  --Cognitive-Overline-Medium-Font-Weight: 600;
  --Cognitive-Overline-Medium-Line-Height: 24px;
  --Cognitive-Overline-Medium-Character-Spacing: 0;
  --Cognitive-Overline-Medium-Paragraph-Spacing: 48px;
  --Cognitive-Overline-Medium-SR-Character-Spacing: 1.92;
  --Cognitive-Overline-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Overline-Large-Font-Size: 18px;
  --Cognitive-Overline-Large-Font-Weight: 600;
  --Cognitive-Overline-Large-Line-Height: 27px;
  --Cognitive-Overline-Large-Character-Spacing: 0;
  --Cognitive-Overline-Large-Paragraph-Spacing: 54px;
  --Cognitive-Overline-Large-SR-Character-Spacing: 2.16;
  --Cognitive-Display-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Display-Small-Font-Size: 42px;
  --Cognitive-Display-Small-Font-Weight: 600;
  --Cognitive-Display-Small-Line-Height: var(--Platform-Display-Small-Font-Size);
  --Cognitive-Display-Small-Character-Spacing: 0;
  --Cognitive-Display-Small-Paragraph-Spacing: 0px;
  --Cognitive-Display-Small-SR-Character-Spacing: 5.04;
  --Cognitive-Display-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Display-Large-Font-Size: 48px;
  --Cognitive-Display-Large-Font-Weight: 600;
  --Cognitive-Display-Large-Line-Height: var(--Platform-Display-Large-Font-Size);
  --Cognitive-Display-Large-Character-Spacing: 0;
  --Cognitive-Display-Large-Paragraph-Spacing: 0px;
  --Cognitive-Display-Large-SR-Character-Spacing: 5.76;
  --Cognitive-Headers-H1-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Headers-H1-Font-Size: 32px;
  --Cognitive-Headers-H1-Font-Weight: 600;
  --Cognitive-Headers-H1-Line-Height: var(--Platform-Headers-H1-Font-Size);
  --Cognitive-Headers-H1-Character-Spacing: 0;
  --Cognitive-Headers-H1-Paragraph-Spacing: 0px;
  --Cognitive-Headers-H1-SR-Character-Spacing: 3.84;
  --Cognitive-Headers-H2-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Headers-H2-Font-Size: 28px;
  --Cognitive-Headers-H2-Font-Weight: 600;
  --Cognitive-Headers-H2-Line-Height: var(--Platform-Headers-H2-Font-Size);
  --Cognitive-Headers-H2-Character-Spacing: 0;
  --Cognitive-Headers-H2-Paragraph-Spacing: 0px;
  --Cognitive-Headers-H2-SR-Character-Spacing: 3.36;
  --Cognitive-Headers-H3-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Headers-H3-Font-Size: 24px;
  --Cognitive-Headers-H3-Font-Weight: 600;
  --Cognitive-Headers-H3-Line-Height: var(--Platform-Headers-H3-Font-Size);
  --Cognitive-Headers-H3-Character-Spacing: 0;
  --Cognitive-Headers-H3-Paragraph-Spacing: 0px;
  --Cognitive-Headers-H3-SR-Character-Spacing: 2.88;
  --Cognitive-Headers-H4-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Headers-H4-Font-Size: 20px;
  --Cognitive-Headers-H4-Font-Weight: 600;
  --Cognitive-Headers-H4-Line-Height: var(--Platform-Headers-H4-Font-Size);
  --Cognitive-Headers-H4-Character-Spacing: 0;
  --Cognitive-Headers-H4-Paragraph-Spacing: 0px;
  --Cognitive-Headers-H4-SR-Character-Spacing: 2.4;
  --Cognitive-Headers-H5-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Headers-H5-Font-Size: 18px;
  --Cognitive-Headers-H5-Font-Weight: 600;
  --Cognitive-Headers-H5-Line-Height: var(--Platform-Headers-H5-Font-Size);
  --Cognitive-Headers-H5-Character-Spacing: 0;
  --Cognitive-Headers-H5-Paragraph-Spacing: 0px;
  --Cognitive-Headers-H5-SR-Character-Spacing: 2.16;
  --Cognitive-Headers-H6-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Headers-H6-Font-Size: 16px;
  --Cognitive-Headers-H6-Font-Weight: 600;
  --Cognitive-Headers-H6-Line-Height: var(--Platform-Headers-H6-Font-Size);
  --Cognitive-Headers-H6-Character-Spacing: 0;
  --Cognitive-Headers-H6-Paragraph-Spacing: 0px;
  --Cognitive-Headers-H6-SR-Character-Spacing: 1.92;
  --Cognitive-Number-Small-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Number-Small-Font-Size: 16px;
  --Cognitive-Number-Small-Font-Weight: 700;
  --Cognitive-Number-Small-Line-Height: var(--Platform-Number-Small-Font-Size);
  --Cognitive-Number-Small-Character-Spacing: 0;
  --Cognitive-Number-Small-Paragraph-Spacing: 0px;
  --Cognitive-Number-Small-SR-Character-Spacing: 1.92;
  --Cognitive-Number-Large-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Number-Large-Font-Size: 36px;
  --Cognitive-Number-Large-Font-Weight: 700;
  --Cognitive-Number-Large-Line-Height: 36px;
  --Cognitive-Number-Large-Character-Spacing: 0;
  --Cognitive-Number-Large-Paragraph-Spacing: 0px;
  --Cognitive-Number-Large-SR-Character-Spacing: 4.32;
  --Cognitive-Number-Medium-Font-Family: var(--System-Font-Families-Standard);
  --Cognitive-Number-Medium-Font-Size: 28px;
  --Cognitive-Number-Medium-Font-Weight: 700;
  --Cognitive-Number-Medium-Line-Height: 28px;
  --Cognitive-Number-Medium-Character-Spacing: 0;
  --Cognitive-Number-Medium-Paragraph-Spacing: 0px;
  --Cognitive-Number-Medium-SR-Character-Spacing: 3.36;
  --Cognitive-Target: 48px;
  --Cognitive-Label: ADHD;
}

