/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="default"] {
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface: #161c1b;
  --Surface-Dim: #151818;
  --Surface-Bright: #1e2424;
  --Surface-Quiet: #9baaa9;
  --Surface-Dim-Quiet: #99a8a6;
  --Surface-Bright-Quiet: #a2b2b0;
  --Container: #161c1b;
  --Container-Low: #151818;
  --Container-Lowest: #000000;
  --Container-High: #222828;
  --Container-Highest: #262c2c;
  --Container-On-Quiet: #94acaa;
  --Container-Low-Quiet: #91a8a6;
  --Container-Lowest-Quiet: #869c99;
  --Container-High-Quiet: #9fb8b6;
  --Container-Highest-Quiet: #a3bdbb;
}

[data-mode="AAA-dark"] [data-background="default"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #5d7471;
  --On-Color: #95b9b5;
  --Button: #7ca8a3;
  --On-Button: #103734;
  --Button-Half: #7ca8a380;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="primary"] {
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface: #161c1b;
  --Surface-Dim: #151818;
  --Surface-Bright: #1e2424;
  --Surface-Quiet: #9baaa9;
  --Surface-Dim-Quiet: #99a8a6;
  --Surface-Bright-Quiet: #a2b2b0;
  --Container: #161c1b;
  --Container-Low: #151818;
  --Container-Lowest: #000000;
  --Container-High: #222828;
  --Container-Highest: #262c2c;
  --Container-On-Quiet: #94acaa;
  --Container-Low-Quiet: #91a8a6;
  --Container-Lowest-Quiet: #869c99;
  --Container-High-Quiet: #9fb8b6;
  --Container-Highest-Quiet: #a3bdbb;
}

[data-mode="AAA-dark"] [data-background="primary"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #5d7471;
  --On-Color: #95b9b5;
  --Button: #7ca8a3;
  --On-Button: #103734;
  --Button-Half: #7ca8a380;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="primary-light"] {
  --Dropdown-Color-1: #2c1f1eb3;
  --Dropdown-Color-2: #2c1f1e8a;
  --Dropdown-Color-3: #2c1f1e61;
  --Dropdown-Color-4: #2c1f1e52;
  --Dropdown-Color-5: #2c1f1e33;
  --Surface: #462d2c;
  --Surface-Dim: #392524;
  --Surface-Bright: #573a38;
  --Surface-Quiet: #efb7b4;
  --Surface-Dim-Quiet: #dfaaa7;
  --Surface-Bright-Quiet: #fabfbc;
  --Container: #462d2c;
  --Container-Low: #392524;
  --Container-Lowest: #000000;
  --Container-High: #5b3e3c;
  --Container-Highest: #604240;
  --Container-On-Quiet: #e1bcba;
  --Container-Low-Quiet: #d3b0ae;
  --Container-Lowest-Quiet: #ac9290;
  --Container-High-Quiet: #fcd4d2;
  --Container-Highest-Quiet: #fcd4d2;
}

[data-mode="AAA-dark"] [data-background="primary-light"] [data-compnent="surface"] {
  --Icon-Primary: #610000;
  --Icon-Secondary: #432f00;
  --Icon-Tertiary: #610000;
  --Icon-Success: #003a00;
  --Icon-Error: #610000;
  --Icon-Warning: #462d00;
  --Icon-Info: #002c6f;
  --Surface-Border: #a78785;
  --On-Color: #fad3d1;
  --Button: #f07f78;
  --On-Button: #610000;
  --Button-Half: #f07f7880;
  --Hotlink: #fad3d1;
  --Icon-BG: #fad3d1;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="primary-dark"] {
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface: #121313;
  --Surface-Dim: #121313;
  --Surface-Bright: #1a1b1b;
  --Surface-Quiet: #96a4a3;
  --Surface-Dim-Quiet: #96a4a3;
  --Surface-Bright-Quiet: #9caaa9;
  --Container: #121313;
  --Container-Low: #121313;
  --Container-Lowest: #000000;
  --Container-High: #1d1f1f;
  --Container-Highest: #212323;
  --Container-On-Quiet: #87a7a3;
  --Container-Low-Quiet: #87a7a3;
  --Container-Lowest-Quiet: #7f9d9a;
  --Container-High-Quiet: #8fb1ae;
  --Container-Highest-Quiet: #92b5b1;
}

[data-mode="AAA-dark"] [data-background="primary-dark"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #596d6a;
  --On-Color: #95b9b5;
  --Button: #7ca8a3;
  --On-Button: #103734;
  --Button-Half: #7ca8a380;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="secondary"] {
  --Dropdown-Color-1: #15181db3;
  --Dropdown-Color-2: #15181d8a;
  --Dropdown-Color-3: #15181d61;
  --Dropdown-Color-4: #15181d52;
  --Dropdown-Color-5: #15181d33;
  --Surface: #1f252e;
  --Surface-Dim: #1b2026;
  --Surface-Bright: #29313b;
  --Surface-Quiet: #a9b1bb;
  --Surface-Dim-Quiet: #a5acb6;
  --Surface-Bright-Quiet: #b8c0ca;
  --Container: #1f252e;
  --Container-Low: #1b2026;
  --Container-Lowest: #000000;
  --Container-High: #2d353f;
  --Container-Highest: #303943;
  --Container-On-Quiet: #a9b1bb;
  --Container-Low-Quiet: #a5acb6;
  --Container-Lowest-Quiet: #91979e;
  --Container-High-Quiet: #bec6d0;
  --Container-Highest-Quiet: #c3cbd5;
}

[data-mode="AAA-dark"] [data-background="secondary"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #737c88;
  --On-Color: #b8c3d1;
  --Button: #91a1b5;
  --On-Button: #19334f;
  --Button-Half: #91a1b580;
  --Hotlink: #dfe5ec;
  --Icon-BG: #0a0c10;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="secondary-light"] {
  --Dropdown-Color-1: #2b2721b3;
  --Dropdown-Color-2: #2b27218a;
  --Dropdown-Color-3: #2b272161;
  --Dropdown-Color-4: #2b272152;
  --Dropdown-Color-5: #2b272133;
  --Surface: #443d30;
  --Surface-Dim: #373227;
  --Surface-Bright: #544c3d;
  --Surface-Quiet: #e3d1a8;
  --Surface-Dim-Quiet: #d1c09a;
  --Surface-Bright-Quiet: #ecd8ae;
  --Container: #443d30;
  --Container-Low: #373227;
  --Container-Lowest: #000000;
  --Container-High: #585141;
  --Container-Highest: #5c5545;
  --Container-On-Quiet: #dcd3bf;
  --Container-Low-Quiet: #cbc2af;
  --Container-Lowest-Quiet: #9d9689;
  --Container-High-Quiet: #f7edd7;
  --Container-Highest-Quiet: #f7edd7;
}

[data-mode="AAA-dark"] [data-background="secondary-light"] [data-compnent="surface"] {
  --Icon-Primary: #610000;
  --Icon-Secondary: #432f00;
  --Icon-Tertiary: #610000;
  --Icon-Success: #003a00;
  --Icon-Error: #610000;
  --Icon-Warning: #462d00;
  --Icon-Info: #002c6f;
  --Surface-Border: #a59d8b;
  --On-Color: #f5ebd6;
  --Button: #c79932;
  --On-Button: #432f00;
  --Button-Half: #c7993280;
  --Hotlink: #f5ebd6;
  --Icon-BG: #f5ebd6;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="secondary-dark"] {
  --Dropdown-Color-1: #15181db3;
  --Dropdown-Color-2: #15181d8a;
  --Dropdown-Color-3: #15181d61;
  --Dropdown-Color-4: #15181d52;
  --Dropdown-Color-5: #15181d33;
  --Surface: #1f252e;
  --Surface-Dim: #1b2026;
  --Surface-Bright: #29313b;
  --Surface-Quiet: #a9b1bb;
  --Surface-Dim-Quiet: #a5acb6;
  --Surface-Bright-Quiet: #b8c0ca;
  --Container: #1f252e;
  --Container-Low: #1b2026;
  --Container-Lowest: #000000;
  --Container-High: #2d353f;
  --Container-Highest: #303943;
  --Container-On-Quiet: #a9b1bb;
  --Container-Low-Quiet: #a5acb6;
  --Container-Lowest-Quiet: #91979e;
  --Container-High-Quiet: #bec6d0;
  --Container-Highest-Quiet: #c3cbd5;
}

[data-mode="AAA-dark"] [data-background="secondary-dark"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #737c88;
  --On-Color: #b8c3d1;
  --Button: #91a1b5;
  --On-Button: #19334f;
  --Button-Half: #91a1b580;
  --Hotlink: #dfe5ec;
  --Icon-BG: #0a0c10;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="tertiary"] {
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #d3caac;
  --Surface-Dim-Quiet: #c4bb9f;
  --Surface-Bright-Quiet: #e4d9ba;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-On-Quiet: #d0cbbb;
  --Container-Low-Quiet: #c0bbad;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #ede8d8;
  --Container-Highest-Quiet: #f2eddd;
}

[data-mode="AAA-dark"] [data-background="tertiary"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #9a9586;
  --On-Color: #f0ebdb;
  --Button: #b69e53;
  --On-Button: #3d3100;
  --Button-Half: #b69e5380;
  --Hotlink: #f0ebdb;
  --Icon-BG: #120f07;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="tertiary-light"] {
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #d3caac;
  --Surface-Dim-Quiet: #c4bb9f;
  --Surface-Bright-Quiet: #e4d9ba;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-On-Quiet: #d0cbbb;
  --Container-Low-Quiet: #c0bbad;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #ede8d8;
  --Container-Highest-Quiet: #f2eddd;
}

[data-mode="AAA-dark"] [data-background="tertiary-light"] [data-compnent="surface"] {
  --Icon-Primary: #103734;
  --Icon-Secondary: #19334f;
  --Icon-Tertiary: #3d3100;
  --Icon-Success: #003a00;
  --Icon-Error: #610000;
  --Icon-Warning: #462d00;
  --Icon-Info: #002c6f;
  --Surface-Border: #9a9586;
  --On-Color: #f0ebdb;
  --Button: #b69e53;
  --On-Button: #3d3100;
  --Button-Half: #b69e5380;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="tertiary-dark"] {
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #d3caac;
  --Surface-Dim-Quiet: #c4bb9f;
  --Surface-Bright-Quiet: #e4d9ba;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-On-Quiet: #d0cbbb;
  --Container-Low-Quiet: #c0bbad;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #ede8d8;
  --Container-Highest-Quiet: #f2eddd;
}

[data-mode="AAA-dark"] [data-background="tertiary-dark"] [data-compnent="surface"] {
  --Icon-Primary: #103734;
  --Icon-Secondary: #19334f;
  --Icon-Tertiary: #3d3100;
  --Icon-Success: #003a00;
  --Icon-Error: #610000;
  --Icon-Warning: #462d00;
  --Icon-Info: #002c6f;
  --Surface-Border: #9a9586;
  --On-Color: #f0ebdb;
  --Button: #b69e53;
  --On-Button: #3d3100;
  --Button-Half: #b69e5380;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="white"] {
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface: #121212;
  --Surface-Dim: #121212;
  --Surface-Bright: #1a1a1a;
  --Surface-Quiet: #a0a0a0d1;
  --Surface-Dim-Quiet: #a0a0a0d1;
  --Surface-Bright-Quiet: #a6a6a6d1;
  --Container: #121212;
  --Container-Low: #121212;
  --Container-Lowest: #000000;
  --Container-High: #1d1d1d;
  --Container-Highest: #212121;
  --Container-On-Quiet: #a0a0a0d1;
  --Container-Low-Quiet: #a0a0a0d1;
  --Container-Lowest-Quiet: #999999d1;
  --Container-High-Quiet: #a9a9a9d1;
  --Container-Highest-Quiet: #adadadcf;
}

[data-mode="AAA-dark"] [data-background="white"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #6a6a6ae3;
  --On-Color: #d685c4;
  --Button: #7ca8a3;
  --On-Button: #121212;
  --Button-Half: #7ca8a380;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="grey"] {
  --Dropdown-Color-1: #0c0f0fb3;
  --Dropdown-Color-2: #0c0f0f8a;
  --Dropdown-Color-3: #0c0f0f61;
  --Dropdown-Color-4: #0c0f0f52;
  --Dropdown-Color-5: #0c0f0f33;
  --Surface: #121717;
  --Surface-Dim: #121515;
  --Surface-Bright: #191f1f;
  --Surface-Quiet: #a3a5a5d1;
  --Surface-Dim-Quiet: #a3a4a4d1;
  --Surface-Bright-Quiet: #a8aaaad1;
  --Container: #121717;
  --Container-Low: #121515;
  --Container-Lowest: #000000;
  --Container-High: #1d2323;
  --Container-Highest: #212727;
  --Container-On-Quiet: #a3a5a5d1;
  --Container-Low-Quiet: #a3a4a4d1;
  --Container-Lowest-Quiet: #999999d1;
  --Container-High-Quiet: #abaeaecf;
  --Container-Highest-Quiet: #b1b3b3cc;
}

[data-mode="AAA-dark"] [data-background="grey"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #6a6d6de3;
  --On-Color: #de9ace;
  --Button: #7ca8a3;
  --On-Button: #121212;
  --Button-Half: #7ca8a380;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="black"] {
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface: #121212;
  --Surface-Dim: #0f0f0f;
  --Surface-Bright: #161616;
  --Surface-Quiet: #a0a0a0;
  --Surface-Dim-Quiet: #9f9f9f;
  --Surface-Bright-Quiet: #a4a4a4;
  --Container: #ffffff;
  --Container-Low: #ffffff;
  --Container-Lowest: #ffffff;
  --Container-High: #ffffff;
  --Container-Highest: #ffffff;
  --Container-On-Quiet: #575757;
  --Container-Low-Quiet: #575757;
  --Container-Lowest-Quiet: #575757;
  --Container-High-Quiet: #575757;
  --Container-Highest-Quiet: #575757;
}

[data-mode="AAA-dark"] [data-background="black"] [data-compnent="surface"] {
  --Icon-Primary: #1976d2;
  --Icon-Secondary: #9c27b0;
  --Icon-Tertiary: #00796b;
  --Icon-Success: #56b357;
  --Icon-Error: #e98284;
  --Icon-Warning: #cd9700;
  --Icon-Info: #59a6e4;
  --Surface-Border: #656565;
  --On-Color: #ffffff;
  --Button: #7ca8a3;
  --On-Button: #ffffff;
  --Button-Half: #7ca8a380;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-dark mode Red-Weak chart */
[data-mode="AAA-dark"] [charts="Red-Weak"] {
  --Chart-1: #3f6cdf;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #6e70ae;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #af884e;
  --Chart-BG: #121212;
  --Chart-1-Half: #3f6cdf80;
  --Chart-2-Half: #347aa580;
  --Chart-3-Half: #4ea1cf80;
  --Chart-4-Half: #6e70ae80;
  --Chart-5-Half: #c1506080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #af884e80;
}

/* AAA-dark mode Blue-Weak chart */
[data-mode="AAA-dark"] [charts="Blue-Weak"] {
  --Chart-1: #3f6cdf;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #6e70ae;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #121212;
  --Chart-1-Half: #50505080;
  --Chart-2-Half: #347aa580;
  --Chart-3-Half: #4ea1cf80;
  --Chart-4-Half: #6e70ae80;
  --Chart-5-Half: #c1506080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #767637;
}

/* AAA-dark mode Green-Weak chart */
[data-mode="AAA-dark"] [charts="Green-Weak"] {
  --Chart-1: #347aa5;
  --Chart-2: #3f6cdf;
  --Chart-3: #6e70ae;
  --Chart-4: #97675c;
  --Chart-5: #b98446;
  --Chart-6: #999947;
  --Chart-7: #eabe6d;
  --Chart-8: #9180cd;
  --Chart-9: #9c839d;
  --Chart-10: #cbb1f4;
  --Chart-BG: #121212;
  --Chart-1-Half: #347aa580;
  --Chart-2-Half: #3f6cdf80;
  --Chart-3-Half: #6e70ae80;
  --Chart-4-Half: #97675c80;
  --Chart-5-Half: #b9844680;
  --Chart-6-Half: #99994780;
  --Chart-7-Half: #eabe6d80;
  --Chart-8-Half: #9180cd80;
  --Chart-9-Half: #9c839d80;
  --Chart-10-Half: #cbb1f480;
}

/* AAA-dark mode Red-Blind chart */
[data-mode="AAA-dark"] [charts="Red-Blind"] {
  --Chart-1: #ffdbc6;
  --Chart-2: #a1afdd;
  --Chart-3: #3679cf;
  --Chart-4: #558be8;
  --Chart-5: #8b703e;
  --Chart-6: #aa8b5b;
  --Chart-7: #eabe6d;
  --Chart-8: #817378;
  --Chart-9: #9b8c92;
  --Chart-10: #dcc7cd;
  --Chart-BG: #121212;
  --Chart-1-Half: #ffdbc680;
  --Chart-2-Half: #a1afdd80;
  --Chart-3-Half: #3679cf80;
  --Chart-4-Half: #558be880;
  --Chart-5-Half: #8b703e80;
  --Chart-6-Half: #aa8b5b80;
  --Chart-7-Half: #eabe6d80;
  --Chart-8-Half: #81737880;
  --Chart-9-Half: #9b8c9280;
  --Chart-10-Half: #dcc7cd80;
}

/* AAA-dark mode Blue-Blind chart */
[data-mode="AAA-dark"] [charts="Blue-Blind"] {
  --Chart-1: #226f78;
  --Chart-2: #3d8c98;
  --Chart-3: #67989b;
  --Chart-4: #bee1e3;
  --Chart-5: #736970;
  --Chart-6: #998e96;
  --Chart-7: #b84e4d;
  --Chart-8: #9a5e63;
  --Chart-9: #d17377;
  --Chart-10: #debbc7;
  --Chart-BG: #121212;
  --Chart-1-Half: #226f7880;
  --Chart-2-Half: #3d8c9880;
  --Chart-3-Half: #67989b80;
  --Chart-4-Half: #bee1e380;
  --Chart-5-Half: #73697080;
  --Chart-6-Half: #998e9680;
  --Chart-7-Half: #b84e4d80;
  --Chart-8-Half: #9a5e6380;
  --Chart-9-Half: #d1737780;
  --Chart-10-Half: #debbc780;
}

/* AAA-dark mode Green-Blind chart */
[data-mode="AAA-dark"] [charts="Green-Blind"] {
  --Chart-1: #f2b501;
  --Chart-2: #a88022;
  --Chart-3: #ab9283;
  --Chart-4: #3c66a7;
  --Chart-5: #5879bc;
  --Chart-6: #669af7;
  --Chart-7: #757084;
  --Chart-8: #ffcf81;
  --Chart-9: #ffefd4;
  --Chart-10: #ffffff;
  --Chart-BG: #121212;
  --Chart-1-Half: #f2b501;
  --Chart-2-Half: #a88022;
  --Chart-3-Half: #ab9283;
  --Chart-4-Half: #3c66a7;
  --Chart-5-Half: #5879bc;
  --Chart-6-Half: #669af7;
  --Chart-7-Half: #757084;
  --Chart-8-Half: #ffcf81;
  --Chart-9-Half: #ffefd4;
  --Chart-10-Half: #ffffff;
}

/* AAA-dark mode Blue-Cone chart */
[data-mode="AAA-dark"] [charts="Blue-Cone"] {
  --Chart-1: #9056d4;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #dbc55a;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #121212;
  --Chart-1-Half: #9056d4;
  --Chart-2-Half: #347aa5;
  --Chart-3-Half: #4ea1cf;
  --Chart-4-Half: #dbc55a;
  --Chart-5-Half: #c15060;
  --Chart-6-Half: #d07565;
  --Chart-7-Half: #5c7c64;
  --Chart-8-Half: #ba77a0;
  --Chart-9-Half: #789399;
  --Chart-10-Half: #767637;
}

/* AAA-dark mode Monochromatic chart */
[data-mode="AAA-dark"] [charts="Monochromatic"] {
  --Chart-1: #ffffff;
  --Chart-2: #ffffff;
  --Chart-3: #ffffff;
  --Chart-4: #ffffff;
  --Chart-5: #ffffff;
  --Chart-6: #ffffff;
  --Chart-7: #ffffff;
  --Chart-8: #ffffff;
  --Chart-9: #ffffff;
  --Chart-10: #ffffff;
  --Chart-1-Half: #ffffff;
  --Chart-2-Half: #ffffff;
  --Chart-3-Half: #ffffff;
  --Chart-4-Half: #ffffff;
  --Chart-5-Half: #ffffff;
  --Chart-6-Half: #ffffff;
  --Chart-7-Half: #ffffff;
  --Chart-8-Half: #ffffff;
  --Chart-9-Half: #ffffff;
  --Chart-10-Half: #ffffff;
}

/* AAA-dark mode Default chart */
[data-mode="AAA-dark"] [charts="Default"] {
  --Chart-1: #dc4841;
  --Chart-2: #9e7618;
  --Chart-3: #e7909a;
  --Chart-4: #e46b65;
  --Chart-5: #cab177;
  --Chart-6: #df6e7c;
  --Chart-7: #ffffff;
  --Chart-8: #7d7d7d;
  --Chart-9: #baaeab;
  --Chart-BG: #121212;
  --Chart-1-Half: #dc484180;
  --Chart-2-Half: #9e761880;
  --Chart-3-Half: #e7909a80;
  --Chart-4-Half: #e46b6580;
  --Chart-5-Half: #cab17780;
  --Chart-6-Half: #df6e7c80;
  --Chart-7-Half: #ffffff80;
  --Chart-8-Half: #7d7d7d80;
  --Chart-9-Half: #baaeab80;
  --Chart-10-Half: #9a737180;
  --Chart-10: #9a7371;
  --Chart-Background: #121212;
  --Chart-Axis-Color: rgba(255,255,255,0.75);
  --Chart-Grid-Color: rgba(255,255,255,0.15);
}

