/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="default"] {
  --Surface: #f2f6f5;
  --Surface-Dim: #e9edec;
  --Surface-Bright: #f3f6f6;
  --Surface-Quiet: #3c5754;
  --Surface-Dim-Quiet: #36524f;
  --Surface-Bright-Quiet: #3c5754;
  --Container: #f2f6f5;
  --Container-Low: #f8fafa;
  --Container-Lowest: #fbfcfc;
  --Container-High: #ebf0f0;
  --Container-Highest: #e6edec;
  --Container-On-Quiet: #3c5754;
  --Container-Low-Quiet: #3e5956;
  --Container-Lowest-Quiet: #405b58;
  --Container-High-Quiet: #375451;
  --Container-Highest-Quiet: #35524f;
  --Dropdown-Color-1: #91ada6b3;
  --Dropdown-Color-2: #91ada68a;
  --Dropdown-Color-3: #91ada661;
  --Dropdown-Color-4: #91ada652;
  --Dropdown-Color-5: #91ada633;
}

[data-mode="AAA-light"] [data-background="default"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #965b51;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #748886;
  --On-Color: #304d4a;
  --Button: #4b7b76;
  --On-Button: #ffffff;
  --Button-Half: #ffffff;
  --Hotlink: #141f1e;
  --Icon-BG: #00000000;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="primary"] {
  --Surface: #2e4e4b;
  --Surface-Dim: #2e4d4a;
  --Surface-Bright: #30504d;
  --Surface-Quiet: #d4e4e3;
  --Surface-Dim-Quiet: #d4e5e3;
  --Surface-Bright-Quiet: #d4e4e2;
  --Container: #f0f3f2;
  --Container-Low: #f7f8f8;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e8eceb;
  --Container-Highest: #e2e6e6;
  --Container-On-Quiet: #3a5552;
  --Container-Low-Quiet: #3e5956;
  --Container-Lowest-Quiet: #405b58;
  --Container-High-Quiet: #36524f;
  --Container-Highest-Quiet: #304d4a;
  --Dropdown-Color-1: #20312fb3;
  --Dropdown-Color-2: #20312f8a;
  --Dropdown-Color-3: #20312f61;
  --Dropdown-Color-4: #20312f52;
  --Dropdown-Color-5: #20312f33;
}

[data-mode="AAA-light"] [data-background="primary"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #965b51;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #8b9e9c;
  --On-Color: #eff5f4;
  --Button: #eff5f4;
  --On-Button: #304d4a;
  --Button-Half: #ffffff;
  --Hotlink: #eff5f4;
  --Icon-BG: #141f1e;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="primary-light"] {
  --Surface: #3b6661;
  --Surface-Dim: #3a6560;
  --Surface-Bright: #3d6863;
  --Surface-Quiet: #f1f6f5;
  --Surface-Dim-Quiet: #f1f6f5;
  --Surface-Bright-Quiet: #f1f6f5;
  --Container: #f1f4f4;
  --Container-Low: #f7f9f9;
  --Container-Lowest: #fbfcfc;
  --Container-High: #e9eeee;
  --Container-Highest: #e4eae9;
  --Container-On-Quiet: #3a5553;
  --Container-Low-Quiet: #3e5956;
  --Container-Lowest-Quiet: #405b58;
  --Container-High-Quiet: #375351;
  --Container-Highest-Quiet: #34504d;
  --Dropdown-Color-1: #29403db3;
  --Dropdown-Color-2: #29403d8a;
  --Dropdown-Color-3: #29403d61;
  --Dropdown-Color-4: #29403d52;
  --Dropdown-Color-5: #29403d33;
}

[data-mode="AAA-light"] [data-background="primary-light"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #965b51;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #a7bcb9;
  --On-Color: #eff5f4;
  --Button: #eff5f4;
  --On-Button: #304d4a;
  --Button-Half: #ffffff;
  --Hotlink: #eff5f4;
  --Icon-BG: #141f1e;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="primary-dark"] {
  --Surface: #213734;
  --Surface-Dim: #213633;
  --Surface-Bright: #233936;
  --Surface-Quiet: #b4c6c4;
  --Surface-Dim-Quiet: #b4c6c3;
  --Surface-Bright-Quiet: #b8c9c7;
  --Container: #eff1f1;
  --Container-Low: #f6f7f7;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e7e9e9;
  --Container-Highest: #e0e3e3;
  --Container-On-Quiet: #3a5552;
  --Container-Low-Quiet: #3c5754;
  --Container-Lowest-Quiet: #405b58;
  --Container-High-Quiet: #34504d;
  --Container-Highest-Quiet: #304d4a;
  --Dropdown-Color-1: #172221b3;
  --Dropdown-Color-2: #1722218a;
  --Dropdown-Color-3: #17222161;
  --Dropdown-Color-4: #17222152;
  --Dropdown-Color-5: #17222133;
}

[data-mode="AAA-light"] [data-background="primary-dark"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #965b51;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #6d8683;
  --On-Color: #b6d1ce;
  --Button: #eff5f4;
  --On-Button: #304d4a;
  --Button-Half: #ffffff;
  --Hotlink: #eff5f4;
  --Icon-BG: #141f1e;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="secondary"] {
  --Surface: #d85640;
  --Surface-Dim: #d6553f;
  --Surface-Bright: #da5842;
  --Surface-Quiet: #fbeeeb;
  --Surface-Dim-Quiet: #fbeeeb;
  --Surface-Bright-Quiet: #fbedeb;
  --Container: #fcf3f2;
  --Container-Low: #fdf8f7;
  --Container-Lowest: #fefcfb;
  --Container-High: #fbecea;
  --Container-Highest: #fae7e4;
  --Container-On-Quiet: #644b46;
  --Container-Low-Quiet: #674f4a;
  --Container-Lowest-Quiet: #67504b;
  --Container-High-Quiet: #624742;
  --Container-Highest-Quiet: #624640;
  --Dropdown-Color-1: #8b392bb3;
  --Dropdown-Color-2: #8b392b8a;
  --Dropdown-Color-3: #8b392b61;
  --Dropdown-Color-4: #8b392b52;
  --Dropdown-Color-5: #8b392b33;
}

[data-mode="AAA-light"] [data-background="secondary"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #f9e2dd;
  --On-Color: #fbece9;
  --Button: #fbece9;
  --On-Button: #734138;
  --Button-Half: #ffffff;
  --Hotlink: #ffffff;
  --Icon-BG: #fbece9;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="secondary-light"] {
  --Surface: #e17c6a;
  --Surface-Dim: #df7b69;
  --Surface-Bright: #e37e6c;
  --Surface-Quiet: #ffffff;
  --Surface-Dim-Quiet: #ffffff;
  --Surface-Bright-Quiet: #ffffff;
  --Container: #fdf6f5;
  --Container-Low: #fefaf9;
  --Container-Lowest: #fefcfc;
  --Container-High: #fcf1ef;
  --Container-Highest: #fbedea;
  --Container-On-Quiet: #77463e;
  --Container-Low-Quiet: #794840;
  --Container-Lowest-Quiet: #7a4a42;
  --Container-High-Quiet: #74433a;
  --Container-Highest-Quiet: #734138;
  --Dropdown-Color-1: #a54432b3;
  --Dropdown-Color-2: #a544328a;
  --Dropdown-Color-3: #a5443261;
  --Dropdown-Color-4: #a5443252;
  --Dropdown-Color-5: #a5443233;
}

[data-mode="AAA-light"] [data-background="secondary-light"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #6e3930;
  --On-Color: #4f2720;
  --Button: #4f2720;
  --On-Button: #eabfb7;
  --Button-Half: #ffffff;
  --Hotlink: #2c0d07;
  --Icon-BG: #fbece9;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="secondary-dark"] {
  --Surface: #2e4e4b;
  --Surface-Dim: #2e4d4a;
  --Surface-Bright: #30504d;
  --Surface-Quiet: #d4e4e3;
  --Surface-Dim-Quiet: #d4e5e3;
  --Surface-Bright-Quiet: #d4e4e2;
  --Container: #f0f3f2;
  --Container-Low: #f7f8f8;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e8eceb;
  --Container-Highest: #e2e6e6;
  --Container-On-Quiet: #3a5552;
  --Container-Low-Quiet: #3e5956;
  --Container-Lowest-Quiet: #405b58;
  --Container-High-Quiet: #36524f;
  --Container-Highest-Quiet: #304d4a;
  --Dropdown-Color-1: #20312fb3;
  --Dropdown-Color-2: #20312f8a;
  --Dropdown-Color-3: #20312f61;
  --Dropdown-Color-4: #20312f52;
  --Dropdown-Color-5: #20312f33;
}

[data-mode="AAA-light"] [data-background="secondary-dark"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #965b51;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #936801;
  --Icon-Info: #0080c7;
  --Surface-Border: #8b9e9c;
  --On-Color: #eff5f4;
  --Button: #eff5f4;
  --On-Button: #304d4a;
  --Button-Half: #ffffff;
  --Hotlink: #eff5f4;
  --Icon-BG: #141f1e;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="tertiary"] {
  --Surface: #cdbb87;
  --Surface-Dim: #c9b784;
  --Surface-Bright: #cebc88;
  --Surface-Quiet: #332d1a;
  --Surface-Dim-Quiet: #312b18;
  --Surface-Bright-Quiet: #332d1a;
  --Container: #fcfaf7;
  --Container-Low: #fdfcfa;
  --Container-Lowest: #fefefd;
  --Container-High: #faf8f2;
  --Container-Highest: #f8f5ee;
  --Container-On-Quiet: #60532c;
  --Container-Low-Quiet: #61552f;
  --Container-Lowest-Quiet: #61552f;
  --Container-High-Quiet: #5f532c;
  --Container-Highest-Quiet: #5e512a;
  --Dropdown-Color-1: #93804ab3;
  --Dropdown-Color-2: #93804a8a;
  --Dropdown-Color-3: #93804a61;
  --Dropdown-Color-4: #93804a52;
  --Dropdown-Color-5: #93804a33;
}

[data-mode="AAA-light"] [data-background="tertiary"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #b47f00;
  --Icon-Info: #0080c7;
  --Surface-Border: #6b6141;
  --On-Color: #241f0f;
  --Button: #594c24;
  --On-Button: #f8f5ed;
  --Button-Half: #ffffff;
  --Hotlink: #241f0f;
  --Icon-BG: #f8f5ed;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="tertiary-light"] {
  --Surface: #d8cca7;
  --Surface-Dim: #d4c8a4;
  --Surface-Bright: #d9cda8;
  --Surface-Quiet: #584b23;
  --Surface-Dim-Quiet: #584b23;
  --Surface-Bright-Quiet: #584b23;
  --Container: #fcfbf9;
  --Container-Low: #fdfdfb;
  --Container-Lowest: #fefefd;
  --Container-High: #fbf9f5;
  --Container-Highest: #faf8f3;
  --Container-On-Quiet: #61552f;
  --Container-Low-Quiet: #61552f;
  --Container-Lowest-Quiet: #61552f;
  --Container-High-Quiet: #5f532c;
  --Container-Highest-Quiet: #5f532c;
  --Dropdown-Color-1: #a39056b3;
  --Dropdown-Color-2: #a390568a;
  --Dropdown-Color-3: #a3905661;
  --Dropdown-Color-4: #a3905652;
  --Dropdown-Color-5: #a3905633;
}

[data-mode="AAA-light"] [data-background="tertiary-light"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #b47f00;
  --Icon-Info: #0080c7;
  --Surface-Border: #736b52;
  --On-Color: #241f0f;
  --Button: #73632f;
  --On-Button: #f8f5ed;
  --Button-Half: #ffffff;
  --Hotlink: #241f0f;
  --Icon-BG: #f8f5ed;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="tertiary-dark"] {
  --Surface: #b8a260;
  --Surface-Dim: #b6a05f;
  --Surface-Bright: #baa462;
  --Surface-Quiet: #ffffff;
  --Surface-Dim-Quiet: #ffffff;
  --Surface-Bright-Quiet: #ffffff;
  --Container: #faf8f4;
  --Container-Low: #fcfbf9;
  --Container-Lowest: #fefdfc;
  --Container-High: #f7f5ee;
  --Container-Highest: #f5f2e9;
  --Container-On-Quiet: #5f532c;
  --Container-Low-Quiet: #61552f;
  --Container-Lowest-Quiet: #61552f;
  --Container-High-Quiet: #5e512a;
  --Container-Highest-Quiet: #5c4f28;
  --Dropdown-Color-1: #77693fb3;
  --Dropdown-Color-2: #77693f8a;
  --Dropdown-Color-3: #77693f61;
  --Dropdown-Color-4: #77693f52;
  --Dropdown-Color-5: #77693f33;
}

[data-mode="AAA-light"] [data-background="tertiary-dark"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #b47f00;
  --Icon-Info: #0080c7;
  --Surface-Border: #5d4f26;
  --On-Color: #594c24;
  --Button: #594c24;
  --On-Button: #f8f5ed;
  --Button-Half: #ffffff;
  --Hotlink: #3e361a;
  --Icon-BG: #f8f5ed;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="white"] {
  --Surface: #ffffff;
  --Surface-Dim: #fafafa;
  --Surface-Bright: #ffffff;
  --Surface-Quiet: #435d5a;
  --Surface-Dim-Quiet: #3e5956;
  --Surface-Bright-Quiet: #435d5a;
  --Container: #ffffff;
  --Container-Low: #ffffff;
  --Container-Lowest: #ffffff;
  --Container-High: #ffffff;
  --Container-Highest: #ffffff;
  --Container-On-Quiet: #435d5a;
  --Container-Low-Quiet: #435d5a;
  --Container-Lowest-Quiet: #435d5a;
  --Container-High-Quiet: #435d5a;
  --Container-Highest-Quiet: #435d5a;
  --Dropdown-Color-1: #a6a6a6b3;
  --Dropdown-Color-2: #a6a6a68a;
  --Dropdown-Color-3: #a6a6a661;
  --Dropdown-Color-4: #a6a6a652;
  --Dropdown-Color-5: #a6a6a633;
}

[data-mode="AAA-light"] [data-background="white"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #b47f00;
  --Icon-Info: #0080c7;
  --Surface-Border: #819291;
  --On-Color: #304d4a;
  --Button: #4b7b76;
  --On-Button: #eff5f4;
  --Button-Half: #ffffff;
  --Hotlink: #141f1e;
  --Icon-BG: #eff5f4;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="grey"] {
  --Surface: #808080;
  --Surface-Dim: #7f7f7f;
  --Surface-Bright: #828282;
  --Surface-Quiet: #f0f6f5;
  --Surface-Dim-Quiet: #f0f6f5;
  --Surface-Bright-Quiet: #f0f6f5;
  --Container: #f6f6f6;
  --Container-Low: #fafafa;
  --Container-Lowest: #fcfcfc;
  --Container-High: #f1f1f1;
  --Container-Highest: #ededed;
  --Container-On-Quiet: #3c5754;
  --Container-Low-Quiet: #3e5956;
  --Container-Lowest-Quiet: #405b58;
  --Container-High-Quiet: #3a5552;
  --Container-Highest-Quiet: #385351;
  --Dropdown-Color-1: #535353b3;
  --Dropdown-Color-2: #5353538a;
  --Dropdown-Color-3: #53535361;
  --Dropdown-Color-4: #53535352;
  --Dropdown-Color-5: #53535333;
}

[data-mode="AAA-light"] [data-background="grey"] [data-compnent="surface"] {
  --Icon-Primary: #4b7b76;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #378a3d;
  --Icon-Error: #b8696b;
  --Icon-Warning: #b47f00;
  --Icon-Info: #0080c7;
  --Surface-Border: #e3e8e7;
  --On-Color: #eff5f4;
  --Button: #eff5f4;
  --On-Button: #304d4a;
  --Button-Half: #ffffff;
  --Hotlink: #ffffff;
  --Icon-BG: #eff5f4;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode specific backgrounds */
[data-mode="AAA-light"] [data-background="black"] {
  --Surface: #1b2726;
  --Surface-Dim: #182120;
  --Surface-Bright: #253231;
  --Surface-Quiet: #a4b4b2;
  --Surface-Dim-Quiet: #a0afad;
  --Surface-Bright-Quiet: #b1c1c0;
  --Container: #1b2726;
  --Container-Low: #182120;
  --Container-Lowest: #000000;
  --Container-High: #283635;
  --Container-Highest: #2c3a39;
  --Container-On-Quiet: #9db6b3;
  --Container-Low-Quiet: #98b0ad;
  --Container-Lowest-Quiet: #879b98;
  --Container-High-Quiet: #afc9c6;
  --Container-Highest-Quiet: #b3cecb;
  --Dropdown-Color-1: #121918b3;
  --Dropdown-Color-2: #1219188a;
  --Dropdown-Color-3: #12191861;
  --Dropdown-Color-4: #12191852;
  --Dropdown-Color-5: #12191833;
}

[data-mode="AAA-light"] [data-background="black"] [data-compnent="surface"] {
  --Icon-Primary: #7cada8;
  --Icon-Secondary: #b97569;
  --Icon-Tertiary: #8d7939;
  --Icon-Success: #64b664;
  --Icon-Error: #b8696b;
  --Icon-Warning: #b47f00;
  --Icon-Info: #0080c7;
  --Surface-Border: #6c7f7d;
  --On-Color: #b6d1ce;
  --Button: #eff5f4;
  --On-Button: #121212;
  --Button-Half: #ffffff;
  --Hotlink: #eff5f4;
  --Icon-BG: #00000000;
  --Message-Padding: 0;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AAA-light mode Red-Weak chart */
[data-mode="AAA-light"] [charts="Red-Weak"] {
  --Chart-1: #3a62c7;
  --Chart-2: #1e455d;
  --Chart-3: #4793bd;
  --Chart-4: #62649d;
  --Chart-5: #a34250;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #af884e;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #3a62c780;
  --Chart-2-Half: #1e455d80;
  --Chart-3-Half: #4793bd80;
  --Chart-4-Half: #62649d80;
  --Chart-5-Half: #a3425080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #af884e80;
}

/* AAA-light mode Blue-Weak chart */
[data-mode="AAA-light"] [charts="Blue-Weak"] {
  --Chart-1: #3a62c7;
  --Chart-2: #1e455d;
  --Chart-3: #4793bd;
  --Chart-4: #62649d;
  --Chart-5: #a34250;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #3a62c780;
  --Chart-2-Half: #1e455d80;
  --Chart-3-Half: #4793bd80;
  --Chart-4-Half: #62649d80;
  --Chart-5-Half: #a3425080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #76763780;
}

/* AAA-light mode Green-Weak chart */
[data-mode="AAA-light"] [charts="Green-Weak"] {
  --Chart-1: #060b24;
  --Chart-2: #1c4174;
  --Chart-3: #558be8;
  --Chart-4: #3a62c7;
  --Chart-5: #7f574e;
  --Chart-6: #b98446;
  --Chart-7: #767637;
  --Chart-8: #9180cd;
  --Chart-9: #9c839d;
  --Chart-10: #52406f;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #060b2480;
  --Chart-2-Half: #1c417480;
  --Chart-3-Half: #558be880;
  --Chart-4-Half: #3a62c780;
  --Chart-5-Half: #7f574e80;
  --Chart-6-Half: #b9844680;
  --Chart-7-Half: #76763780;
  --Chart-8-Half: #9180cd80;
  --Chart-9-Half: #9c839d80;
  --Chart-10-Half: #52406f80;
}

/* AAA-light mode Red-Blind chart */
[data-mode="AAA-light"] [charts="Red-Blind"] {
  --Chart-1: #060b24;
  --Chart-2: #274f94;
  --Chart-3: #3a62c7;
  --Chart-4: #558be8;
  --Chart-5: #665b27;
  --Chart-6: #807532;
  --Chart-7: #9d9151;
  --Chart-8: #6170a5;
  --Chart-9: #8988a4;
  --Chart-10: #908d8c;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #060b2480;
  --Chart-2-Half: #274f9480;
  --Chart-3-Half: #3a62c780;
  --Chart-4-Half: #558be880;
  --Chart-5-Half: #665b2780;
  --Chart-6-Half: #80753280;
  --Chart-7-Half: #9d915180;
  --Chart-8-Half: #6170a580;
  --Chart-9-Half: #8988a480;
  --Chart-10-Half: #908d8c80;
}

/* AAA-light mode Blue-Blind chart */
[data-mode="AAA-light"] [charts="Blue-Blind"] {
  --Chart-1: #041214;
  --Chart-2: #1c484d;
  --Chart-3: #3d8c98;
  --Chart-4: #67989b;
  --Chart-5: #91999c;
  --Chart-6: #59373a;
  --Chart-7: #94686c;
  --Chart-8: #a24443;
  --Chart-9: #d17377;
  --Chart-10: #d33635;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #04121480;
  --Chart-2-Half: #1c484d80;
  --Chart-3-Half: #3d8c9880;
  --Chart-4-Half: #67989b80;
  --Chart-5-Half: #91999c80;
  --Chart-6-Half: #59373a80;
  --Chart-7-Half: #94686c80;
  --Chart-8-Half: #a2444380;
  --Chart-9-Half: #d1737780;
  --Chart-10-Half: #d3363580;
}

/* AAA-light mode Green-Blind chart */
[data-mode="AAA-light"] [charts="Green-Blind"] {
  --Chart-1: #031021;
  --Chart-2: #283e78;
  --Chart-3: #6886e5;
  --Chart-4: #2b67d6;
  --Chart-5: #5e6383;
  --Chart-6: #8988a4;
  --Chart-7: #8f8d8c;
  --Chart-8: #807531;
  --Chart-9: #9e9050;
  --Chart-10: #a08a76;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #031021;
  --Chart-2-Half: #283e78;
  --Chart-3-Half: #6886e5;
  --Chart-4-Half: #2b67d6;
  --Chart-5-Half: #5e6383;
  --Chart-6-Half: #8988a4;
  --Chart-7-Half: #8f8d8c;
  --Chart-8-Half: #807531;
  --Chart-9-Half: #9e9050;
  --Chart-10-Half: #a08a76;
}

/* AAA-light mode Blue-Cone chart */
[data-mode="AAA-light"] [charts="Blue-Cone"] {
  --Chart-1: #d33635;
  --Chart-2: #3d8c98;
  --Chart-3: #67989b;
  --Chart-4: #6e6194;
  --Chart-5: #775161;
  --Chart-6: #a082a8;
  --Chart-7: #607053;
  --Chart-8: #d17377;
  --Chart-9: #8750c7;
  --Chart-10: #9e9050;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #d33635;
  --Chart-2-Half: #3d8c98;
  --Chart-3-Half: #67989b;
  --Chart-4-Half: #6e6194;
  --Chart-5-Half: #775161;
  --Chart-6-Half: #a082a8;
  --Chart-7-Half: #607053;
  --Chart-8-Half: #d17377;
  --Chart-9-Half: #8750c7;
  --Chart-10-Half: #9e9050;
}

/* AAA-light mode Monochromatic chart */
[data-mode="AAA-light"] [charts="Monochromatic"] {
  --Chart-1: #ffffff;
  --Chart-2: #ffffff;
  --Chart-3: #ffffff;
  --Chart-4: #ffffff;
  --Chart-5: #ffffff;
  --Chart-6: #ffffff;
  --Chart-7: #ffffff;
  --Chart-8: #ffffff;
  --Chart-9: #ffffff;
  --Chart-10: #ffffff;
  --Chart-1-Half: #ffffff;
  --Chart-2-Half: #ffffff;
  --Chart-3-Half: #ffffff;
  --Chart-4-Half: #ffffff;
  --Chart-5-Half: #ffffff;
  --Chart-6-Half: #ffffff;
  --Chart-7-Half: #ffffff;
  --Chart-8-Half: #ffffff;
  --Chart-9-Half: #ffffff;
  --Chart-10-Half: #ffffff;
}

/* AAA-light mode Default chart */
[data-mode="AAA-light"] [charts="Default"] {
  --Chart-1: #2e4e4b;
  --Chart-2: #d85640;
  --Chart-3: #897229;
  --Chart-4: #6b82a1;
  --Chart-5: #633d2d;
  --Chart-6: #71866d;
  --Chart-7: #51492b;
  --Chart-8: #476734;
  --Chart-9: #929292;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #2e4e4b80;
  --Chart-2-Half: #d8564080;
  --Chart-3-Half: #89722980;
  --Chart-4-Half: #6b82a180;
  --Chart-5-Half: #633d2d80;
  --Chart-6-Half: #71866d80;
  --Chart-7-Half: #51492b80;
  --Chart-8-Half: #47673480;
  --Chart-9-Half: #92929280;
  --Chart-10-Half: #20191380;
  --Chart-10: #201913;
  --Chart-Background: #ffffff;
  --Chart-Axis-Color: rgba(0,0,0,0.75);
  --Chart-Grid-Color: rgba(0,0,0,0.15);
}

