[date-mode="AA-dark"] {
  --Desktop-Target: 24px;
}
/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="default"] {
  --Dropdown-Color-1: #101414b3;
  --Dropdown-Color-2: #1014148a;
  --Dropdown-Color-3: #10141461;
  --Dropdown-Color-4: #10141452;
  --Dropdown-Color-5: #10141433;
  --Surface: #18201f;
  --Surface-Dim: #161b1b;
  --Surface-Bright: #202a28;
  --Surface-Quiet: #828786;
  --Surface-Dim-Quiet: #818484;
  --Surface-Bright-Quiet: #8b908f;
  --Container: #18201f;
  --Container-Low: #161b1b;
  --Container-Lowest: #000000;
  --Container-High: #242d2c;
  --Container-Highest: #283130;
  --Container-On-Quiet: #828786;
  --Container-Low-Quiet: #818484;
  --Container-Lowest-Quiet: #757575;
  --Container-High-Quiet: #8f9493;
  --Container-Highest-Quiet: #939897;
}

[data-mode="AA-dark"] [data-background="default"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #707574;
  --On-Color: #ffffff;
  --Button: #558680;
  --On-Button: #0a100f;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="default"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #777b7b;
  --On-Color: #ffffff;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: undefined80;
  --Button-Quiet: #ffffff;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="primary"] {
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface: #161c1b;
  --Surface-Dim: #151818;
  --Surface-Bright: #1e2424;
  --Surface-Quiet: #778684;
  --Surface-Dim-Quiet: #768483;
  --Surface-Bright-Quiet: #7f8e8d;
  --Container: #161c1b;
  --Container-Low: #151818;
  --Container-Lowest: #000000;
  --Container-High: #222828;
  --Container-Highest: #262c2c;
  --Container-On-Quiet: #678985;
  --Container-Low-Quiet: #668783;
  --Container-Lowest-Quiet: #5c7a77;
  --Container-High-Quiet: #709491;
  --Container-Highest-Quiet: #749995;
}

[data-mode="AA-dark"] [data-background="primary"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #587471;
  --On-Color: #789f9b;
  --Button: #558680;
  --On-Button: #e0ebea;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="primary"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #5e7c78;
  --On-Color: #789f9b;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="primary-light"] {
  --Dropdown-Color-1: #2c1f1eb3;
  --Dropdown-Color-2: #2c1f1e8a;
  --Dropdown-Color-3: #2c1f1e61;
  --Dropdown-Color-4: #2c1f1e52;
  --Dropdown-Color-5: #2c1f1e33;
  --Surface: #462d2c;
  --Surface-Dim: #392524;
  --Surface-Bright: #573a38;
  --Surface-Quiet: #c68e8b;
  --Surface-Dim-Quiet: #b78481;
  --Surface-Bright-Quiet: #dc9e9b;
  --Container: #462d2c;
  --Container-Low: #392524;
  --Container-Lowest: #000000;
  --Container-High: #5b3e3c;
  --Container-Highest: #604240;
  --Container-On-Quiet: #c68e8b;
  --Container-Low-Quiet: #b78481;
  --Container-Lowest-Quiet: #946b6a;
  --Container-High-Quiet: #e2a3a1;
  --Container-Highest-Quiet: #e9a8a5;
}

[data-mode="AA-dark"] [data-background="primary-light"] [data-component="surface"] {
  --Icon-Primary: #a10000;
  --Icon-Secondary: #624b18;
  --Icon-Tertiary: #a1001e;
  --Icon-Success: #216224;
  --Icon-Error: #a10014;
  --Icon-Warning: #705100;
  --Icon-Info: #0055a0;
  --Surface-Border: #b5817f;
  --On-Color: #f3b0ad;
  --Button: #e46b65;
  --On-Button: #7f0101;
  --Button-Half: #e46b6580;
  --Hotlink: #fad3d1;
  --Icon-BG: #fad3d1;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="primary-light"] [data-component="container"] {
  --Icon-Primary: #a10000;
  --Icon-Secondary: #624b18;
  --Icon-Tertiary: #a1001e;
  --Icon-Success: #216224;
  --Icon-Error: #a10014;
  --Icon-Warning: #705100;
  --Icon-Info: #0055a0;
  --Border: #c38b89;
  --On-Color: #f3b0ad;
  --Button: #eb8e89;
  --On-Button: #ffffff;
  --Button-Half: #eb8e8980;
  --Hotlink: #fad3d1;
  --Icon-BG: #fad3d1;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="primary-dark"] {
  --Dropdown-Color-1: #0d0f0eb3;
  --Dropdown-Color-2: #0d0f0e8a;
  --Dropdown-Color-3: #0d0f0e61;
  --Dropdown-Color-4: #0d0f0e52;
  --Dropdown-Color-5: #0d0f0e33;
  --Surface: #141716;
  --Surface-Dim: #131515;
  --Surface-Bright: #1b1f1e;
  --Surface-Quiet: #748280;
  --Surface-Dim-Quiet: #748180;
  --Surface-Bright-Quiet: #7b8987;
  --Container: #141716;
  --Container-Low: #131515;
  --Container-Lowest: #000000;
  --Container-High: #1f2322;
  --Container-Highest: #222726;
  --Container-On-Quiet: #668783;
  --Container-Low-Quiet: #658582;
  --Container-Lowest-Quiet: #5c7a77;
  --Container-High-Quiet: #6d908c;
  --Container-Highest-Quiet: #6f938f;
}

[data-mode="AA-dark"] [data-background="primary-dark"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #56716e;
  --On-Color: #789f9b;
  --Button: #558680;
  --On-Button: #e0ebea;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="primary-dark"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #5b7874;
  --On-Color: #789f9b;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #0a100f;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="secondary"] {
  --Dropdown-Color-1: #15181db3;
  --Dropdown-Color-2: #15181d8a;
  --Dropdown-Color-3: #15181d61;
  --Dropdown-Color-4: #15181d52;
  --Dropdown-Color-5: #15181d33;
  --Surface: #1f252e;
  --Surface-Dim: #1b2026;
  --Surface-Bright: #29313b;
  --Surface-Quiet: #838d99;
  --Surface-Dim-Quiet: #7f8792;
  --Surface-Bright-Quiet: #8f99a6;
  --Container: #1f252e;
  --Container-Low: #1b2026;
  --Container-Lowest: #000000;
  --Container-High: #2d353f;
  --Container-Highest: #303943;
  --Container-On-Quiet: #7f8c9e;
  --Container-Low-Quiet: #7b8898;
  --Container-Lowest-Quiet: #6d7785;
  --Container-High-Quiet: #8f9eb1;
  --Container-Highest-Quiet: #93a2b6;
}

[data-mode="AA-dark"] [data-background="secondary"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #6c7d95;
  --On-Color: #8499b5;
  --Button: #657fa2;
  --On-Button: #dfe5ec;
  --Button-Half: #657fa280;
  --Hotlink: #dfe5ec;
  --Icon-BG: #0a0c10;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="secondary"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #788596;
  --On-Color: #a2b2c7;
  --Button: #8499b5;
  --On-Button: #ffffff;
  --Button-Half: #8499b580;
  --Hotlink: #dfe5ec;
  --Icon-BG: #0a0c10;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="secondary-light"] {
  --Dropdown-Color-1: #2b2721b3;
  --Dropdown-Color-2: #2b27218a;
  --Dropdown-Color-3: #2b272161;
  --Dropdown-Color-4: #2b272152;
  --Dropdown-Color-5: #2b272133;
  --Surface: #443d30;
  --Surface-Dim: #373227;
  --Surface-Bright: #544c3d;
  --Surface-Quiet: #b5a787;
  --Surface-Dim-Quiet: #a6997b;
  --Surface-Bright-Quiet: #ccbc98;
  --Container: #443d30;
  --Container-Low: #373227;
  --Container-Lowest: #000000;
  --Container-High: #585141;
  --Container-Highest: #5c5545;
  --Container-On-Quiet: #b5a787;
  --Container-Low-Quiet: #a6997b;
  --Container-Lowest-Quiet: #7f755f;
  --Container-High-Quiet: #d3c39e;
  --Container-Highest-Quiet: #dac9a3;
}

[data-mode="AA-dark"] [data-background="secondary-light"] [data-component="surface"] {
  --Icon-Primary: #dc4841;
  --Icon-Secondary: #9e7618;
  --Icon-Tertiary: #d64c5d;
  --Icon-Success: #3a8d3c;
  --Icon-Error: #d54f53;
  --Icon-Warning: #9f7600;
  --Icon-Info: #007de4;
  --Surface-Border: #aa9d7f;
  --On-Color: #dfcea7;
  --Button: #cab177;
  --On-Button: #624b18;
  --Button-Half: #cab17780;
  --Hotlink: #f5ebd6;
  --Icon-BG: #f5ebd6;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="secondary-light"] [data-component="container"] {
  --Icon-Primary: #dc4841;
  --Icon-Secondary: #9e7618;
  --Icon-Tertiary: #d64c5d;
  --Icon-Success: #3a8d3c;
  --Icon-Error: #d54f53;
  --Icon-Warning: #9f7600;
  --Icon-Info: #007de4;
  --Border: #b5a787;
  --On-Color: #dfcea7;
  --Button: #cab177;
  --On-Button: #ffffff;
  --Button-Half: #cab17780;
  --Hotlink: #f5ebd6;
  --Icon-BG: #f5ebd6;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="secondary-dark"] {
  --Dropdown-Color-1: #121519b3;
  --Dropdown-Color-2: #1215198a;
  --Dropdown-Color-3: #12151961;
  --Dropdown-Color-4: #12151952;
  --Dropdown-Color-5: #12151933;
  --Surface: #1b2027;
  --Surface-Dim: #181b20;
  --Surface-Bright: #242932;
  --Surface-Quiet: #7f8792;
  --Surface-Dim-Quiet: #7c838e;
  --Surface-Bright-Quiet: #87909c;
  --Container: #1b2027;
  --Container-Low: #181b20;
  --Container-Lowest: #000000;
  --Container-High: #282d36;
  --Container-Highest: #2c313a;
  --Container-On-Quiet: #7b8899;
  --Container-Low-Quiet: #798595;
  --Container-Lowest-Quiet: #6d7785;
  --Container-High-Quiet: #8795a7;
  --Container-Highest-Quiet: #8c99ac;
}

[data-mode="AA-dark"] [data-background="secondary-dark"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #66768c;
  --On-Color: #8499b5;
  --Button: #657fa2;
  --On-Button: #dfe5ec;
  --Button-Half: #657fa280;
  --Hotlink: #dfe5ec;
  --Icon-BG: #0a0c10;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="secondary-dark"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #717d8d;
  --On-Color: #a2b2c7;
  --Button: #657fa2;
  --On-Button: #ffffff;
  --Button-Half: #657fa280;
  --Hotlink: #dfe5ec;
  --Icon-BG: #0a0c10;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="tertiary"] {
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #a9a289;
  --Surface-Dim-Quiet: #9c957f;
  --Surface-Bright-Quiet: #bcb499;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-On-Quiet: #a9a289;
  --Container-Low-Quiet: #9c957f;
  --Container-Lowest-Quiet: #7b7665;
  --Container-High-Quiet: #c2ba9f;
  --Container-Highest-Quiet: #c9c1a5;
}

[data-mode="AA-dark"] [data-background="tertiary"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #9f9471;
  --On-Color: #c0b389;
  --Button: #a89760;
  --On-Button: #50441b;
  --Button-Half: #a8976080;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="tertiary"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #a8a088;
  --On-Color: #d8cfb2;
  --Button: #c0b389;
  --On-Button: #ffffff;
  --Button-Half: #c0b38980;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="tertiary-light"] {
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #a9a289;
  --Surface-Dim-Quiet: #9c957f;
  --Surface-Bright-Quiet: #bcb499;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-On-Quiet: #a9a289;
  --Container-Low-Quiet: #9c957f;
  --Container-Lowest-Quiet: #7b7665;
  --Container-High-Quiet: #c2ba9f;
  --Container-Highest-Quiet: #c9c1a5;
}

[data-mode="AA-dark"] [data-background="tertiary-light"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #3a8d3c;
  --Icon-Error: #d54f53;
  --Icon-Warning: #9f7600;
  --Icon-Info: #007de4;
  --Surface-Border: #9f9471;
  --On-Color: #c0b389;
  --Button: #a89760;
  --On-Button: #50441b;
  --Button-Half: #a8976080;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="tertiary-light"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #3a8d3c;
  --Icon-Error: #d54f53;
  --Icon-Warning: #9f7600;
  --Icon-Info: #007de4;
  --Border: #a8a088;
  --On-Color: #d8cfb2;
  --Button: #c0b389;
  --On-Button: #ffffff;
  --Button-Half: #c0b38980;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="tertiary-dark"] {
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #a9a289;
  --Surface-Dim-Quiet: #9c957f;
  --Surface-Bright-Quiet: #bcb499;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-On-Quiet: #a9a289;
  --Container-Low-Quiet: #9c957f;
  --Container-Lowest-Quiet: #7b7665;
  --Container-High-Quiet: #c2ba9f;
  --Container-Highest-Quiet: #c9c1a5;
}

[data-mode="AA-dark"] [data-background="tertiary-dark"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #3a8d3c;
  --Icon-Error: #d54f53;
  --Icon-Warning: #9f7600;
  --Icon-Info: #007de4;
  --Surface-Border: #9f9471;
  --On-Color: #c0b389;
  --Button: #a89760;
  --On-Button: #50441b;
  --Button-Half: #a8976080;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="tertiary-dark"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #3a8d3c;
  --Icon-Error: #d54f53;
  --Icon-Warning: #9f7600;
  --Icon-Info: #007de4;
  --Border: #a8a088;
  --On-Color: #d8cfb2;
  --Button: #c0b389;
  --On-Button: #ffffff;
  --Button-Half: #c0b38980;
  --Hotlink: #f0ebdb;
  --Icon-BG: #f0ebdb;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="white"] {
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface: #121212;
  --Surface-Dim: #121212;
  --Surface-Bright: #1a1a1a;
  --Surface-Quiet: #7d7d7dde;
  --Surface-Dim-Quiet: #7d7d7dde;
  --Surface-Bright-Quiet: #838383db;
  --Container: #121212;
  --Container-Low: #121212;
  --Container-Lowest: #000000;
  --Container-High: #1d1d1d;
  --Container-Highest: #212121;
  --Container-On-Quiet: #7d7d7dde;
  --Container-Low-Quiet: #7d7d7dde;
  --Container-Lowest-Quiet: #757575db;
  --Container-High-Quiet: #858585db;
  --Container-Highest-Quiet: #898989db;
}

[data-mode="AA-dark"] [data-background="white"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #6a6a6ae3;
  --On-Color: #c054a7;
  --Button: #558680;
  --On-Button: #121212;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="white"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #6e6e6ee0;
  --On-Color: #c054a7;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="grey"] {
  --Dropdown-Color-1: #101414b3;
  --Dropdown-Color-2: #1014148a;
  --Dropdown-Color-3: #10141461;
  --Dropdown-Color-4: #10141452;
  --Dropdown-Color-5: #10141433;
  --Surface: #18201f;
  --Surface-Dim: #161b1b;
  --Surface-Bright: #202a28;
  --Surface-Quiet: #828786db;
  --Surface-Dim-Quiet: #818484db;
  --Surface-Bright-Quiet: #8b908fd9;
  --Container: #18201f;
  --Container-Low: #161b1b;
  --Container-Lowest: #000000;
  --Container-High: #242d2c;
  --Container-Highest: #283130;
  --Container-On-Quiet: #828786db;
  --Container-Low-Quiet: #818484db;
  --Container-Lowest-Quiet: #757575db;
  --Container-High-Quiet: #8f9493d9;
  --Container-Highest-Quiet: #939897d9;
}

[data-mode="AA-dark"] [data-background="grey"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #707574e3;
  --On-Color: #cd75b9;
  --Button: #558680;
  --On-Button: #121212;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="grey"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #777b7be0;
  --On-Color: #cd75b9;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode specific backgrounds */
[data-mode="AA-dark"] [data-background="black"] {
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface: #121212;
  --Surface-Dim: #0f0f0f;
  --Surface-Bright: #161616;
  --Surface-Quiet: #7d7d7d;
  --Surface-Dim-Quiet: #7b7b7b;
  --Surface-Bright-Quiet: #7f7f7f;
  --Container: #121212;
  --Container-Low: #121212;
  --Container-Lowest: #000000;
  --Container-High: #1d1d1d;
  --Container-Highest: #212121;
  --Container-On-Quiet: #7d7d7d;
  --Container-Low-Quiet: #7d7d7d;
  --Container-Lowest-Quiet: #757575;
  --Container-High-Quiet: #858585;
  --Container-Highest-Quiet: #898989;
}

[data-mode="AA-dark"] [data-background="black"] [data-component="surface"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Surface-Border: #656565;
  --On-Color: #ffffff;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

[data-mode="AA-dark"] [data-background="black"] [data-component="container"] {
  --Icon-Primary: #558680;
  --Icon-Secondary: #657fa2;
  --Icon-Tertiary: #907b37;
  --Icon-Success: #2e7d32;
  --Icon-Error: #d32f2f;
  --Icon-Warning: #ed6c02;
  --Icon-Info: #0288d1;
  --Border: #6e6e6e;
  --On-Color: #ffffff;
  --Button: #558680;
  --On-Button: #ffffff;
  --Button-Half: #55868080;
  --Hotlink: #e0ebea;
  --Icon-BG: #00000000;
  --Hotlink-Default-Underline: underline;
  --Hotlink-Hover-Underline: none;
}

/* AA-dark mode default chart colors */
[data-mode="AA-dark"] [charts] {
  --Chart-Background: #ffffff;
  --Chart-Axis-Color: rgba(0,0,0,0.75);
  --Chart-Grid-Color: rgba(0,0,0,0.15);
}

/* AA-dark mode Red-Weak chart */
[data-mode="AA-dark"] [charts="Red-Weak"] {
  --Chart-1: #3f6cdf;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #6e70ae;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #af884e;
  --Chart-BG: #121212;
  --Chart-1-Half: #3f6cdf80;
  --Chart-2-Half: #347aa580;
  --Chart-3-Half: #4ea1cf80;
  --Chart-4-Half: #6e70ae80;
  --Chart-5-Half: #c1506080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #af884e80;
}

/* AA-dark mode Blue-Weak chart */
[data-mode="AA-dark"] [charts="Blue-Weak"] {
  --Chart-1: #3f6cdf;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #6e70ae;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #121212;
  --Chart-1-Half: #3f6cdf80;
  --Chart-2-Half: #347aa580;
  --Chart-3-Half: #4ea1cf80;
  --Chart-4-Half: #6e70ae80;
  --Chart-5-Half: #c1506080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #76763780;
}

/* AA-dark mode Green-Weak chart */
[data-mode="AA-dark"] [charts="Green-Weak"] {
  --Chart-1: #347aa5;
  --Chart-2: #3f6cdf;
  --Chart-3: #6e70ae;
  --Chart-4: #97675c;
  --Chart-5: #b98446;
  --Chart-6: #999947;
  --Chart-7: #eabe6d;
  --Chart-8: #9180cd;
  --Chart-9: #9c839d;
  --Chart-10: #cbb1f4;
  --Chart-BG: #121212;
  --Chart-1-Half: #347aa580;
  --Chart-2-Half: #3f6cdf80;
  --Chart-3-Half: #6e70ae80;
  --Chart-4-Half: #97675c80;
  --Chart-5-Half: #b9844680;
  --Chart-6-Half: #99994780;
  --Chart-7-Half: #eabe6d80;
  --Chart-8-Half: #9180cd80;
  --Chart-9-Half: #9c839d80;
  --Chart-10-Half: #cbb1f480;
}

/* AA-dark mode Red-Blind chart */
[data-mode="AA-dark"] [charts="Red-Blind"] {
  --Chart-1: #ffdbc6;
  --Chart-2: #a1afdd;
  --Chart-3: #3679cf;
  --Chart-4: #558be8;
  --Chart-5: #8b703e;
  --Chart-6: #aa8b5b;
  --Chart-7: #eabe6d;
  --Chart-8: #817378;
  --Chart-9: #9b8c92;
  --Chart-10: #dcc7cd;
  --Chart-BG: #121212;
  --Chart-1-Half: #ffdbc680;
  --Chart-2-Half: #a1afdd80;
  --Chart-3-Half: #3679cf80;
  --Chart-4-Half: #558be880;
  --Chart-5-Half: #8b703e80;
  --Chart-6-Half: #aa8b5b80;
  --Chart-7-Half: #eabe6d80;
  --Chart-8-Half: #81737880;
  --Chart-9-Half: #9b8c9280;
  --Chart-10-Half: #dcc7cd80;
}

/* AA-dark mode Blue-Blind chart */
[data-mode="AA-dark"] [charts="Blue-Blind"] {
  --Chart-1: #226f78;
  --Chart-2: #3d8c98;
  --Chart-3: #67989b;
  --Chart-4: #bee1e3;
  --Chart-5: #736970;
  --Chart-6: #998e96;
  --Chart-7: #b84e4d;
  --Chart-8: #9a5e63;
  --Chart-9: #d17377;
  --Chart-10: #debbc7;
  --Chart-BG: #121212;
  --Chart-1-Half: #226f7880;
  --Chart-2-Half: #3d8c9880;
  --Chart-3-Half: #50505080;
  --Chart-4-Half: #bee1e380;
  --Chart-5-Half: #73697080;
  --Chart-6-Half: #998e9680;
  --Chart-7-Half: #b84e4d80;
  --Chart-8-Half: #9a5e6380;
  --Chart-9-Half: #d1737780;
  --Chart-10-Half: #debbc780;
}

/* AA-dark mode Green-Blind chart */
[data-mode="AA-dark"] [charts="Green-Blind"] {
  --Chart-1: #f2b501;
  --Chart-2: #a88022;
  --Chart-3: #ab9283;
  --Chart-4: #3c66a7;
  --Chart-5: #5879bc;
  --Chart-6: #669af7;
  --Chart-7: #757084;
  --Chart-8: #ffcf81;
  --Chart-9: #ffefd4;
  --Chart-10: #97bbff;
  --Chart-BG: #121212;
  --Chart-1-Half: #f2b501;
  --Chart-2-Half: #a88022;
  --Chart-3-Half: #ab9283;
  --Chart-4-Half: #3c66a7;
  --Chart-5-Half: #5879bc;
  --Chart-6-Half: #669af7;
  --Chart-7-Half: #757084;
  --Chart-8-Half: #ffcf81;
  --Chart-9-Half: #ffefd4;
  --Chart-10-Half: #97bbff;
}

/* AA-dark mode Blue-Cone chart */
[data-mode="AA-dark"] [charts="Blue-Cone"] {
  --Chart-1: #9056d4;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #dbc55a;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #121212;
  --Chart-1-Half: #9056d4;
  --Chart-2-Half: #347aa5;
  --Chart-3-Half: #4ea1cf;
  --Chart-4-Half: #dbc55a;
  --Chart-5-Half: #c15060;
  --Chart-6-Half: #d07565;
  --Chart-7-Half: #5c7c64;
  --Chart-8-Half: #ba77a0;
  --Chart-9-Half: #789399;
  --Chart-10-Half: #767637;
}

/* AA-dark mode Monochromatic chart */
[data-mode="AA-dark"] [charts="Monochromatic"] {
  --Chart-1: #ffffff;
  --Chart-2: #ffffff;
  --Chart-3: #ffffff;
  --Chart-4: #ffffff;
  --Chart-5: #ffffff;
  --Chart-6: #ffffff;
  --Chart-7: #ffffff;
  --Chart-8: #ffffff;
  --Chart-9: #ffffff;
  --Chart-10: #ffffff;
  --Chart-1-Half: #ffffff;
  --Chart-2-Half: #ffffff;
  --Chart-3-Half: #ffffff;
  --Chart-4-Half: #ffffff;
  --Chart-5-Half: #ffffff;
  --Chart-6-Half: #ffffff;
  --Chart-7-Half: #ffffff;
  --Chart-8-Half: #ffffff;
  --Chart-9-Half: #ffffff;
  --Chart-10-Half: #ffffff;
}

/* AA-dark mode Default chart */
[data-mode="AA-dark"] [charts="Default"] {
  --Chart-1: #dc4841;
  --Chart-2: #9e7618;
  --Chart-3: #e7909a;
  --Chart-4: #e46b65;
  --Chart-5: #cab177;
  --Chart-6: #df6e7c;
  --Chart-7: #ffffff;
  --Chart-8: #7d7d7d;
  --Chart-9: #baaeab;
  --Chart-BG: #121212;
  --Chart-1-Half: #dc484180;
  --Chart-2-Half: #9e761880;
  --Chart-3-Half: #e7909a80;
  --Chart-4-Half: #e46b6580;
  --Chart-5-Half: #cab17780;
  --Chart-6-Half: #df6e7c80;
  --Chart-7-Half: #ffffff80;
  --Chart-8-Half: #7d7d7d80;
  --Chart-9-Half: #baaeab80;
  --Chart-10-Half: #9a737180;
  --Chart-10: #9a7371;
  --Chart-Background: #121212;
  --Chart-Axis-Color: rgba(255,255,255,0.75);
  --Chart-Grid-Color: rgba(255,255,255,0.15);
}

