/* AA-light mode CSS */
:root {
  --Mode-Target: var(--Desktop-Target);
  /* AA-light mode targets from JSON */
  --Mode-Target: var(--Desktop-Target);
  --Mode-PS-multiplier: 2em;
}

/* AA-light mode specific backgrounds */
[data-background] {
  --Surface: #f5f5f8;
  --Surface-Dim: #ececef;
  --Surface-Bright: #f6f6f8;
  --Surface-Quiet: #6f6f73;
  --Surface-Dim-Quiet: #6b6b6f;
  --Surface-Bright-Quiet: #6f6f73;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #9393aeb3;
  --Dropdown-Color-2: #9393ae8a;
  --Dropdown-Color-3: #9393ae61;
  --Dropdown-Color-4: #9393ae52;
  --Dropdown-Color-5: #9393ae33;
  --Surface-Icon-Primary: #7c7da5;
  --Surface-Icon-Secondary: #cb4801;
  --Surface-Icon-Tertiary: #a16800;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #e24a4c;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Surface-Border: #6d6d76;
  --Container-Border: #6d6d76;
  --Surface-Button: #cb4801;
  --Surface-Button-Half: #007cb080;
  --Container-Button: #cb4801;
  --Container-Button-Half: #007cb080;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Container-Light-Button: #f5b190;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #595a7b;
  --Surface-Hotlink-Default-Underline: true;
  --Surface-Hotlink-Hover-Underline: false;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a43b02;
  --Surface-Text-Tertiary: #855700;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Dropdown-Color-1: #9393aeb3;
  --Dropdown-Color-2: #9393ae8a;
  --Dropdown-Color-3: #9393ae61;
  --Dropdown-Color-4: #9393ae52;
  --Dropdown-Color-5: #9393ae33;
  --Surface: #f5f5f8;
  --Surface-Dim: #ececef;
  --Surface-Bright: #f6f6f8;
  --On-Surface: #131320;
  --Surface-Quiet: #6f6f73;
  --Surface-Dim-Quiet: #6b6b6f;
  --Surface-Bright-Quiet: #6f6f73;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --Surface-On-Quiet: #617371;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #2e4e4b;
  --On-Surface-Bright: #2e4e4b;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-background="primary"] {
  --Surface: #2a2b3e;
  --Surface-Dim: #2a2b3d;
  --Surface-Bright: #2c2d40;
  --Surface-Quiet: #93939b;
  --Surface-Dim-Quiet: #93939b;
  --Surface-Bright-Quiet: #96969d;
  --Container: #f0f0f1;
  --Container-Low: #f6f7f7;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e8e8ea;
  --Container-Highest: #e1e1e4;
  --Container-On-Quiet: #617270;
  --Container-Low-Quiet: #6f7072;
  --Container-Lowest-Quiet: #747476;
  --Container-High-Quiet: #67676a;
  --Container-Highest-Quiet: #646467;
  --Dropdown-Color-1: #1d1d27b3;
  --Dropdown-Color-2: #1d1d278a;
  --Dropdown-Color-3: #1d1d2761;
  --Dropdown-Color-4: #1d1d2752;
  --Dropdown-Color-5: #1d1d2733;
  --Surface-Icon-BG: #131320;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #8082af;
  --Surface-Icon-Secondary: #ec7338;
  --Surface-Icon-Tertiary: #fec757;
  --Container-Icon-BG: #131320;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #d43c42;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #707199;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #838390;
  --Container-Border: #6b6b74;
  --Surface-Button: #ec7338;
  --Surface-Button-Half: #091e2a80;
  --Container-Button: #ec7338;
  --Container-Button-Half: #091e2a80;
  --Surface-On-Button: #121212;
  --Container-On-Button: #121212;
  --Surface-Light-Button: #f9d0bc;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f9d0bc;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #efeff5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #999ab9;
  --Surface-Text-Secondary: #f09264;
  --Surface-Text-Tertiary: #fec757;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #2a2b3e;
  --Surface-Dim: #2a2b3d;
  --Surface-Bright: #2c2d40;
  --On-Surface: #efeff5;
  --Surface-Quiet: #93939b;
  --Surface-Dim-Quiet: #93939b;
  --Surface-Bright-Quiet: #96969d;
  --Container: #f0f0f1;
  --Container-Low: #f6f7f7;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e8e8ea;
  --Container-Highest: #e1e1e4;
  --On-Container: #131320;
  --Container-Quiet: #6d6d70;
  --Container-Low-Quiet: #6f7072;
  --Container-Lowest-Quiet: #747476;
  --Container-High-Quiet: #67676a;
  --Container-Highest-Quiet: #646467;
  --Dropdown-Color-1: #1d1d27b3;
  --Dropdown-Color-2: #1d1d278a;
  --Dropdown-Color-3: #1d1d2761;
  --Dropdown-Color-4: #1d1d2752;
  --Dropdown-Color-5: #1d1d2733;
  --Surface-On-On-Button: #ffffff;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #f9d0bc;
  --Container-On-On-Light-Button: #f9d0bc;
  --Surface-On-Quiet: #a1bcb9;
  --Container-On-Quiet: #617270;
  --On-Surface-Dim: #b4d0cd;
  --On-Surface-Bright: #b4d0cd;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-background="primary-light"] {
  --Surface: #42425d;
  --Surface-Dim: #41415c;
  --Surface-Bright: #44445f;
  --Surface-Quiet: #b1b1bb;
  --Surface-Dim-Quiet: #afafb9;
  --Surface-Bright-Quiet: #b3b3bd;
  --Container: #f2f2f4;
  --Container-Low: #f7f7f9;
  --Container-Lowest: #fbfbfc;
  --Container-High: #eaeaed;
  --Container-Highest: #e5e5e8;
  --Container-On-Quiet: #617270;
  --Container-Low-Quiet: #707073;
  --Container-Lowest-Quiet: #747477;
  --Container-High-Quiet: #67676b;
  --Container-Highest-Quiet: #656569;
  --Dropdown-Color-1: #2d2d3bb3;
  --Dropdown-Color-2: #2d2d3b8a;
  --Dropdown-Color-3: #2d2d3b61;
  --Dropdown-Color-4: #2d2d3b52;
  --Dropdown-Color-5: #2d2d3b33;
  --Surface-Icon-BG: #131320;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #9c9ed3;
  --Surface-Icon-Secondary: #ec7338;
  --Surface-Icon-Tertiary: #fec757;
  --Container-Icon-BG: #131320;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #efeff5;
  --Container-Border: #6c6c75;
  --Surface-Button: #ec7338;
  --Surface-Button-Half: #054d6d80;
  --Container-Button: #ec7338;
  --Container-Button-Half: #054d6d80;
  --Surface-On-Button: #121212;
  --Container-On-Button: #121212;
  --Surface-Light-Button: #f9d0bc;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f9d0bc;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #efeff5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #b6b6cd;
  --Surface-Text-Secondary: #f5b190;
  --Surface-Text-Tertiary: #fec757;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #42425d;
  --Surface-Dim: #41415c;
  --Surface-Bright: #44445f;
  --On-Surface: #efeff5;
  --Surface-Quiet: #b1b1bb;
  --Surface-Dim-Quiet: #afafb9;
  --Surface-Bright-Quiet: #b3b3bd;
  --Container: #f2f2f4;
  --Container-Low: #f7f7f9;
  --Container-Lowest: #fbfbfc;
  --Container-High: #eaeaed;
  --Container-Highest: #e5e5e8;
  --On-Container: #131320;
  --Container-Quiet: #6e6e71;
  --Container-Low-Quiet: #707073;
  --Container-Lowest-Quiet: #747477;
  --Container-High-Quiet: #67676b;
  --Container-Highest-Quiet: #656569;
  --Dropdown-Color-1: #2d2d3bb3;
  --Dropdown-Color-2: #2d2d3b8a;
  --Dropdown-Color-3: #2d2d3b61;
  --Dropdown-Color-4: #2d2d3b52;
  --Dropdown-Color-5: #2d2d3b33;
  --Surface-On-On-Button: #ffffff;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #f9d0bc;
  --Container-On-On-Light-Button: #f9d0bc;
  --Surface-On-Quiet: #cbdcda;
  --Container-On-Quiet: #617270;
  --On-Surface-Dim: #d2e2e0;
  --On-Surface-Bright: #d2e2e0;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-background="primary-dark"] {
  --Surface: #131320;
  --Surface-Dim: #131320;
  --Surface-Bright: #141521;
  --Surface-Quiet: #7f7f84;
  --Surface-Dim-Quiet: #7f7f84;
  --Surface-Bright-Quiet: #808085;
  --Container: #eeeeef;
  --Container-Low: #f6f6f6;
  --Container-Lowest: #fafafb;
  --Container-High: #e5e5e6;
  --Container-Highest: #dedee0;
  --Container-On-Quiet: #607170;
  --Container-Low-Quiet: #6f6f72;
  --Container-Lowest-Quiet: #717174;
  --Container-High-Quiet: #656568;
  --Container-Highest-Quiet: #626266;
  --Dropdown-Color-1: #0d0d14b3;
  --Dropdown-Color-2: #0d0d148a;
  --Dropdown-Color-3: #0d0d1461;
  --Dropdown-Color-4: #0d0d1452;
  --Dropdown-Color-5: #0d0d1433;
  --Surface-Icon-BG: #131320;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Primary: #66688d;
  --Surface-Icon-Secondary: #ec7338;
  --Surface-Icon-Tertiary: #fec757;
  --Surface-Icon-Info: #e6f3fe;
  --Container-Icon-BG: #131320;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #d43c42;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #707199;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #81818b;
  --Container-Border: #6b6b73;
  --Surface-Button: #ec7338;
  --Surface-Button-Half: #091e2a80;
  --Container-Button: #ec7338;
  --Container-Button-Half: #091e2a80;
  --Surface-On-Button: #121212;
  --Container-On-Button: #121212;
  --Surface-Light-Button: #f9d0bc;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f9d0bc;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #7c7da5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #999ab9;
  --Surface-Text-Secondary: #f09264;
  --Surface-Text-Tertiary: #fec757;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #131320;
  --Surface-Dim: #131320;
  --Surface-Bright: #141521;
  --On-Surface: #efeff5;
  --Surface-Quiet: #7f7f84;
  --Surface-Dim-Quiet: #7f7f84;
  --Surface-Bright-Quiet: #808085;
  --Container: #eeeeef;
  --Container-Low: #f6f6f6;
  --Container-Lowest: #fafafb;
  --Container-High: #e5e5e6;
  --Container-Highest: #dedee0;
  --On-Container: #131320;
  --Container-Quiet: #6c6c6f;
  --Container-Low-Quiet: #6f6f72;
  --Container-Lowest-Quiet: #717174;
  --Container-High-Quiet: #656568;
  --Container-Highest-Quiet: #626266;
  --Dropdown-Color-1: #0d0d14b3;
  --Dropdown-Color-2: #0d0d148a;
  --Dropdown-Color-3: #0d0d1461;
  --Dropdown-Color-4: #0d0d1452;
  --Dropdown-Color-5: #0d0d1433;
  --Surface-On-On-Button: #ffffff;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #f9d0bc;
  --Container-On-On-Light-Button: #f9d0bc;
  --groupName: Primary-Dark;
  --Surface-On-Quiet: #88a09d;
  --Container-On-Quiet: #607170;
  --On-Surface-Dim: #b4d0cd;
  --On-Surface-Bright: #b4d0cd;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-background="secondary"] {
  --Surface: #ec7338;
  --Surface-Dim: #ea7237;
  --Surface-Bright: #ee753a;
  --Surface-Quiet: #4d2310;
  --Surface-Dim-Quiet: #49210e;
  --Surface-Bright-Quiet: #4d2310;
  --Container: #fef5f1;
  --Container-Low: #fef9f7;
  --Container-Lowest: #fffcfb;
  --Container-High: #fdf0e9;
  --Container-Highest: #fcebe3;
  --Container-On-Quiet: #94635f;
  --Container-Low-Quiet: #79716f;
  --Container-Lowest-Quiet: #797270;
  --Container-High-Quiet: #766a66;
  --Container-Highest-Quiet: #756863;
  --Dropdown-Color-1: #9e4920b3;
  --Dropdown-Color-2: #9e49208a;
  --Dropdown-Color-3: #9e492061;
  --Dropdown-Color-4: #9e492052;
  --Dropdown-Color-5: #9e492033;
  --Surface-Icon-BG: #fdefe8;
  --Surface-Icon-Success: #153c17;
  --Surface-Icon-Error: #802225;
  --Surface-Icon-Warning: #4b3602;
  --Surface-Icon-Info: #02315c;
  --Surface-Icon-Primary: #2a2b3e;
  --Surface-Icon-Secondary: #ffffff;
  --Surface-Icon-Tertiary: #ffffff;
  --Container-Icon-BG: #fdefe8;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #2e1205;
  --Container-Border: #816d63;
  --Surface-Button: #552004;
  --Surface-Button-Half: #02658f80;
  --Container-Button: #552004;
  --Container-Button-Half: #02658f80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #2e1205;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a43b02;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #2a2b3e;
  --Surface-Text-Secondary: #2e1205;
  --Surface-Text-Tertiary: #322201;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #ec7338;
  --Surface-Dim: #ea7237;
  --Surface-Bright: #ee753a;
  --On-Surface: #2e1205;
  --Surface-Quiet: #4d2310;
  --Surface-Dim-Quiet: #49210e;
  --Surface-Bright-Quiet: #4d2310;
  --Container: #fef5f1;
  --Container-Low: #fef9f7;
  --Container-Lowest: #fffcfb;
  --Container-High: #fdf0e9;
  --Container-Highest: #fcebe3;
  --On-Container: #2e1205;
  --Container-Quiet: #796f6c;
  --Container-Low-Quiet: #79716f;
  --Container-Lowest-Quiet: #797270;
  --Container-High-Quiet: #766a66;
  --Container-Highest-Quiet: #756863;
  --Dropdown-Color-1: #9e4920b3;
  --Dropdown-Color-2: #9e49208a;
  --Dropdown-Color-3: #9e492061;
  --Dropdown-Color-4: #9e492052;
  --Dropdown-Color-5: #9e492033;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --groupName: Secondary;
  --Surface-On-Quiet: #1c1413;
  --Container-On-Quiet: #94635f;
  --On-Surface-Dim: #121212;
  --On-Surface-Bright: #121212;
  --On-Container-Low: #7b2b1e;
  --On-Container-Lowest: #7b2b1e;
  --On-Container-High: #7b2b1e;
  --On-Container-Highest: #7b2b1e;
}

/* AA-light mode specific backgrounds */
[data-background="secondary-light"] {
  --Surface: #f09264;
  --Surface-Dim: #ee9163;
  --Surface-Bright: #f29466;
  --Surface-Quiet: #652f19;
  --Surface-Dim-Quiet: #622d16;
  --Surface-Bright-Quiet: #663019;
  --Container: #fef7f4;
  --Container-Low: #fefbf9;
  --Container-Lowest: #fffdfc;
  --Container-High: #fdf3ee;
  --Container-Highest: #fdf0e9;
  --Container-On-Quiet: #946460;
  --Container-Low-Quiet: #79716f;
  --Container-Lowest-Quiet: #797271;
  --Container-High-Quiet: #786e6b;
  --Container-Highest-Quiet: #766a66;
  --Dropdown-Color-1: #b75626b3;
  --Dropdown-Color-2: #b756268a;
  --Dropdown-Color-3: #b7562661;
  --Dropdown-Color-4: #b7562652;
  --Dropdown-Color-5: #b7562633;
  --Surface-Icon-BG: #fdefe8;
  --Surface-Icon-Success: #1a541e;
  --Surface-Icon-Error: #802225;
  --Surface-Icon-Warning: #654901;
  --Surface-Icon-Info: #014787;
  --Surface-Icon-Primary: #2a2b3e;
  --Surface-Icon-Secondary: #ffffff;
  --Surface-Icon-Tertiary: #ffffff;
  --Container-Icon-BG: #fdefe8;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #552004;
  --Container-Border: #816e65;
  --Surface-Button: #7d2d03;
  --Surface-Button-Half: #007cb080;
  --Container-Button: #7d2d03;
  --Container-Button-Half: #007cb080;
  --Container-Button-Hover: #d95c49;
  --Container-Button-Focus: #d4523d;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #552004;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a43b02;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #2a2b3e;
  --Surface-Text-Secondary: #552004;
  --Surface-Text-Tertiary: #4e3401;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #f09264;
  --Surface-Dim: #ee9163;
  --Surface-Bright: #f29466;
  --On-Surface: #552004;
  --Surface-Quiet: #652f19;
  --Surface-Dim-Quiet: #622d16;
  --Surface-Bright-Quiet: #663019;
  --Container: #fef7f4;
  --Container-Low: #fefbf9;
  --Container-Lowest: #fffdfc;
  --Container-High: #fdf3ee;
  --Container-Highest: #fdf0e9;
  --On-Container: #2e1205;
  --Container-Quiet: #79706d;
  --Container-Low-Quiet: #79716f;
  --Container-Lowest-Quiet: #797271;
  --Container-High-Quiet: #786e6b;
  --Container-Highest-Quiet: #766a66;
  --Dropdown-Color-1: #b75626b3;
  --Dropdown-Color-2: #b756268a;
  --Dropdown-Color-3: #b7562661;
  --Dropdown-Color-4: #b7562652;
  --Dropdown-Color-5: #b7562633;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --groupName: Secondary-Light;
  --Surface-On-Quiet: #561e16;
  --Container-On-Quiet: #946460;
  --On-Surface-Dim: #531c13;
  --On-Surface-Bright: #531c13;
  --On-Container-Low: #7b2b1e;
  --On-Container-Lowest: #7b2b1e;
  --On-Container-High: #7b2b1e;
  --On-Container-Highest: #7b2b1e;
}

/* AA-light mode specific backgrounds */
[data-background="secondary-dark"] {
  --Surface: #cb4801;
  --Surface-Dim: #c94701;
  --Surface-Bright: #cd4a03;
  --Surface-Quiet: #fdfaf2;
  --Surface-Dim-Quiet: #fcf8ef;
  --Surface-Bright-Quiet: #fffef6;
  --Container: #fbf2ed;
  --Container-Low: #fdf8f5;
  --Container-Lowest: #fefbfa;
  --Container-High: #f9ebe3;
  --Container-Highest: #f8e5db;
  --Container-On-Quiet: #94635e;
  --Container-Low-Quiet: #78706e;
  --Container-Lowest-Quiet: #797170;
  --Container-High-Quiet: #746863;
  --Container-Highest-Quiet: #746560;
  --Dropdown-Color-1: #77330eb3;
  --Dropdown-Color-2: #77330e8a;
  --Dropdown-Color-3: #77330e61;
  --Dropdown-Color-4: #77330e52;
  --Dropdown-Color-5: #77330e33;
  --Surface-Icon-BG: #2e1205;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #ffffff;
  --Surface-Icon-Secondary: #ffd585;
  --Surface-Icon-Tertiary: #ffd661;
  --Container-Icon-BG: #2e1205;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #fffff7;
  --Container-Border: #806c62;
  --Surface-Button: #f9d0bc;
  --Surface-Button-Half: #054d6d80;
  --Container-Button: #f9d0bc;
  --Container-Button-Half: #054d6d80;
  --Surface-On-Button: #121212;
  --Container-On-Button: #121212;
  --Surface-Light-Button: #f9d0bc;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f9d0bc;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #fffff7;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a43b02;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #efeff5;
  --Surface-Text-Secondary: #fdefe8;
  --Surface-Text-Tertiary: #fff7e6;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #cb4801;
  --Surface-Dim: #c94701;
  --Surface-Bright: #cd4a03;
  --On-Surface: #fffff7;
  --Surface-Quiet: #fdfaf2;
  --Surface-Dim-Quiet: #fcf8ef;
  --Surface-Bright-Quiet: #fffef6;
  --Container: #fbf2ed;
  --Container-Low: #fdf8f5;
  --Container-Lowest: #fefbfa;
  --Container-High: #f9ebe3;
  --Container-Highest: #f8e5db;
  --On-Container: #2e1205;
  --Container-Quiet: #786d6a;
  --Container-Low-Quiet: #78706e;
  --Container-Lowest-Quiet: #797170;
  --Container-High-Quiet: #746863;
  --Container-Highest-Quiet: #746560;
  --Dropdown-Color-1: #77330eb3;
  --Dropdown-Color-2: #77330e8a;
  --Dropdown-Color-3: #77330e61;
  --Dropdown-Color-4: #77330e52;
  --Dropdown-Color-5: #77330e33;
  --Surface-On-On-Button: #ffffff;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #f9d0bc;
  --Container-On-On-Light-Button: #f9d0bc;
  --groupName: Secondary-Dark;
  --Surface-On-Quiet: #fdfafa;
  --Container-On-Quiet: #94635e;
  --On-Surface-Dim: #ffffff;
  --On-Surface-Bright: #ffffff;
  --On-Container-Low: #7b2b1e;
  --On-Container-Lowest: #7b2b1e;
  --On-Container-High: #7b2b1e;
  --On-Container-Highest: #7b2b1e;
}

/* AA-light mode specific backgrounds */
[data-background="tertiary"] {
  --Surface: #fec757;
  --Surface-Dim: #f9c355;
  --Surface-Bright: #ffc858;
  --Surface-Quiet: #6f5523;
  --Surface-Dim-Quiet: #6b5221;
  --Surface-Bright-Quiet: #6d5422;
  --Container: #fffbf3;
  --Container-Low: #fffdf8;
  --Container-Lowest: #fffefc;
  --Container-High: #fff9ed;
  --Container-Highest: #fff7e7;
  --Container-On-Quiet: #985e56;
  --Container-Low-Quiet: #78726c;
  --Container-Lowest-Quiet: #78736e;
  --Container-High-Quiet: #787167;
  --Container-Highest-Quiet: #787065;
  --Dropdown-Color-1: #c68d17b3;
  --Dropdown-Color-2: #c68d178a;
  --Dropdown-Color-3: #c68d1761;
  --Dropdown-Color-4: #c68d1752;
  --Dropdown-Color-5: #c68d1733;
  --Surface-Icon-BG: #fff7e6;
  --Surface-Icon-Success: #1f6d25;
  --Surface-Icon-Error: #aa2f34;
  --Surface-Icon-Warning: #7f5b01;
  --Surface-Icon-Info: #015db1;
  --Surface-Icon-Primary: #595a7b;
  --Surface-Icon-Secondary: #a43b02;
  --Surface-Icon-Tertiary: #855700;
  --Container-Icon-BG: #fff7e6;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #322201;
  --Container-Border: #847962;
  --Surface-Button: #a43b02;
  --Surface-Button-Half: #4da7d780;
  --Container-Button: #a43b02;
  --Container-Button-Half: #4da7d780;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #322201;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a16800;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #42425d;
  --Surface-Text-Secondary: #7d2d03;
  --Surface-Text-Tertiary: #6a4501;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #fec757;
  --Surface-Dim: #f9c355;
  --Surface-Bright: #ffc858;
  --On-Surface: #322201;
  --Surface-Quiet: #6f5523;
  --Surface-Dim-Quiet: #6b5221;
  --Surface-Bright-Quiet: #6d5422;
  --Container: #fffbf3;
  --Container-Low: #fffdf8;
  --Container-Lowest: #fffefc;
  --Container-High: #fff9ed;
  --Container-Highest: #fff7e7;
  --On-Container: #322201;
  --Container-Quiet: #78726a;
  --Container-Low-Quiet: #78726c;
  --Container-Lowest-Quiet: #78736e;
  --Container-High-Quiet: #787167;
  --Container-Highest-Quiet: #787065;
  --Dropdown-Color-1: #c68d17b3;
  --Dropdown-Color-2: #c68d178a;
  --Dropdown-Color-3: #c68d1761;
  --Dropdown-Color-4: #c68d1752;
  --Dropdown-Color-5: #c68d1733;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --Surface-On-Quiet: #fefbfb;
  --Container-On-Quiet: #985e56;
  --On-Surface-Dim: #3d3416;
  --On-Surface-Bright: #3d3416;
  --On-Container-Low: #57491c;
  --On-Container-Lowest: #57491c;
  --On-Container-High: #57491c;
  --On-Container-Highest: #57491c;
}

/* AA-light mode specific backgrounds */
[data-background="tertiary-light"] {
  --Surface: #fed787;
  --Surface-Dim: #f9d384;
  --Surface-Bright: #ffd888;
  --Surface-Quiet: #725e38;
  --Surface-Dim-Quiet: #6e5a35;
  --Surface-Bright-Quiet: #735e38;
  --Container: #fffcf7;
  --Container-Low: #fffdfa;
  --Container-Lowest: #fffefd;
  --Container-High: #fffbf2;
  --Container-Highest: #fff9ee;
  --Container-On-Quiet: #9a625a;
  --Container-Low-Quiet: #78726d;
  --Container-Lowest-Quiet: #78736e;
  --Container-High-Quiet: #787269;
  --Container-Highest-Quiet: #787168;
  --Dropdown-Color-1: #e2a11bb3;
  --Dropdown-Color-2: #e2a11b8a;
  --Dropdown-Color-3: #e2a11b61;
  --Dropdown-Color-4: #e2a11b52;
  --Dropdown-Color-5: #e2a11b33;
  --Surface-Icon-BG: #fff7e6;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #d43c42;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Surface-Icon-Primary: #707199;
  --Surface-Icon-Secondary: #cb4801;
  --Surface-Icon-Tertiary: #a16800;
  --Container-Icon-BG: #fff7e6;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #8e733d;
  --Container-Border: #847963;
  --Surface-Button: #cb4801;
  --Surface-Button-Half: #091e2a80;
  --Container-Button: #cb4801;
  --Container-Button-Half: #091e2a80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #855700;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a16800;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a43b02;
  --Surface-Text-Tertiary: #6a4501;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #fed787;
  --Surface-Dim: #f9d384;
  --Surface-Bright: #ffd888;
  --On-Surface: #322201;
  --Surface-Quiet: #725e38;
  --Surface-Dim-Quiet: #6e5a35;
  --Surface-Bright-Quiet: #735e38;
  --Container: #fffcf7;
  --Container-Low: #fffdfa;
  --Container-Lowest: #fffefd;
  --Container-High: #fffbf2;
  --Container-Highest: #fff9ee;
  --On-Container: #322201;
  --Container-Quiet: #78726c;
  --Container-Low-Quiet: #78726d;
  --Container-Lowest-Quiet: #78736e;
  --Container-High-Quiet: #787269;
  --Container-Highest-Quiet: #787168;
  --Dropdown-Color-1: #e2a11bb3;
  --Dropdown-Color-2: #e2a11b8a;
  --Dropdown-Color-3: #e2a11b61;
  --Dropdown-Color-4: #e2a11b52;
  --Dropdown-Color-5: #e2a11b33;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --groupName: Tertiary-Light;
  --Surface-On-Quiet: #461b0c;
  --Container-On-Quiet: #9a625a;
  --On-Surface-Dim: #57491c;
  --On-Surface-Bright: #57491c;
  --On-Container-Low: #57491c;
  --On-Container-Lowest: #57491c;
  --On-Container-High: #57491c;
  --On-Container-Highest: #57491c;
}

/* AA-light mode specific backgrounds */
[data-background="tertiary-dark"] {
  --Surface: #fdb727;
  --Surface-Dim: #f8b326;
  --Surface-Bright: #feb828;
  --Surface-Quiet: #694b0f;
  --Surface-Dim-Quiet: #65480e;
  --Surface-Bright-Quiet: #6a4c0f;
  --Container: #fffaf0;
  --Container-Low: #fffcf6;
  --Container-Lowest: #fffefb;
  --Container-High: #fff7e7;
  --Container-Highest: #fff5e1;
  --Container-On-Quiet: #985e56;
  --Container-Low-Quiet: #78726b;
  --Container-Lowest-Quiet: #78736d;
  --Container-High-Quiet: #787065;
  --Container-Highest-Quiet: #786f62;
  --Dropdown-Color-1: #a97914b3;
  --Dropdown-Color-2: #a979148a;
  --Dropdown-Color-3: #a9791461;
  --Dropdown-Color-4: #a9791452;
  --Dropdown-Color-5: #a9791433;
  --Surface-Icon-BG: #fff7e6;
  --Surface-Icon-Success: #1f6d25;
  --Surface-Icon-Error: #aa2f34;
  --Surface-Icon-Warning: #7f5b01;
  --Surface-Icon-Info: #015db1;
  --Surface-Icon-Primary: #595a7b;
  --Surface-Icon-Secondary: #a43b02;
  --Surface-Icon-Tertiary: #855700;
  --Container-Icon-BG: #fff7e6;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #322201;
  --Container-Border: #847861;
  --Surface-Button: #a43b02;
  --Surface-Button-Half: #007cb080;
  --Container-Button: #a43b02;
  --Container-Button-Half: #007cb080;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #322201;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #855700;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #42425d;
  --Surface-Text-Secondary: #7d2d03;
  --Surface-Text-Tertiary: #6a4501;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #fdb727;
  --Surface-Dim: #f8b326;
  --Surface-Bright: #feb828;
  --On-Surface: #322201;
  --Surface-Quiet: #694b0f;
  --Surface-Dim-Quiet: #65480e;
  --Surface-Bright-Quiet: #6a4c0f;
  --Container: #fffaf0;
  --Container-Low: #fffcf6;
  --Container-Lowest: #fffefb;
  --Container-High: #fff7e7;
  --Container-Highest: #fff5e1;
  --On-Container: #322201;
  --Container-Quiet: #787169;
  --Container-Low-Quiet: #78726b;
  --Container-Lowest-Quiet: #78736d;
  --Container-High-Quiet: #787065;
  --Dropdown-Color-1: #a97914b3;
  --Dropdown-Color-2: #a979148a;
  --Dropdown-Color-3: #a9791461;
  --Dropdown-Color-4: #a9791452;
  --Dropdown-Color-5: #a9791433;
  --Container-Highest-Quiet: #786f62;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --groupName: Tertiary-Dark;
  --Surface-On-Quiet: #ecd0c9;
  --Container-On-Quiet: #985e56;
  --On-Surface-Dim: #3d3416;
  --On-Surface-Bright: #3d3416;
  --On-Container-Low: #57491c;
  --On-Container-Lowest: #57491c;
  --On-Container-High: #57491c;
  --On-Container-Highest: #57491c;
}

/* AA-light mode specific backgrounds */
[data-background="white"] {
  --Surface: #ffffff;
  --Surface-Dim: #f9f9f9;
  --Surface-Bright: #ffffff;
  --Surface-Quiet: #767678;
  --Surface-Dim-Quiet: #717173;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a6a6a6b3;
  --Dropdown-Color-2: #a6a6a68a;
  --Dropdown-Color-3: #a6a6a661;
  --Dropdown-Color-4: #a6a6a652;
  --Dropdown-Color-5: #a6a6a633;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #e24a4c;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Surface-Icon-Primary: #7c7da5;
  --Surface-Icon-Secondary: #cb4801;
  --Surface-Icon-Tertiary: #a16800;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #66666e;
  --Container-Border: #6d6d76;
  --Surface-Button: #cb4801;
  --Surface-Button-Half: #007cb080;
  --Container-Button: #cb4801;
  --Container-Button-Half: #007cb080;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #707199;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a43b02;
  --Surface-Text-Tertiary: #855700;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #ffffff;
  --Surface-Dim: #f9f9f9;
  --Surface-Bright: #ffffff;
  --On-Surface: #131320;
  --Surface-Quiet: #767678;
  --Surface-Dim-Quiet: #717173;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a6a6a6b3;
  --Dropdown-Color-2: #a6a6a68a;
  --Dropdown-Color-3: #a6a6a661;
  --Dropdown-Color-4: #a6a6a652;
  --Dropdown-Color-5: #a6a6a633;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --Surface-On-Quiet: #697876;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #2e4e4b;
  --On-Surface-Bright: #2e4e4b;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-background="grey"] {
  --Surface: #fafafa;
  --Surface-Dim: #f4f4f4;
  --Surface-Bright: #ffffff;
  --Surface-Quiet: #717173;
  --Surface-Dim-Quiet: #6e6e71;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a3a3a3b3;
  --Dropdown-Color-2: #a3a3a38a;
  --Dropdown-Color-3: #a3a3a361;
  --Dropdown-Color-4: #a3a3a352;
  --Dropdown-Color-5: #a3a3a333;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #e24a4c;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Surface-Icon-Primary: #7c7da5;
  --Surface-Icon-Secondary: #cb4801;
  --Surface-Icon-Tertiary: #a16800;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #64646c;
  --Container-Border: #6d6d76;
  --Surface-Button: #cb4801;
  --Surface-Button-Half: #007cb080;
  --Container-Button: #cb4801;
  --Container-Button-Half: #007cb080;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #f5b190;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f5b190;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #595a7b;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a43b02;
  --Surface-Text-Tertiary: #855700;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #fafafa;
  --Surface-Dim: #f4f4f4;
  --Surface-Bright: #ffffff;
  --On-Surface: #131320;
  --Surface-Quiet: #717173;
  --Surface-Dim-Quiet: #6e6e71;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a3a3a3b3;
  --Dropdown-Color-2: #a3a3a38a;
  --Dropdown-Color-3: #a3a3a361;
  --Dropdown-Color-4: #a3a3a352;
  --Dropdown-Color-5: #a3a3a333;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #f5b190;
  --Container-On-On-Light-Button: #f5b190;
  --Container-Test-Success: #102310;
  --Enhanced-Surface-Text-Color: #000000;
  --Enhanced-Surface-On-Quiet: #666666;
  --Enhanced-Surface-Hotlink: #1976d2;
  --Enhanced-Container-Text-Color: #000000;
  --Enhanced-Container-On-Quiet: #666666;
  --Enhanced-Container-Hotlink: #1976d2;
  --Surface-On-Quiet: #677675;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #2e4e4b;
  --On-Surface-Bright: #2e4e4b;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-background="black"] {
  --Surface: #121212;
  --Surface-Dim: #121212;
  --Surface-Bright: #1a1a1a;
  --Surface-Quiet: #7d7d80;
  --Surface-Dim-Quiet: #7d7d80;
  --Surface-Bright-Quiet: #838386;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #66688d;
  --Surface-Icon-Secondary: #ec7338;
  --Surface-Icon-Tertiary: #fec757;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #cb4801;
  --Container-Icon-Tertiary: #a16800;
  --Surface-Border: #818184;
  --Container-Border: #6d6d76;
  --Surface-Button: #ec7338;
  --Surface-Button-Half: #007cb080;
  --Container-Button: #ec7338;
  --Container-Button-Half: #007cb080;
  --Surface-On-Button: #121212;
  --Container-On-Button: #121212;
  --Surface-Light-Button: #f9d0bc;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #f9d0bc;
  --Container-Light-Button-Text: #121212;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #7c7da5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #999ab9;
  --Surface-Text-Secondary: #f09264;
  --Surface-Text-Tertiary: #fec757;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a43b02;
  --Container-Text-Tertiary: #855700;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #121212;
  --Surface-Dim: #121212;
  --Surface-Bright: #1a1a1a;
  --On-Surface: #efeff5;
  --Surface-Quiet: #7d7d80;
  --Surface-Dim-Quiet: #7d7d80;
  --Surface-Bright-Quiet: #838386;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface-On-On-Button: #ffffff;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #f9d0bc;
  --Container-On-On-Light-Button: #f9d0bc;
  --Surface-On-Quiet: #70817f;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #b4d0cd;
  --On-Surface-Bright: #b4d0cd;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode Red-Weak chart */
[charts="Red-Weak"] {
  --Chart-1: #3a62c7;
  --Chart-2: #1e455d;
  --Chart-3: #4793bd;
  --Chart-4: #62649d;
  --Chart-5: #a34250;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #af884e;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #3a62c780;
  --Chart-2-Half: #1e455d80;
  --Chart-3-Half: #4793bd80;
  --Chart-4-Half: #62649d80;
  --Chart-5-Half: #a3425080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #af884e80;
}

/* AA-light mode Blue-Weak chart */
[charts="Blue-Weak"] {
  --Chart-1: #3a62c7;
  --Chart-2: #1e455d;
  --Chart-3: #4793bd;
  --Chart-4: #62649d;
  --Chart-5: #a34250;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #3a62c780;
  --Chart-2-Half: #1e455d80;
  --Chart-3-Half: #4793bd80;
  --Chart-4-Half: #62649d80;
  --Chart-5-Half: #a3425080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #76763780;
}

/* AA-light mode Green-Weak chart */
[charts="Green-Weak"] {
  --Chart-1: #060b24;
  --Chart-2: #1c4174;
  --Chart-3: #558be8;
  --Chart-4: #3a62c7;
  --Chart-5: #7f574e;
  --Chart-6: #b98446;
  --Chart-7: #767637;
  --Chart-8: #9180cd;
  --Chart-9: #9c839d;
  --Chart-10: #52406f;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #060b2480;
  --Chart-2-Half: #1c417480;
  --Chart-3-Half: #558be880;
  --Chart-4-Half: #3a62c780;
  --Chart-5-Half: #7f574e80;
  --Chart-6-Half: #b9844680;
  --Chart-7-Half: #76763780;
  --Chart-8-Half: #9180cd80;
  --Chart-9-Half: #9c839d80;
  --Chart-10-Half: #52406f80;
}

/* AA-light mode Red-Blind chart */
[charts="Red-Blind"] {
  --Chart-1: #060b24;
  --Chart-2: #274f94;
  --Chart-3: #3a62c7;
  --Chart-4: #558be8;
  --Chart-5: #665b27;
  --Chart-6: #807532;
  --Chart-7: #9d9151;
  --Chart-8: #6170a5;
  --Chart-9: #8988a4;
  --Chart-10: #908d8c;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #060b2480;
  --Chart-2-Half: #274f9480;
  --Chart-3-Half: #3a62c780;
  --Chart-4-Half: #558be880;
  --Chart-5-Half: #665b2780;
  --Chart-6-Half: #80753280;
  --Chart-7-Half: #9d915180;
  --Chart-8-Half: #6170a580;
  --Chart-9-Half: #8988a480;
  --Chart-10-Half: #908d8c80;
}

/* AA-light mode Blue-Blind chart */
[charts="Blue-Blind"] {
  --Chart-1: #041214;
  --Chart-2: #1c484d;
  --Chart-3: #3d8c98;
  --Chart-4: #67989b;
  --Chart-5: #91999c;
  --Chart-6: #59373a;
  --Chart-7: #94686c;
  --Chart-8: #a24443;
  --Chart-9: #d17377;
  --Chart-10: #d33635;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #04121480;
  --Chart-2-Half: #1c484d80;
  --Chart-3-Half: #3d8c9880;
  --Chart-4-Half: #67989b80;
  --Chart-5-Half: #91999c80;
  --Chart-6-Half: #59373a80;
  --Chart-7-Half: #94686c80;
  --Chart-8-Half: #a2444380;
  --Chart-9-Half: #d1737780;
  --Chart-10-Half: #d3363580;
}

/* AA-light mode Green-Blind chart */
[charts="Green-Blind"] {
  --Chart-1: #031021;
  --Chart-2: #283e78;
  --Chart-3: #6886e5;
  --Chart-4: #2b67d6;
  --Chart-5: #5e6383;
  --Chart-6: #8988a4;
  --Chart-7: #8f8d8c;
  --Chart-8: #807531;
  --Chart-9: #9e9050;
  --Chart-10: #a08a76;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #03102180;
  --Chart-2-Half: #283e7880;
  --Chart-3-Half: #6886e580;
  --Chart-4-Half: #2b67d680;
  --Chart-5-Half: #5e638380;
  --Chart-6-Half: #8988a480;
  --Chart-7-Half: #8f8d8c80;
  --Chart-8-Half: #80753180;
  --Chart-9-Half: #9e905080;
  --Chart-10-Half: #a08a76;
}

/* AA-light mode Blue-Cone chart */
[charts="Blue-Cone"] {
  --Chart-1: #d33635;
  --Chart-2: #3d8c98;
  --Chart-3: #67989b;
  --Chart-4: #6e6194;
  --Chart-5: #775161;
  --Chart-6: #a082a8;
  --Chart-7: #607053;
  --Chart-8: #d17377;
  --Chart-9: #8750c7;
  --Chart-10: #9e9050;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #d33635;
  --Chart-2-Half: #3d8c98;
  --Chart-3-Half: #67989b;
  --Chart-4-Half: #6e6194;
  --Chart-5-Half: #775161;
  --Chart-6-Half: #a082a8;
  --Chart-7-Half: #607053;
  --Chart-8-Half: #d17377;
  --Chart-9-Half: #8750c7;
  --Chart-10-Half: #9e9050;
}

/* AA-light mode Monochromatic chart */
[charts="Monochromatic"] {
  --Chart-1: #ffffff;
  --Chart-2: #ffffff;
  --Chart-3: #ffffff;
  --Chart-4: #ffffff;
  --Chart-5: #ffffff;
  --Chart-6: #ffffff;
  --Chart-7: #ffffff;
  --Chart-8: #ffffff;
  --Chart-9: #ffffff;
  --Chart-10: #ffffff;
  --Chart-1-Half: #ffffff;
  --Chart-2-Half: #ffffff;
  --Chart-3-Half: #ffffff;
  --Chart-4-Half: #ffffff;
  --Chart-5-Half: #ffffff;
  --Chart-6-Half: #ffffff;
  --Chart-7-Half: #ffffff;
  --Chart-8-Half: #ffffff;
  --Chart-9-Half: #ffffff;
  --Chart-10-Half: #ffffff;
}

/* AA-light mode Default chart */
[charts="Default"] {
  --Chart-1: #2a2b3e;
  --Chart-2: #df438a;
  --Chart-3: #567f2d;
  --Chart-4: #a43b02;
  --Chart-5: #007cac;
  --Chart-6: #15544f;
  --Chart-7: #929292;
  --Chart-8: #7f1e4c;
  --Chart-9: #929292;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #2a2b3e80;
  --Chart-2-Half: #df438a80;
  --Chart-3-Half: #567f2d80;
  --Chart-4-Half: #a43b0280;
  --Chart-5-Half: #007cac80;
  --Chart-6-Half: #15544f80;
  --Chart-7-Half: #92929280;
  --Chart-8-Half: #7f1e4c80;
  --Chart-9-Half: #92929280;
  --Chart-10-Half: #20191380;
  --Chart-10: #201913;
  --Chart-Background: #ffffff;
  --Chart-Axis-Color: rgba(0,0,0,0.75);
  --Chart-Grid-Color: rgba(0,0,0,0.15);
}

