/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background] {
  --Surface: #1f2928;
  --Surface-Dim: #1b2221;
  --Surface-Bright: #293534;
  --Surface-Quiet: #b1b4b4;
  --Surface-Dim-Quiet: #abadad;
  --Surface-Bright-Quiet: #c1c4c4;
  --Container: #1f2928;
  --Container-Low: #1b2221;
  --Container-Lowest: #000000;
  --Container-High: #2c3938;
  --Container-Highest: #303d3c;
  --Container-Low-Quiet: #abadad;
  --Container-Lowest-Quiet: #999999;
  --Container-High-Quiet: #c4c8c7;
  --Container-Highest-Quiet: #cbcece;
  --Dropdown-Color-1: #151a19b3;
  --Dropdown-Color-2: #151a198a;
  --Dropdown-Color-3: #151a1961;
  --Dropdown-Color-4: #151a1952;
  --Dropdown-Color-5: #151a1933;
  --Surface-Icon-Primary: #80aca7;
  --Surface-Icon-Secondary: #e48c7c;
  --Surface-Icon-Tertiary: #baa257;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #5ab75b;
  --Surface-Icon-Error: #ed8688;
  --Surface-Icon-Warning: #d19b09;
  --Surface-Icon-Info: #358ac7;
  --Container-Icon-Primary: #80aca7;
  --Container-Icon-Secondary: #e48c7c;
  --Container-Icon-Tertiary: #baa257;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #5ab75b;
  --Container-Icon-Error: #ed8688;
  --Container-Icon-Warning: #d19b09;
  --Container-Icon-Info: #5eaae8;
  --Surface-Border: #797f7e;
  --Container-Border: #828787;
  --Surface-Button: #80aca7;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #80aca7;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #324a47;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #ffffff;
  --Container-Light-Button: #80aca7;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Default-Underline: true;
  --Surface-Hotlink-Hover-Underline: false;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Dropdown-Color-1: #151a19b3;
  --Dropdown-Color-2: #151a198a;
  --Dropdown-Color-3: #151a1961;
  --Dropdown-Color-4: #151a1952;
  --Dropdown-Color-5: #151a1933;
  --Surface: #1f2928;
  --Surface-Dim: #1b2221;
  --Surface-Bright: #293534;
  --On-Surface: #ffffff;
  --Surface-Quiet: #b1b4b4;
  --Surface-Dim-Quiet: #abadad;
  --Surface-Bright-Quiet: #c1c4c4;
  --Container: #1f2928;
  --Container-Low: #1b2221;
  --Container-Lowest: #000000;
  --Container-High: #2c3938;
  --Container-Highest: #303d3c;
  --On-Container: #ffffff;
  --Container-Quiet: #b1b4b4;
  --Container-Low-Quiet: #abadad;
  --Container-Lowest-Quiet: #999999;
  --Container-High-Quiet: #c4c8c7;
  --Container-Highest-Quiet: #cbcece;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="primary"] {
  --Surface: #161c1b;
  --Surface-Dim: #141918;
  --Surface-Bright: #1d2524;
  --Surface-Quiet: #9baba9;
  --Surface-Dim-Quiet: #99a9a7;
  --Surface-Bright-Quiet: #a2b3b1;
  --Container: #161c1b;
  --Container-Low: #141918;
  --Container-Lowest: #000000;
  --Container-High: #212928;
  --Container-Highest: #252d2c;
  --Container-Low-Quiet: #92aaa7;
  --Container-Lowest-Quiet: #869b99;
  --Container-High-Quiet: #a0bab7;
  --Container-Highest-Quiet: #a3bebb;
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface-Icon-BG: #0a100f;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #0a100f;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #5d7471;
  --Container-Border: #697b79;
  --Surface-Button: #59837f;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #59837f;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #e0ebea;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #7ca8a380;
  --Surface-Light-Button-Text: #7ca8a380;
  --Container-Light-Button: #59837f;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #161c1b;
  --Surface-Dim: #141918;
  --Surface-Bright: #1d2524;
  --On-Surface: #98bcb8;
  --Surface-Quiet: #9baba9;
  --Surface-Dim-Quiet: #99a9a7;
  --Surface-Bright-Quiet: #a2b3b1;
  --Container: #161c1b;
  --Container-Low: #141918;
  --Container-Lowest: #000000;
  --Container-High: #212928;
  --Container-Highest: #252d2c;
  --On-Container: #b0ccc9;
  --Container-Quiet: #94acaa;
  --Container-Low-Quiet: #92aaa7;
  --Container-Lowest-Quiet: #869b99;
  --Container-High-Quiet: #a0bab7;
  --Container-Highest-Quiet: #a3bebb;
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface-On-On-Button: #7ca8a380;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="primary-light"] {
  --Surface: #182220;
  --Surface-Dim: #161d1c;
  --Surface-Bright: #202c2b;
  --Surface-Quiet: #9eafad;
  --Surface-Dim-Quiet: #9babaa;
  --Surface-Bright-Quiet: #a8bab8;
  --Container: #182220;
  --Container-Low: #161d1c;
  --Container-Lowest: #000000;
  --Container-High: #242f2e;
  --Container-Highest: #283332;
  --Container-Low-Quiet: #94acaa;
  --Container-Lowest-Quiet: #869b99;
  --Container-High-Quiet: #a6c1be;
  --Container-Highest-Quiet: #abc6c3;
  --Dropdown-Color-1: #101514b3;
  --Dropdown-Color-2: #1015148a;
  --Dropdown-Color-3: #10151461;
  --Dropdown-Color-4: #10151452;
  --Dropdown-Color-5: #10151433;
  --Surface-Icon-BG: #0a100f;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #0a100f;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #667976;
  --Container-Border: #6d817f;
  --Surface-Button: #59837f;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #80aca7;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #e0ebea;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #103734;
  --Surface-Light-Button-Text: #103734;
  --Container-Light-Button: #80aca7;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #182220;
  --Surface-Dim: #161d1c;
  --Surface-Bright: #202c2b;
  --On-Surface: #b0ccc9;
  --Surface-Quiet: #9eafad;
  --Surface-Dim-Quiet: #9babaa;
  --Surface-Bright-Quiet: #a8bab8;
  --Container: #182220;
  --Container-Low: #161d1c;
  --Container-Lowest: #000000;
  --Container-High: #242f2e;
  --Container-Highest: #283332;
  --On-Container: #b0ccc9;
  --Container-Quiet: #98b1ae;
  --Container-Low-Quiet: #94acaa;
  --Container-Lowest-Quiet: #869b99;
  --Container-High-Quiet: #a6c1be;
  --Container-Highest-Quiet: #abc6c3;
  --Dropdown-Color-1: #101514b3;
  --Dropdown-Color-2: #1015148a;
  --Dropdown-Color-3: #10151461;
  --Dropdown-Color-4: #10151452;
  --Dropdown-Color-5: #10151433;
  --Surface-On-On-Button: #103734;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="primary-dark"] {
  --Surface: #141717;
  --Surface-Dim: #131515;
  --Surface-Bright: #1b1f1f;
  --Surface-Quiet: #97a6a5;
  --Surface-Dim-Quiet: #97a6a4;
  --Surface-Bright-Quiet: #9eaeac;
  --Container: #141717;
  --Container-Low: #131515;
  --Container-Lowest: #000000;
  --Container-High: #1f2323;
  --Container-Highest: #222727;
  --Container-Low-Quiet: #88a8a4;
  --Container-Lowest-Quiet: #7e9c99;
  --Container-High-Quiet: #93b6b2;
  --Container-Highest-Quiet: #96b9b5;
  --Dropdown-Color-1: #0d0f0fb3;
  --Dropdown-Color-2: #0d0f0f8a;
  --Dropdown-Color-3: #0d0f0f61;
  --Dropdown-Color-4: #0d0f0f52;
  --Dropdown-Color-5: #0d0f0f33;
  --Surface-Icon-BG: #0a100f;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Surface-Icon-Info: #286b9c;
  --Container-Icon-BG: #0a100f;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #5b706e;
  --Container-Border: #617774;
  --Surface-Button: #59837f;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #59837f;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #e0ebea;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #103734;
  --Surface-Light-Button-Text: #103734;
  --Container-Light-Button: #59837f;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #141717;
  --Surface-Dim: #131515;
  --Surface-Bright: #1b1f1f;
  --On-Surface: #98bcb8;
  --Surface-Quiet: #97a6a5;
  --Surface-Dim-Quiet: #97a6a4;
  --Surface-Bright-Quiet: #9eaeac;
  --Container: #141717;
  --Container-Low: #131515;
  --Container-Lowest: #000000;
  --Container-High: #1f2323;
  --Container-Highest: #222727;
  --On-Container: #98bcb8;
  --Container-Quiet: #89aaa6;
  --Container-Low-Quiet: #88a8a4;
  --Container-Lowest-Quiet: #7e9c99;
  --Container-High-Quiet: #93b6b2;
  --Container-Highest-Quiet: #96b9b5;
  --Dropdown-Color-1: #0d0f0fb3;
  --Dropdown-Color-2: #0d0f0f8a;
  --Dropdown-Color-3: #0d0f0f61;
  --Dropdown-Color-4: #0d0f0f52;
  --Dropdown-Color-5: #0d0f0f33;
  --Surface-On-On-Button: #103734;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --groupName: Primary-Dark;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="secondary"] {
  --Surface: #3f1e19;
  --Surface-Dim: #331a17;
  --Surface-Bright: #4f2821;
  --Surface-Quiet: #d6aba3;
  --Surface-Dim-Quiet: #cda49c;
  --Surface-Bright-Quiet: #e4b8af;
  --Container: #3f1e19;
  --Container-Low: #331a17;
  --Container-Lowest: #000000;
  --Container-High: #532c25;
  --Container-Highest: #583029;
  --Container-Low-Quiet: #cda49c;
  --Container-Lowest-Quiet: #af8f88;
  --Container-High-Quiet: #ebbeb5;
  --Container-Highest-Quiet: #f1c5bc;
  --Dropdown-Color-1: #261513b3;
  --Dropdown-Color-2: #2615138a;
  --Dropdown-Color-3: #26151361;
  --Dropdown-Color-4: #26151352;
  --Dropdown-Color-5: #26151333;
  --Surface-Icon-BG: #f8d9d3;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #f8d9d3;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #9d756e;
  --Container-Border: #a67e76;
  --Surface-Button: #e48c7c;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #e48c7c;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #65342c;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #19334f;
  --Surface-Light-Button-Text: #19334f;
  --Container-Light-Button: #e48c7c;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #f8d9d3;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #f8d9d3;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #3f1e19;
  --Surface-Dim: #331a17;
  --Surface-Bright: #4f2821;
  --On-Surface: #f3c6bd;
  --Surface-Quiet: #d6aba3;
  --Surface-Dim-Quiet: #cda49c;
  --Surface-Bright-Quiet: #e4b8af;
  --Container: #3f1e19;
  --Container-Low: #331a17;
  --Container-Lowest: #000000;
  --Container-High: #532c25;
  --Container-Highest: #583029;
  --On-Container: #f3c6bd;
  --Container-Quiet: #d6aba3;
  --Container-Low-Quiet: #cda49c;
  --Container-Lowest-Quiet: #af8f88;
  --Container-High-Quiet: #ebbeb5;
  --Container-Highest-Quiet: #f1c5bc;
  --Dropdown-Color-1: #261513b3;
  --Dropdown-Color-2: #2615138a;
  --Dropdown-Color-3: #26151361;
  --Dropdown-Color-4: #26151352;
  --Dropdown-Color-5: #26151333;
  --Surface-On-On-Button: #19334f;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --groupName: Secondary;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="secondary-light"] {
  --Surface: #422723;
  --Surface-Dim: #35211d;
  --Surface-Bright: #52332e;
  --Surface-Quiet: #deb3ab;
  --Surface-Dim-Quiet: #d3aaa2;
  --Surface-Bright-Quiet: #f1c5bc;
  --Container: #422723;
  --Container-Low: #35211d;
  --Container-Lowest: #000000;
  --Container-High: #563732;
  --Container-Highest: #5b3b35;
  --Container-Low-Quiet: #c9ada7;
  --Container-Lowest-Quiet: #a9948f;
  --Container-High-Quiet: #edcec8;
  --Container-Highest-Quiet: #f3d4ce;
  --Dropdown-Color-1: #291b19b3;
  --Dropdown-Color-2: #291b198a;
  --Dropdown-Color-3: #291b1961;
  --Dropdown-Color-4: #291b1952;
  --Dropdown-Color-5: #291b1933;
  --Surface-Icon-BG: #f8d9d3;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #f8d9d3;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #a37e78;
  --Container-Border: #a88b86;
  --Surface-Button: #e48c7c;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #e48c7c;
  --Container-Button-Hover: #ffffff;
  --Container-Button-Focus: #ffffff;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #65342c;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #121212;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #e48c7c;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #f8d9d3;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #f8d9d3;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #422723;
  --Surface-Dim: #35211d;
  --Surface-Bright: #52332e;
  --On-Surface: #f3c6bd;
  --Surface-Quiet: #deb3ab;
  --Surface-Dim-Quiet: #d3aaa2;
  --Surface-Bright-Quiet: #f1c5bc;
  --Container: #422723;
  --Container-Low: #35211d;
  --Container-Lowest: #000000;
  --Container-High: #563732;
  --Container-Highest: #5b3b35;
  --On-Container: #f8d9d3;
  --Container-Quiet: #d4b5b0;
  --Container-Low-Quiet: #c9ada7;
  --Container-Lowest-Quiet: #a9948f;
  --Container-High-Quiet: #edcec8;
  --Container-Highest-Quiet: #f3d4ce;
  --Dropdown-Color-1: #291b19b3;
  --Dropdown-Color-2: #291b198a;
  --Dropdown-Color-3: #291b1961;
  --Dropdown-Color-4: #291b1952;
  --Dropdown-Color-5: #291b1933;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --groupName: Secondary-Light;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="secondary-dark"] {
  --Surface: #161c1b;
  --Surface-Dim: #141918;
  --Surface-Bright: #1d2524;
  --Surface-Quiet: #9baba9;
  --Surface-Dim-Quiet: #99a9a7;
  --Surface-Bright-Quiet: #a2b3b1;
  --Container: #161c1b;
  --Container-Low: #141918;
  --Container-Lowest: #000000;
  --Container-High: #212928;
  --Container-Highest: #252d2c;
  --Container-Low-Quiet: #92aaa7;
  --Container-Lowest-Quiet: #869b99;
  --Container-High-Quiet: #a0bab7;
  --Container-Highest-Quiet: #a3bebb;
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface-Icon-BG: #0a100f;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #0a100f;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #5d7471;
  --Container-Border: #697b79;
  --Surface-Button: #59837f;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #59837f;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #e0ebea;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #19334f;
  --Surface-Light-Button-Text: #19334f;
  --Container-Light-Button: #59837f;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #161c1b;
  --Surface-Dim: #141918;
  --Surface-Bright: #1d2524;
  --On-Surface: #98bcb8;
  --Surface-Quiet: #9baba9;
  --Surface-Dim-Quiet: #99a9a7;
  --Surface-Bright-Quiet: #a2b3b1;
  --Container: #161c1b;
  --Container-Low: #141918;
  --Container-Lowest: #000000;
  --Container-High: #212928;
  --Container-Highest: #252d2c;
  --On-Container: #b0ccc9;
  --Container-Quiet: #94acaa;
  --Container-Low-Quiet: #92aaa7;
  --Container-Lowest-Quiet: #869b99;
  --Container-High-Quiet: #a0bab7;
  --Container-Highest-Quiet: #a3bebb;
  --Dropdown-Color-1: #0f1211b3;
  --Dropdown-Color-2: #0f12118a;
  --Dropdown-Color-3: #0f121161;
  --Dropdown-Color-4: #0f121152;
  --Dropdown-Color-5: #0f121133;
  --Surface-On-On-Button: #19334f;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --groupName: Secondary-Dark;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="tertiary"] {
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --Surface-Quiet: #d4cbad;
  --Surface-Dim-Quiet: #c5bca0;
  --Surface-Bright-Quiet: #e5dabb;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --Container-Low-Quiet: #c0bbad;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #ede8d8;
  --Container-Highest-Quiet: #f2eddd;
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface-Icon-BG: #f0ebdb;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #358ac7;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #f0ebdb;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #358ac7;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #9a9586;
  --Container-Border: #a4a091;
  --Surface-Button: #baa257;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #baa257;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #4c4017;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #3d3100;
  --Surface-Light-Button-Text: #3d3100;
  --Container-Light-Button: #baa257;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #f0ebdb;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #f0ebdb;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #3c382a;
  --Surface-Dim: #312d23;
  --Surface-Bright: #4b4636;
  --On-Surface: #f0ebdb;
  --Surface-Quiet: #d4cbad;
  --Surface-Dim-Quiet: #c5bca0;
  --Surface-Bright-Quiet: #e5dabb;
  --Container: #3c382a;
  --Container-Low: #312d23;
  --Container-Lowest: #000000;
  --Container-High: #504a3a;
  --Container-Highest: #544f3e;
  --On-Container: #f0ebdb;
  --Container-Quiet: #d0cbbb;
  --Container-Low-Quiet: #c0bbad;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #ede8d8;
  --Container-Highest-Quiet: #f2eddd;
  --Dropdown-Color-1: #26241cb3;
  --Dropdown-Color-2: #26241c8a;
  --Dropdown-Color-3: #26241c61;
  --Dropdown-Color-4: #26241c52;
  --Dropdown-Color-5: #26241c33;
  --Surface-On-On-Button: #3d3100;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="tertiary-light"] {
  --Surface: #3f3b2f;
  --Surface-Dim: #333026;
  --Surface-Bright: #4d493b;
  --Surface-Quiet: #d8ceb0;
  --Surface-Dim-Quiet: #c7bea2;
  --Surface-Bright-Quiet: #e5dabb;
  --Container: #3f3b2f;
  --Container-Low: #333026;
  --Container-Lowest: #000000;
  --Container-High: #524d3f;
  --Container-Highest: #565243;
  --Container-Low-Quiet: #c3beb0;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #f2eddd;
  --Container-Highest-Quiet: #f2eddd;
  --Dropdown-Color-1: #282620b3;
  --Dropdown-Color-2: #2826208a;
  --Dropdown-Color-3: #28262061;
  --Dropdown-Color-4: #28262052;
  --Dropdown-Color-5: #28262033;
  --Surface-Icon-BG: #f0ebdb;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #358ac7;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #f0ebdb;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #358ac7;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #9d988a;
  --Container-Border: #a9a596;
  --Surface-Button: #baa257;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #baa257;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #4c4017;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #3d3100;
  --Surface-Light-Button-Text: #3d3100;
  --Container-Light-Button: #baa257;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #f0ebdb;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #f0ebdb;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #3f3b2f;
  --Surface-Dim: #333026;
  --Surface-Bright: #4d493b;
  --On-Surface: #f0ebdb;
  --Surface-Quiet: #d8ceb0;
  --Surface-Dim-Quiet: #c7bea2;
  --Surface-Bright-Quiet: #e5dabb;
  --Container: #3f3b2f;
  --Container-Low: #333026;
  --Container-Lowest: #000000;
  --Container-High: #524d3f;
  --Container-Highest: #565243;
  --On-Container: #f0ebdb;
  --Container-Quiet: #d4cfbf;
  --Container-Low-Quiet: #c3beb0;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #f2eddd;
  --Container-Highest-Quiet: #f2eddd;
  --Dropdown-Color-1: #282620b3;
  --Dropdown-Color-2: #2826208a;
  --Dropdown-Color-3: #28262061;
  --Dropdown-Color-4: #28262052;
  --Dropdown-Color-5: #28262033;
  --Surface-On-On-Button: #3d3100;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --groupName: Tertiary-Light;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="tertiary-dark"] {
  --Surface: #37311e;
  --Surface-Dim: #2d281a;
  --Surface-Bright: #453e28;
  --Surface-Quiet: #c9c0a3;
  --Surface-Dim-Quiet: #bfb69a;
  --Surface-Bright-Quiet: #ddd3b4;
  --Container: #37311e;
  --Container-Low: #2d281a;
  --Container-Lowest: #000000;
  --Container-High: #4a422b;
  --Container-Highest: #4e462f;
  --Container-Low-Quiet: #bbb6a7;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #dfdac9;
  --Container-Highest-Quiet: #e6e1d1;
  --Dropdown-Color-1: #221f15b3;
  --Dropdown-Color-2: #221f158a;
  --Dropdown-Color-3: #221f1561;
  --Dropdown-Color-4: #221f1552;
  --Dropdown-Color-5: #221f1533;
  --Surface-Icon-BG: #f0ebdb;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #358ac7;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #f0ebdb;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #358ac7;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #948c72;
  --Container-Border: #9b9584;
  --Surface-Button: #baa257;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #baa257;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #4c4017;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #3d3100;
  --Surface-Light-Button-Text: #3d3100;
  --Container-Light-Button: #baa257;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #f0ebdb;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #f0ebdb;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #37311e;
  --Surface-Dim: #2d281a;
  --Surface-Bright: #453e28;
  --On-Surface: #e3d9ba;
  --Surface-Quiet: #c9c0a3;
  --Surface-Dim-Quiet: #bfb69a;
  --Surface-Bright-Quiet: #ddd3b4;
  --Container: #37311e;
  --Container-Low: #2d281a;
  --Container-Lowest: #000000;
  --Container-High: #4a422b;
  --Container-Highest: #4e462f;
  --On-Container: #f0ebdb;
  --Container-Quiet: #c5c0b0;
  --Container-Low-Quiet: #bbb6a7;
  --Container-Lowest-Quiet: #9a968c;
  --Container-High-Quiet: #dfdac9;
  --Dropdown-Color-1: #221f15b3;
  --Dropdown-Color-2: #221f158a;
  --Dropdown-Color-3: #221f1561;
  --Dropdown-Color-4: #221f1552;
  --Dropdown-Color-5: #221f1533;
  --Container-Highest-Quiet: #e6e1d1;
  --Surface-On-On-Button: #3d3100;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --groupName: Tertiary-Dark;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="white"] {
  --Surface: #4a4a4a;
  --Surface-Dim: #3c3c3c;
  --Surface-Bright: #5b5b5b;
  --Surface-Quiet: #dfe9e8;
  --Surface-Dim-Quiet: #c9d2d2;
  --Surface-Bright-Quiet: #e1eceb;
  --Container: #4a4a4a;
  --Container-Low: #3c3c3c;
  --Container-Lowest: #000000;
  --Container-High: #5f5f5f;
  --Container-Highest: #636363;
  --Container-Low-Quiet: #c9d2d2;
  --Container-Lowest-Quiet: #929998;
  --Container-High-Quiet: #e1eceb;
  --Container-Highest-Quiet: #e1eceb;
  --Dropdown-Color-1: #303030b3;
  --Dropdown-Color-2: #3030308a;
  --Dropdown-Color-3: #30303061;
  --Dropdown-Color-4: #30303052;
  --Dropdown-Color-5: #30303033;
  --Surface-Icon-BG: #e0ebea;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #e0ebea;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #aab1b0;
  --Container-Border: #b4bcbc;
  --Surface-Button: #98bcb8;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #b0ccc9;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #324a47;
  --Container-On-Button: #121212;
  --Surface-Light-Button: #121212;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #b0ccc9;
  --Container-Light-Button-Text: #121212;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #4a4a4a;
  --Surface-Dim: #3c3c3c;
  --Surface-Bright: #5b5b5b;
  --On-Surface: #e0ebea;
  --Surface-Quiet: #dfe9e8;
  --Surface-Dim-Quiet: #c9d2d2;
  --Surface-Bright-Quiet: #e1eceb;
  --Container: #4a4a4a;
  --Container-Low: #3c3c3c;
  --Container-Lowest: #000000;
  --Container-High: #5f5f5f;
  --Container-Highest: #636363;
  --On-Container: #e0ebea;
  --Container-Quiet: #dfe9e8;
  --Container-Low-Quiet: #c9d2d2;
  --Container-Lowest-Quiet: #929998;
  --Container-High-Quiet: #e1eceb;
  --Container-Highest-Quiet: #e1eceb;
  --Dropdown-Color-1: #303030b3;
  --Dropdown-Color-2: #3030308a;
  --Dropdown-Color-3: #30303061;
  --Dropdown-Color-4: #30303052;
  --Dropdown-Color-5: #30303033;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="grey"] {
  --Surface: #282828;
  --Surface-Dim: #222222;
  --Surface-Bright: #343434;
  --Surface-Quiet: #a8b7b6;
  --Surface-Dim-Quiet: #a3b2b1;
  --Surface-Bright-Quiet: #b8c9c7;
  --Container: #282828;
  --Container-Low: #222222;
  --Container-Lowest: #000000;
  --Container-High: #383838;
  --Container-Highest: #3c3c3c;
  --Container-Low-Quiet: #a3b2b1;
  --Container-Lowest-Quiet: #8c9998;
  --Container-High-Quiet: #bccecc;
  --Container-Highest-Quiet: #c2d5d3;
  --Dropdown-Color-1: #1a1a1ab3;
  --Dropdown-Color-2: #1a1a1a8a;
  --Dropdown-Color-3: #1a1a1a61;
  --Dropdown-Color-4: #1a1a1a52;
  --Dropdown-Color-5: #1a1a1a33;
  --Surface-Icon-BG: #e0ebea;
  --Surface-Icon-Success: #1f832a;
  --Surface-Icon-Error: #b45357;
  --Surface-Icon-Warning: #9d6e00;
  --Surface-Icon-Info: #286b9c;
  --Surface-Icon-Primary: #59837f;
  --Surface-Icon-Secondary: #b46254;
  --Surface-Icon-Tertiary: #857027;
  --Container-Icon-BG: #e0ebea;
  --Container-Icon-Success: #1f832a;
  --Container-Icon-Error: #b45357;
  --Container-Icon-Warning: #9d6e00;
  --Container-Icon-Info: #286b9c;
  --Container-Icon-Primary: #59837f;
  --Container-Icon-Secondary: #b46254;
  --Container-Icon-Tertiary: #857027;
  --Surface-Border: #738281;
  --Container-Border: #808a89;
  --Surface-Button: #80aca7;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #80aca7;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #324a47;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #121212;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #80aca7;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #282828;
  --Surface-Dim: #222222;
  --Surface-Bright: #343434;
  --On-Surface: #b0ccc9;
  --Surface-Quiet: #a8b7b6;
  --Surface-Dim-Quiet: #a3b2b1;
  --Surface-Bright-Quiet: #b8c9c7;
  --Container: #282828;
  --Container-Low: #222222;
  --Container-Lowest: #000000;
  --Container-High: #383838;
  --Container-Highest: #3c3c3c;
  --On-Container: #c8dbd9;
  --Container-Quiet: #a8b7b6;
  --Container-Low-Quiet: #a3b2b1;
  --Container-Lowest-Quiet: #8c9998;
  --Container-High-Quiet: #bccecc;
  --Container-Highest-Quiet: #c2d5d3;
  --Dropdown-Color-1: #1a1a1ab3;
  --Dropdown-Color-2: #1a1a1a8a;
  --Dropdown-Color-3: #1a1a1a61;
  --Dropdown-Color-4: #1a1a1a52;
  --Dropdown-Color-5: #1a1a1a33;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode specific backgrounds */
[data-mode="AAA-dark"] [data-background="black"] {
  --Surface: #1f2928;
  --Surface-Dim: #1b2221;
  --Surface-Bright: #293534;
  --Surface-Quiet: #a6b7b6;
  --Surface-Dim-Quiet: #a0b0af;
  --Surface-Bright-Quiet: #b5c7c5;
  --Container: #1f2928;
  --Container-Low: #1b2221;
  --Container-Lowest: #000000;
  --Container-High: #2c3938;
  --Container-Highest: #303d3c;
  --Container-Low-Quiet: #a0b0af;
  --Container-Lowest-Quiet: #8c9998;
  --Container-High-Quiet: #b8cbc9;
  --Container-Highest-Quiet: #bfd2d0;
  --Dropdown-Color-1: #151a19b3;
  --Dropdown-Color-2: #151a198a;
  --Dropdown-Color-3: #151a1961;
  --Dropdown-Color-4: #151a1952;
  --Dropdown-Color-5: #151a1933;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #5ab75b;
  --Surface-Icon-Error: #ed8688;
  --Surface-Icon-Warning: #d19b09;
  --Surface-Icon-Info: #358ac7;
  --Surface-Icon-Primary: #80aca7;
  --Surface-Icon-Secondary: #e48c7c;
  --Surface-Icon-Tertiary: #baa257;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #5ab75b;
  --Container-Icon-Error: #ed8688;
  --Container-Icon-Warning: #d19b09;
  --Container-Icon-Info: #5eaae8;
  --Container-Icon-Primary: #80aca7;
  --Container-Icon-Secondary: #e48c7c;
  --Container-Icon-Tertiary: #baa257;
  --Surface-Border: #6f8381;
  --Container-Border: #7a8988;
  --Surface-Button: #80aca7;
  --Surface-Button-Half: #ffffff;
  --Container-Button: #80aca7;
  --Container-Button-Half: #ffffff;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #ffffff;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #80aca7;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #ffffff;
  --Container-On-Light-Button: #ffffff;
  --Surface-Hotlink: #e0ebea;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #e0ebea;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface: #1f2928;
  --Surface-Dim: #1b2221;
  --Surface-Bright: #293534;
  --On-Surface: #b0ccc9;
  --Surface-Quiet: #a6b7b6;
  --Surface-Dim-Quiet: #a0b0af;
  --Surface-Bright-Quiet: #b5c7c5;
  --Container: #1f2928;
  --Container-Low: #1b2221;
  --Container-Lowest: #000000;
  --Container-High: #2c3938;
  --Container-Highest: #303d3c;
  --On-Container: #c8dbd9;
  --Container-Quiet: #a6b7b6;
  --Container-Low-Quiet: #a0b0af;
  --Container-Lowest-Quiet: #8c9998;
  --Container-High-Quiet: #b8cbc9;
  --Container-Highest-Quiet: #bfd2d0;
  --Dropdown-Color-1: #151a19b3;
  --Dropdown-Color-2: #151a198a;
  --Dropdown-Color-3: #151a1961;
  --Dropdown-Color-4: #151a1952;
  --Dropdown-Color-5: #151a1933;
  --Surface-On-On-Button: #ffffff;
  --Container-On-On-Button: #ffffff;
  --Surface-On-On-Light-Button: #ffffff;
  --Container-On-On-Light-Button: #ffffff;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
}

/* AAA-dark mode targets */
[data-mode="AAA-dark"] {
  --Mode-Target-Desktop: 48px;
  --Mode-Target-Android: 48px;
  --Mode-Target-IOS-Mobile: 48px;
  --Mode-Target-IOS-Tablet: 48px;
}

/* AAA-dark mode Red-Weak chart */
[data-mode="AAA-dark"] [charts="Red-Weak"] {
  --Chart-1: #3f6cdf;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #6e70ae;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #af884e;
  --Chart-BG: #121212;
  --Chart-1-Half: #3f6cdf80;
  --Chart-2-Half: #347aa580;
  --Chart-3-Half: #4ea1cf80;
  --Chart-4-Half: #6e70ae80;
  --Chart-5-Half: #c1506080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #af884e80;
}

/* AAA-dark mode Blue-Weak chart */
[data-mode="AAA-dark"] [charts="Blue-Weak"] {
  --Chart-1: #3f6cdf;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #6e70ae;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #121212;
  --Chart-1-Half: #50505080;
  --Chart-2-Half: #347aa580;
  --Chart-3-Half: #4ea1cf80;
  --Chart-4-Half: #6e70ae80;
  --Chart-5-Half: #c1506080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #767637;
}

/* AAA-dark mode Green-Weak chart */
[data-mode="AAA-dark"] [charts="Green-Weak"] {
  --Chart-1: #347aa5;
  --Chart-2: #3f6cdf;
  --Chart-3: #6e70ae;
  --Chart-4: #97675c;
  --Chart-5: #b98446;
  --Chart-6: #999947;
  --Chart-7: #eabe6d;
  --Chart-8: #9180cd;
  --Chart-9: #9c839d;
  --Chart-10: #cbb1f4;
  --Chart-BG: #121212;
  --Chart-1-Half: #347aa580;
  --Chart-2-Half: #3f6cdf80;
  --Chart-3-Half: #6e70ae80;
  --Chart-4-Half: #97675c80;
  --Chart-5-Half: #b9844680;
  --Chart-6-Half: #99994780;
  --Chart-7-Half: #eabe6d80;
  --Chart-8-Half: #9180cd80;
  --Chart-9-Half: #9c839d80;
  --Chart-10-Half: #cbb1f480;
}

/* AAA-dark mode Red-Blind chart */
[data-mode="AAA-dark"] [charts="Red-Blind"] {
  --Chart-1: #ffdbc6;
  --Chart-2: #a1afdd;
  --Chart-3: #3679cf;
  --Chart-4: #558be8;
  --Chart-5: #8b703e;
  --Chart-6: #aa8b5b;
  --Chart-7: #eabe6d;
  --Chart-8: #817378;
  --Chart-9: #9b8c92;
  --Chart-10: #dcc7cd;
  --Chart-BG: #121212;
  --Chart-1-Half: #ffdbc680;
  --Chart-2-Half: #a1afdd80;
  --Chart-3-Half: #3679cf80;
  --Chart-4-Half: #558be880;
  --Chart-5-Half: #8b703e80;
  --Chart-6-Half: #aa8b5b80;
  --Chart-7-Half: #eabe6d80;
  --Chart-8-Half: #81737880;
  --Chart-9-Half: #9b8c9280;
  --Chart-10-Half: #dcc7cd80;
}

/* AAA-dark mode Blue-Blind chart */
[data-mode="AAA-dark"] [charts="Blue-Blind"] {
  --Chart-1: #226f78;
  --Chart-2: #3d8c98;
  --Chart-3: #67989b;
  --Chart-4: #bee1e3;
  --Chart-5: #736970;
  --Chart-6: #998e96;
  --Chart-7: #b84e4d;
  --Chart-8: #9a5e63;
  --Chart-9: #d17377;
  --Chart-10: #debbc7;
  --Chart-BG: #121212;
  --Chart-1-Half: #226f7880;
  --Chart-2-Half: #3d8c9880;
  --Chart-3-Half: #67989b80;
  --Chart-4-Half: #bee1e380;
  --Chart-5-Half: #73697080;
  --Chart-6-Half: #998e9680;
  --Chart-7-Half: #b84e4d80;
  --Chart-8-Half: #9a5e6380;
  --Chart-9-Half: #d1737780;
  --Chart-10-Half: #debbc780;
}

/* AAA-dark mode Green-Blind chart */
[data-mode="AAA-dark"] [charts="Green-Blind"] {
  --Chart-1: #f2b501;
  --Chart-2: #a88022;
  --Chart-3: #ab9283;
  --Chart-4: #3c66a7;
  --Chart-5: #5879bc;
  --Chart-6: #669af7;
  --Chart-7: #757084;
  --Chart-8: #ffcf81;
  --Chart-9: #ffefd4;
  --Chart-10: #ffffff;
  --Chart-BG: #121212;
  --Chart-1-Half: #f2b501;
  --Chart-2-Half: #a88022;
  --Chart-3-Half: #ab9283;
  --Chart-4-Half: #3c66a7;
  --Chart-5-Half: #5879bc;
  --Chart-6-Half: #669af7;
  --Chart-7-Half: #757084;
  --Chart-8-Half: #ffcf81;
  --Chart-9-Half: #ffefd4;
  --Chart-10-Half: #ffffff;
}

/* AAA-dark mode Blue-Cone chart */
[data-mode="AAA-dark"] [charts="Blue-Cone"] {
  --Chart-1: #9056d4;
  --Chart-2: #347aa5;
  --Chart-3: #4ea1cf;
  --Chart-4: #dbc55a;
  --Chart-5: #c15060;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #121212;
  --Chart-1-Half: #9056d4;
  --Chart-2-Half: #347aa5;
  --Chart-3-Half: #4ea1cf;
  --Chart-4-Half: #dbc55a;
  --Chart-5-Half: #c15060;
  --Chart-6-Half: #d07565;
  --Chart-7-Half: #5c7c64;
  --Chart-8-Half: #ba77a0;
  --Chart-9-Half: #789399;
  --Chart-10-Half: #767637;
}

/* AAA-dark mode Monochromatic chart */
[data-mode="AAA-dark"] [charts="Monochromatic"] {
  --Chart-1: #ffffff;
  --Chart-2: #ffffff;
  --Chart-3: #ffffff;
  --Chart-4: #ffffff;
  --Chart-5: #ffffff;
  --Chart-6: #ffffff;
  --Chart-7: #ffffff;
  --Chart-8: #ffffff;
  --Chart-9: #ffffff;
  --Chart-10: #ffffff;
  --Chart-1-Half: #ffffff;
  --Chart-2-Half: #ffffff;
  --Chart-3-Half: #ffffff;
  --Chart-4-Half: #ffffff;
  --Chart-5-Half: #ffffff;
  --Chart-6-Half: #ffffff;
  --Chart-7-Half: #ffffff;
  --Chart-8-Half: #ffffff;
  --Chart-9-Half: #ffffff;
  --Chart-10-Half: #ffffff;
}

/* AAA-dark mode Default chart */
[data-mode="AAA-dark"] [charts="Default"] {
  --Chart-1: #598a84;
  --Chart-2: #d85640;
  --Chart-3: #cdbb87;
  --Chart-4: #a4b4c9;
  --Chart-5: #b57105;
  --Chart-6: #5f7694;
  --Chart-7: #577f3f;
  --Chart-8: #e49b8e;
  --Chart-9: #e1a571;
  --Chart-BG: #121212;
  --Chart-1-Half: #598a8480;
  --Chart-2-Half: #d8564080;
  --Chart-3-Half: #cdbb8780;
  --Chart-4-Half: #a4b4c980;
  --Chart-5-Half: #b5710580;
  --Chart-6-Half: #5f769480;
  --Chart-7-Half: #577f3f80;
  --Chart-8-Half: #e49b8e80;
  --Chart-9-Half: #e1a57180;
  --Chart-10-Half: #ebbbb480;
  --Chart-10: #ebbbb4;
  --Chart-Background: #121212;
  --Chart-Axis-Color: rgba(255,255,255,0.75);
  --Chart-Grid-Color: rgba(255,255,255,0.15);
}

/* AAA-dark mode paragraph spacing */
[data-mode="AAA-dark"] {
  --Mode-PS-multiplier: 200%;
}

