/* AA-light mode specific backgrounds */
[data-mode] [data-background] {
  --Surface: #f5f5f8;
  --Surface-Dim: #ececef;
  --Surface-Bright: #f6f6f8;
  --Surface-Quiet: #6f6f73;
  --Surface-Dim-Quiet: #6b6b6f;
  --Surface-Bright-Quiet: #6f6f73;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #9393aeb3;
  --Dropdown-Color-2: #9393ae8a;
  --Dropdown-Color-3: #9393ae61;
  --Dropdown-Color-4: #9393ae52;
  --Dropdown-Color-5: #9393ae33;
  --Surface-Icon-Primary: #7c7da5;
  --Surface-Icon-Secondary: #df438a;
  --Surface-Icon-Tertiary: #567f2d;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #e24a4c;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Surface-Border: #6d6d76;
  --Container-Border: #6d6d76;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Container-Light-Button: #c2dca9;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #595a7b;
  --Surface-Hotlink-Default-Underline: true;
  --Surface-Hotlink-Hover-Underline: false;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a82965;
  --Surface-Text-Tertiary: #476826;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Dropdown-Color-1: #9393aeb3;
  --Dropdown-Color-2: #9393ae8a;
  --Dropdown-Color-3: #9393ae61;
  --Dropdown-Color-4: #9393ae52;
  --Dropdown-Color-5: #9393ae33;
  --Surface: #f5f5f8;
  --Surface-Dim: #ececef;
  --Surface-Bright: #f6f6f8;
  --On-Surface: #131320;
  --Surface-Quiet: #6f6f73;
  --Surface-Dim-Quiet: #6b6b6f;
  --Surface-Bright-Quiet: #6f6f73;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #617371;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #2e4e4b;
  --On-Surface-Bright: #2e4e4b;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="primary"] {
  --Surface: #2a2b3e;
  --Surface-Dim: #2a2b3d;
  --Surface-Bright: #2c2d40;
  --Surface-Quiet: #93939b;
  --Surface-Dim-Quiet: #93939b;
  --Surface-Bright-Quiet: #96969d;
  --Container: #f0f0f1;
  --Container-Low: #f6f7f7;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e8e8ea;
  --Container-Highest: #e1e1e4;
  --Container-On-Quiet: #617270;
  --Container-Low-Quiet: #6f7072;
  --Container-Lowest-Quiet: #747476;
  --Container-High-Quiet: #67676a;
  --Container-Highest-Quiet: #646467;
  --Dropdown-Color-1: #1d1d27b3;
  --Dropdown-Color-2: #1d1d278a;
  --Dropdown-Color-3: #1d1d2761;
  --Dropdown-Color-4: #1d1d2752;
  --Dropdown-Color-5: #1d1d2733;
  --Surface-Icon-BG: #131320;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #8082af;
  --Surface-Icon-Secondary: #df438a;
  --Surface-Icon-Tertiary: #aace86;
  --Container-Icon-BG: #131320;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #d43c42;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #707199;
  --Container-Icon-Secondary: #d1347f;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #838390;
  --Container-Border: #6b6b74;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #efeff5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #999ab9;
  --Surface-Text-Secondary: #e66da4;
  --Surface-Text-Tertiary: #aace86;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #2a2b3e;
  --Surface-Dim: #2a2b3d;
  --Surface-Bright: #2c2d40;
  --On-Surface: #efeff5;
  --Surface-Quiet: #93939b;
  --Surface-Dim-Quiet: #93939b;
  --Surface-Bright-Quiet: #96969d;
  --Container: #f0f0f1;
  --Container-Low: #f6f7f7;
  --Container-Lowest: #fbfbfb;
  --Container-High: #e8e8ea;
  --Container-Highest: #e1e1e4;
  --On-Container: #131320;
  --Container-Quiet: #6d6d70;
  --Container-Low-Quiet: #6f7072;
  --Container-Lowest-Quiet: #747476;
  --Container-High-Quiet: #67676a;
  --Container-Highest-Quiet: #646467;
  --Dropdown-Color-1: #1d1d27b3;
  --Dropdown-Color-2: #1d1d278a;
  --Dropdown-Color-3: #1d1d2761;
  --Dropdown-Color-4: #1d1d2752;
  --Dropdown-Color-5: #1d1d2733;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #a1bcb9;
  --Container-On-Quiet: #617270;
  --On-Surface-Dim: #b4d0cd;
  --On-Surface-Bright: #b4d0cd;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="primary-light"] {
  --Surface: #42425d;
  --Surface-Dim: #41415c;
  --Surface-Bright: #44445f;
  --Surface-Quiet: #b1b1bb;
  --Surface-Dim-Quiet: #afafb9;
  --Surface-Bright-Quiet: #b3b3bd;
  --Container: #f2f2f4;
  --Container-Low: #f7f7f9;
  --Container-Lowest: #fbfbfc;
  --Container-High: #eaeaed;
  --Container-Highest: #e5e5e8;
  --Container-On-Quiet: #617270;
  --Container-Low-Quiet: #707073;
  --Container-Lowest-Quiet: #747477;
  --Container-High-Quiet: #67676b;
  --Container-Highest-Quiet: #656569;
  --Dropdown-Color-1: #2d2d3bb3;
  --Dropdown-Color-2: #2d2d3b8a;
  --Dropdown-Color-3: #2d2d3b61;
  --Dropdown-Color-4: #2d2d3b52;
  --Dropdown-Color-5: #2d2d3b33;
  --Surface-Icon-BG: #131320;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #9c9ed3;
  --Surface-Icon-Secondary: #ff5ea7;
  --Surface-Icon-Tertiary: #aace86;
  --Container-Icon-BG: #131320;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #efeff5;
  --Container-Border: #6c6c75;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #efeff5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #b6b6cd;
  --Surface-Text-Secondary: #f4c0d7;
  --Surface-Text-Tertiary: #aace86;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #42425d;
  --Surface-Dim: #41415c;
  --Surface-Bright: #44445f;
  --On-Surface: #efeff5;
  --Surface-Quiet: #b1b1bb;
  --Surface-Dim-Quiet: #afafb9;
  --Surface-Bright-Quiet: #b3b3bd;
  --Container: #f2f2f4;
  --Container-Low: #f7f7f9;
  --Container-Lowest: #fbfbfc;
  --Container-High: #eaeaed;
  --Container-Highest: #e5e5e8;
  --On-Container: #131320;
  --Container-Quiet: #6e6e71;
  --Container-Low-Quiet: #707073;
  --Container-Lowest-Quiet: #747477;
  --Container-High-Quiet: #67676b;
  --Container-Highest-Quiet: #656569;
  --Dropdown-Color-1: #2d2d3bb3;
  --Dropdown-Color-2: #2d2d3b8a;
  --Dropdown-Color-3: #2d2d3b61;
  --Dropdown-Color-4: #2d2d3b52;
  --Dropdown-Color-5: #2d2d3b33;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #cbdcda;
  --Container-On-Quiet: #617270;
  --On-Surface-Dim: #d2e2e0;
  --On-Surface-Bright: #d2e2e0;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="primary-dark"] {
  --Surface: #131320;
  --Surface-Dim: #131320;
  --Surface-Bright: #141521;
  --Surface-Quiet: #7f7f84;
  --Surface-Dim-Quiet: #7f7f84;
  --Surface-Bright-Quiet: #808085;
  --Container: #eeeeef;
  --Container-Low: #f6f6f6;
  --Container-Lowest: #fafafb;
  --Container-High: #e5e5e6;
  --Container-Highest: #dedee0;
  --Container-On-Quiet: #607170;
  --Container-Low-Quiet: #6f6f72;
  --Container-Lowest-Quiet: #717174;
  --Container-High-Quiet: #656568;
  --Container-Highest-Quiet: #626266;
  --Dropdown-Color-1: #0d0d14b3;
  --Dropdown-Color-2: #0d0d148a;
  --Dropdown-Color-3: #0d0d1461;
  --Dropdown-Color-4: #0d0d1452;
  --Dropdown-Color-5: #0d0d1433;
  --Surface-Icon-BG: #131320;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Primary: #66688d;
  --Surface-Icon-Secondary: #df438a;
  --Surface-Icon-Tertiary: #aace86;
  --Surface-Icon-Info: #e6f3fe;
  --Container-Icon-BG: #131320;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #d43c42;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #707199;
  --Container-Icon-Secondary: #d1347f;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #81818b;
  --Container-Border: #6b6b73;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #7c7da5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #999ab9;
  --Surface-Text-Secondary: #e66da4;
  --Surface-Text-Tertiary: #aace86;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #131320;
  --Surface-Dim: #131320;
  --Surface-Bright: #141521;
  --On-Surface: #efeff5;
  --Surface-Quiet: #7f7f84;
  --Surface-Dim-Quiet: #7f7f84;
  --Surface-Bright-Quiet: #808085;
  --Container: #eeeeef;
  --Container-Low: #f6f6f6;
  --Container-Lowest: #fafafb;
  --Container-High: #e5e5e6;
  --Container-Highest: #dedee0;
  --On-Container: #131320;
  --Container-Quiet: #6c6c6f;
  --Container-Low-Quiet: #6f6f72;
  --Container-Lowest-Quiet: #717174;
  --Container-High-Quiet: #656568;
  --Container-Highest-Quiet: #626266;
  --Dropdown-Color-1: #0d0d14b3;
  --Dropdown-Color-2: #0d0d148a;
  --Dropdown-Color-3: #0d0d1461;
  --Dropdown-Color-4: #0d0d1452;
  --Dropdown-Color-5: #0d0d1433;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --groupName: Primary-Dark;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #88a09d;
  --Container-On-Quiet: #607170;
  --On-Surface-Dim: #b4d0cd;
  --On-Surface-Bright: #b4d0cd;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="secondary"] {
  --Surface: #df438a;
  --Surface-Dim: #dd4289;
  --Surface-Bright: #e1458c;
  --Surface-Quiet: #2c0718;
  --Surface-Dim-Quiet: #2c0718;
  --Surface-Bright-Quiet: #310a1c;
  --Container: #fdf2f7;
  --Container-Low: #fef7fa;
  --Container-Lowest: #fefbfd;
  --Container-High: #fbeaf2;
  --Container-Highest: #fbe5ef;
  --Container-On-Quiet: #94635f;
  --Container-Low-Quiet: #786f72;
  --Container-Lowest-Quiet: #787073;
  --Container-High-Quiet: #77696e;
  --Container-Highest-Quiet: #74646a;
  --Dropdown-Color-1: #942959b3;
  --Dropdown-Color-2: #9429598a;
  --Dropdown-Color-3: #94295961;
  --Dropdown-Color-4: #94295952;
  --Dropdown-Color-5: #94295933;
  --Surface-Icon-BG: #fbe9f1;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #2a2b3e;
  --Surface-Icon-Secondary: #ffffff;
  --Surface-Icon-Tertiary: #d4fea9;
  --Container-Icon-BG: #fbe9f1;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #2c0718;
  --Container-Border: #806571;
  --Surface-Button: #1a240f;
  --Surface-Button-Half: #1a240f80;
  --Container-Button: #1a240f;
  --Container-Button-Half: #1a240f80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #2c0718;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a82965;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #131320;
  --Surface-Text-Secondary: #2c0718;
  --Surface-Text-Tertiary: #1a240f;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #df438a;
  --Surface-Dim: #dd4289;
  --Surface-Bright: #e1458c;
  --On-Surface: #2c0718;
  --Surface-Quiet: #2c0718;
  --Surface-Dim-Quiet: #2c0718;
  --Surface-Bright-Quiet: #310a1c;
  --Container: #fdf2f7;
  --Container-Low: #fef7fa;
  --Container-Lowest: #fefbfd;
  --Container-High: #fbeaf2;
  --Container-Highest: #fbe5ef;
  --On-Container: #2c0718;
  --Container-Quiet: #786c71;
  --Container-Low-Quiet: #786f72;
  --Container-Lowest-Quiet: #787073;
  --Container-High-Quiet: #77696e;
  --Container-Highest-Quiet: #74646a;
  --Dropdown-Color-1: #942959b3;
  --Dropdown-Color-2: #9429598a;
  --Dropdown-Color-3: #94295961;
  --Dropdown-Color-4: #94295952;
  --Dropdown-Color-5: #94295933;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --groupName: Secondary;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #1c1413;
  --Container-On-Quiet: #94635f;
  --On-Surface-Dim: #121212;
  --On-Surface-Bright: #121212;
  --On-Container-Low: #7b2b1e;
  --On-Container-Lowest: #7b2b1e;
  --On-Container-High: #7b2b1e;
  --On-Container-Highest: #7b2b1e;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="secondary-light"] {
  --Surface: #e66da4;
  --Surface-Dim: #e46ca2;
  --Surface-Bright: #e86fa6;
  --Surface-Quiet: #581534;
  --Surface-Dim-Quiet: #551232;
  --Surface-Bright-Quiet: #581534;
  --Container: #fdf5f9;
  --Container-Low: #fef9fb;
  --Container-Lowest: #fffcfd;
  --Container-High: #fceff5;
  --Container-Highest: #fcebf2;
  --Container-On-Quiet: #946460;
  --Container-Low-Quiet: #787072;
  --Container-Lowest-Quiet: #797173;
  --Container-High-Quiet: #776b70;
  --Container-Highest-Quiet: #77696e;
  --Dropdown-Color-1: #ad3069b3;
  --Dropdown-Color-2: #ad30698a;
  --Dropdown-Color-3: #ad306961;
  --Dropdown-Color-4: #ad306952;
  --Dropdown-Color-5: #ad306933;
  --Surface-Icon-BG: #fbe9f1;
  --Surface-Icon-Success: #153c17;
  --Surface-Icon-Error: #802225;
  --Surface-Icon-Warning: #4b3602;
  --Surface-Icon-Info: #02315c;
  --Surface-Icon-Primary: #2a2b3e;
  --Surface-Icon-Secondary: #ffffff;
  --Surface-Icon-Tertiary: #ffffff;
  --Container-Icon-BG: #fbe9f1;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #551232;
  --Container-Border: #806672;
  --Surface-Button: #293b17;
  --Surface-Button-Half: #293b1780;
  --Container-Button: #293b17;
  --Container-Button-Half: #293b1780;
  --Container-Button-Hover: #d95c49;
  --Container-Button-Focus: #d4523d;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #551232;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a82965;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #2a2b3e;
  --Surface-Text-Secondary: #551232;
  --Surface-Text-Tertiary: #1a240f;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #e66da4;
  --Surface-Dim: #e46ca2;
  --Surface-Bright: #e86fa6;
  --On-Surface: #551232;
  --Surface-Quiet: #581534;
  --Surface-Dim-Quiet: #551232;
  --Surface-Bright-Quiet: #581534;
  --Container: #fdf5f9;
  --Container-Low: #fef9fb;
  --Container-Lowest: #fffcfd;
  --Container-High: #fceff5;
  --Container-Highest: #fcebf2;
  --On-Container: #2c0718;
  --Container-Quiet: #786e71;
  --Container-Low-Quiet: #787072;
  --Container-Lowest-Quiet: #797173;
  --Container-High-Quiet: #776b70;
  --Container-Highest-Quiet: #77696e;
  --Dropdown-Color-1: #ad3069b3;
  --Dropdown-Color-2: #ad30698a;
  --Dropdown-Color-3: #ad306961;
  --Dropdown-Color-4: #ad306952;
  --Dropdown-Color-5: #ad306933;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --groupName: Secondary-Light;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #561e16;
  --Container-On-Quiet: #946460;
  --On-Surface-Dim: #531c13;
  --On-Surface-Bright: #531c13;
  --On-Container-Low: #7b2b1e;
  --On-Container-Lowest: #7b2b1e;
  --On-Container-High: #7b2b1e;
  --On-Container-Highest: #7b2b1e;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="secondary-dark"] {
  --Surface: #d1347f;
  --Surface-Dim: #cf337e;
  --Surface-Bright: #d33681;
  --Surface-Quiet: #fefbfc;
  --Surface-Dim-Quiet: #fcf8f9;
  --Surface-Bright-Quiet: #fffefe;
  --Container: #fcf1f6;
  --Container-Low: #fdf7fa;
  --Container-Lowest: #fefbfc;
  --Container-High: #fae9f1;
  --Container-Highest: #f9e3ed;
  --Container-On-Quiet: #94635e;
  --Container-Low-Quiet: #786f72;
  --Container-Lowest-Quiet: #787073;
  --Container-High-Quiet: #77686e;
  --Container-Highest-Quiet: #74636a;
  --Dropdown-Color-1: #802a53b3;
  --Dropdown-Color-2: #802a538a;
  --Dropdown-Color-3: #802a5361;
  --Dropdown-Color-4: #802a5352;
  --Dropdown-Color-5: #802a5333;
  --Surface-Icon-BG: #2c0718;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #ffffff;
  --Surface-Icon-Secondary: #ffcbff;
  --Surface-Icon-Tertiary: #c6ee9d;
  --Container-Icon-BG: #2c0718;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #ffffff;
  --Container-Border: #7f6571;
  --Surface-Button: #1a240f;
  --Surface-Button-Half: #1a240f80;
  --Container-Button: #1a240f;
  --Container-Button-Half: #1a240f80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #ffffff;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #a82965;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #efeff5;
  --Surface-Text-Secondary: #fbe9f1;
  --Surface-Text-Tertiary: #f2f8ed;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #d1347f;
  --Surface-Dim: #cf337e;
  --Surface-Bright: #d33681;
  --On-Surface: #ffffff;
  --Surface-Quiet: #fefbfc;
  --Surface-Dim-Quiet: #fcf8f9;
  --Surface-Bright-Quiet: #fffefe;
  --Container: #fcf1f6;
  --Container-Low: #fdf7fa;
  --Container-Lowest: #fefbfc;
  --Container-High: #fae9f1;
  --Container-Highest: #f9e3ed;
  --On-Container: #2c0718;
  --Container-Quiet: #776c70;
  --Container-Low-Quiet: #786f72;
  --Container-Lowest-Quiet: #787073;
  --Container-High-Quiet: #77686e;
  --Container-Highest-Quiet: #74636a;
  --Dropdown-Color-1: #802a53b3;
  --Dropdown-Color-2: #802a538a;
  --Dropdown-Color-3: #802a5361;
  --Dropdown-Color-4: #802a5352;
  --Dropdown-Color-5: #802a5333;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --groupName: Secondary-Dark;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #fdfafa;
  --Container-On-Quiet: #94635e;
  --On-Surface-Dim: #ffffff;
  --On-Surface-Bright: #ffffff;
  --On-Container-Low: #7b2b1e;
  --On-Container-Lowest: #7b2b1e;
  --On-Container-High: #7b2b1e;
  --On-Container-Highest: #7b2b1e;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="tertiary"] {
  --Surface: #aace86;
  --Surface-Dim: #a7ca83;
  --Surface-Bright: #abcf87;
  --Surface-Quiet: #445434;
  --Surface-Dim-Quiet: #435333;
  --Surface-Bright-Quiet: #445434;
  --Container: #f9fcf7;
  --Container-Low: #fcfdfa;
  --Container-Lowest: #fdfefd;
  --Container-High: #f6faf2;
  --Container-Highest: #f3f8ee;
  --Container-On-Quiet: #985e56;
  --Container-Low-Quiet: #737671;
  --Container-Lowest-Quiet: #747672;
  --Container-High-Quiet: #70746d;
  --Container-Highest-Quiet: #6c7169;
  --Dropdown-Color-1: #6e9449b3;
  --Dropdown-Color-2: #6e94498a;
  --Dropdown-Color-3: #6e944961;
  --Dropdown-Color-4: #6e944952;
  --Dropdown-Color-5: #6e944933;
  --Surface-Icon-BG: #f2f8ed;
  --Surface-Icon-Success: #1f6d25;
  --Surface-Icon-Error: #aa2f34;
  --Surface-Icon-Warning: #7f5b01;
  --Surface-Icon-Info: #015db1;
  --Surface-Icon-Primary: #595a7b;
  --Surface-Icon-Secondary: #a82965;
  --Surface-Icon-Tertiary: #476826;
  --Container-Icon-BG: #f2f8ed;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #1a240f;
  --Container-Border: #687060;
  --Surface-Button: #476826;
  --Surface-Button-Half: #47682680;
  --Container-Button: #476826;
  --Container-Button-Half: #47682680;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #1a240f;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #567f2d;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #42425d;
  --Surface-Text-Secondary: #7f1e4c;
  --Surface-Text-Tertiary: #38521e;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #aace86;
  --Surface-Dim: #a7ca83;
  --Surface-Bright: #abcf87;
  --On-Surface: #1a240f;
  --Surface-Quiet: #445434;
  --Surface-Dim-Quiet: #435333;
  --Surface-Bright-Quiet: #445434;
  --Container: #f9fcf7;
  --Container-Low: #fcfdfa;
  --Container-Lowest: #fdfefd;
  --Container-High: #f6faf2;
  --Container-Highest: #f3f8ee;
  --On-Container: #1a240f;
  --Container-Quiet: #72756f;
  --Container-Low-Quiet: #737671;
  --Container-Lowest-Quiet: #747672;
  --Container-High-Quiet: #70746d;
  --Container-Highest-Quiet: #6c7169;
  --Dropdown-Color-1: #6e9449b3;
  --Dropdown-Color-2: #6e94498a;
  --Dropdown-Color-3: #6e944961;
  --Dropdown-Color-4: #6e944952;
  --Dropdown-Color-5: #6e944933;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #fefbfb;
  --Container-On-Quiet: #985e56;
  --On-Surface-Dim: #3d3416;
  --On-Surface-Bright: #3d3416;
  --On-Container-Low: #57491c;
  --On-Container-Lowest: #57491c;
  --On-Container-High: #57491c;
  --On-Container-Highest: #57491c;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="tertiary-light"] {
  --Surface: #c2dca9;
  --Surface-Dim: #bed8a6;
  --Surface-Bright: #c3ddaa;
  --Surface-Quiet: #536047;
  --Surface-Dim-Quiet: #505c44;
  --Surface-Bright-Quiet: #525e45;
  --Container: #fbfdf9;
  --Container-Low: #fdfefc;
  --Container-Lowest: #fefefd;
  --Container-High: #f8fbf6;
  --Container-Highest: #f6faf3;
  --Container-On-Quiet: #9a625a;
  --Container-Low-Quiet: #747671;
  --Container-Lowest-Quiet: #747672;
  --Container-High-Quiet: #6f726c;
  --Container-Highest-Quiet: #70746d;
  --Dropdown-Color-1: #7ea954b3;
  --Dropdown-Color-2: #7ea9548a;
  --Dropdown-Color-3: #7ea95461;
  --Dropdown-Color-4: #7ea95452;
  --Dropdown-Color-5: #7ea95433;
  --Surface-Icon-BG: #f2f8ed;
  --Surface-Icon-Success: #1f6d25;
  --Surface-Icon-Error: #aa2f34;
  --Surface-Icon-Warning: #7f5b01;
  --Surface-Icon-Info: #015db1;
  --Surface-Icon-Primary: #595a7b;
  --Surface-Icon-Secondary: #a82965;
  --Surface-Icon-Tertiary: #476826;
  --Container-Icon-BG: #f2f8ed;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #667754;
  --Container-Border: #697061;
  --Surface-Button: #476826;
  --Surface-Button-Half: #47682680;
  --Container-Button: #476826;
  --Container-Button-Half: #47682680;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #38521e;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #567f2d;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #42425d;
  --Surface-Text-Secondary: #7f1e4c;
  --Surface-Text-Tertiary: #38521e;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #c2dca9;
  --Surface-Dim: #bed8a6;
  --Surface-Bright: #c3ddaa;
  --On-Surface: #1a240f;
  --Surface-Quiet: #536047;
  --Surface-Dim-Quiet: #505c44;
  --Surface-Bright-Quiet: #525e45;
  --Container: #fbfdf9;
  --Container-Low: #fdfefc;
  --Container-Lowest: #fefefd;
  --Container-High: #f8fbf6;
  --Container-Highest: #f6faf3;
  --On-Container: #1a240f;
  --Container-Quiet: #737670;
  --Container-Low-Quiet: #747671;
  --Container-Lowest-Quiet: #747672;
  --Container-High-Quiet: #6f726c;
  --Container-Highest-Quiet: #70746d;
  --Dropdown-Color-1: #7ea954b3;
  --Dropdown-Color-2: #7ea9548a;
  --Dropdown-Color-3: #7ea95461;
  --Dropdown-Color-4: #7ea95452;
  --Dropdown-Color-5: #7ea95433;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --groupName: Tertiary-Light;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #461b0c;
  --Container-On-Quiet: #9a625a;
  --On-Surface-Dim: #57491c;
  --On-Surface-Bright: #57491c;
  --On-Container-Low: #57491c;
  --On-Container-Lowest: #57491c;
  --On-Container-High: #57491c;
  --On-Container-Highest: #57491c;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="tertiary-dark"] {
  --Surface: #92c064;
  --Surface-Dim: #91be63;
  --Surface-Bright: #94c266;
  --Surface-Quiet: #354a21;
  --Surface-Dim-Quiet: #354a21;
  --Surface-Bright-Quiet: #384d23;
  --Container: #f7fbf4;
  --Container-Low: #fbfcf9;
  --Container-Lowest: #fdfefc;
  --Container-High: #f3f8ee;
  --Container-Highest: #f0f6e9;
  --Container-On-Quiet: #985e56;
  --Container-Low-Quiet: #737570;
  --Container-Lowest-Quiet: #747671;
  --Container-High-Quiet: #6c7169;
  --Container-Highest-Quiet: #6b7066;
  --Dropdown-Color-1: #5f7f3fb3;
  --Dropdown-Color-2: #5f7f3f8a;
  --Dropdown-Color-3: #5f7f3f61;
  --Dropdown-Color-4: #5f7f3f52;
  --Dropdown-Color-5: #5f7f3f33;
  --Surface-Icon-BG: #f2f8ed;
  --Surface-Icon-Success: #1a541e;
  --Surface-Icon-Error: #802225;
  --Surface-Icon-Warning: #654901;
  --Surface-Icon-Info: #014787;
  --Surface-Icon-Primary: #2a2b3e;
  --Surface-Icon-Secondary: #ffffff;
  --Surface-Icon-Tertiary: #ffffff;
  --Container-Icon-BG: #f2f8ed;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #293b17;
  --Container-Border: #727a6b;
  --Surface-Button: #38521e;
  --Surface-Button-Half: #38521e80;
  --Container-Button: #38521e;
  --Container-Button-Half: #38521e80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #293b17;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #476826;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #2a2b3e;
  --Surface-Text-Secondary: #551232;
  --Surface-Text-Tertiary: #293b17;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #92c064;
  --Surface-Dim: #91be63;
  --Surface-Bright: #94c266;
  --On-Surface: #293b17;
  --Surface-Quiet: #354a21;
  --Surface-Dim-Quiet: #354a21;
  --Surface-Bright-Quiet: #384d23;
  --Container: #f7fbf4;
  --Container-Low: #fbfcf9;
  --Container-Lowest: #fdfefc;
  --Container-High: #f3f8ee;
  --Container-Highest: #f0f6e9;
  --On-Container: #1a240f;
  --Container-Quiet: #6e726b;
  --Container-Low-Quiet: #737570;
  --Container-Lowest-Quiet: #747671;
  --Container-High-Quiet: #6c7169;
  --Dropdown-Color-1: #5f7f3fb3;
  --Dropdown-Color-2: #5f7f3f8a;
  --Dropdown-Color-3: #5f7f3f61;
  --Dropdown-Color-4: #5f7f3f52;
  --Dropdown-Color-5: #5f7f3f33;
  --Container-Highest-Quiet: #6b7066;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --groupName: Tertiary-Dark;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #ecd0c9;
  --Container-On-Quiet: #985e56;
  --On-Surface-Dim: #3d3416;
  --On-Surface-Bright: #3d3416;
  --On-Container-Low: #57491c;
  --On-Container-Lowest: #57491c;
  --On-Container-High: #57491c;
  --On-Container-Highest: #57491c;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="white"] {
  --Surface: #ffffff;
  --Surface-Dim: #f9f9f9;
  --Surface-Bright: #ffffff;
  --Surface-Quiet: #767678;
  --Surface-Dim-Quiet: #717173;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a6a6a6b3;
  --Dropdown-Color-2: #a6a6a68a;
  --Dropdown-Color-3: #a6a6a661;
  --Dropdown-Color-4: #a6a6a652;
  --Dropdown-Color-5: #a6a6a633;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #e24a4c;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Surface-Icon-Primary: #7c7da5;
  --Surface-Icon-Secondary: #df438a;
  --Surface-Icon-Tertiary: #567f2d;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #66666e;
  --Container-Border: #6d6d76;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #121212;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #707199;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a82965;
  --Surface-Text-Tertiary: #476826;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #ffffff;
  --Surface-Dim: #f9f9f9;
  --Surface-Bright: #ffffff;
  --On-Surface: #131320;
  --Surface-Quiet: #767678;
  --Surface-Dim-Quiet: #717173;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a6a6a6b3;
  --Dropdown-Color-2: #a6a6a68a;
  --Dropdown-Color-3: #a6a6a661;
  --Dropdown-Color-4: #a6a6a652;
  --Dropdown-Color-5: #a6a6a633;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #697876;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #2e4e4b;
  --On-Surface-Bright: #2e4e4b;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="grey"] {
  --Surface: #fafafa;
  --Surface-Dim: #f4f4f4;
  --Surface-Bright: #ffffff;
  --Surface-Quiet: #717173;
  --Surface-Dim-Quiet: #6e6e71;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a3a3a3b3;
  --Dropdown-Color-2: #a3a3a38a;
  --Dropdown-Color-3: #a3a3a361;
  --Dropdown-Color-4: #a3a3a352;
  --Dropdown-Color-5: #a3a3a333;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #24852c;
  --Surface-Icon-Error: #e24a4c;
  --Surface-Icon-Warning: #996d00;
  --Surface-Icon-Info: #0073dc;
  --Surface-Icon-Primary: #7c7da5;
  --Surface-Icon-Secondary: #df438a;
  --Surface-Icon-Tertiary: #567f2d;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #64646c;
  --Container-Border: #6d6d76;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #ffffff;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #595a7b;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #595a7b;
  --Surface-Text-Secondary: #a82965;
  --Surface-Text-Tertiary: #476826;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #fafafa;
  --Surface-Dim: #f4f4f4;
  --Surface-Bright: #ffffff;
  --On-Surface: #131320;
  --Surface-Quiet: #717173;
  --Surface-Dim-Quiet: #6e6e71;
  --Surface-Bright-Quiet: #767678;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #a3a3a3b3;
  --Dropdown-Color-2: #a3a3a38a;
  --Dropdown-Color-3: #a3a3a361;
  --Dropdown-Color-4: #a3a3a352;
  --Dropdown-Color-5: #a3a3a333;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Container-Test-Success: #102310;
  --Enhanced-Surface-Text-Color: #000000;
  --Enhanced-Surface-On-Quiet: #666666;
  --Enhanced-Surface-Hotlink: #1976d2;
  --Enhanced-Container-Text-Color: #000000;
  --Enhanced-Container-On-Quiet: #666666;
  --Enhanced-Container-Hotlink: #1976d2;
  --Surface-On-Quiet: #677675;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #2e4e4b;
  --On-Surface-Bright: #2e4e4b;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode specific backgrounds */
[data-mode] [data-background="black"] {
  --Surface: #121212;
  --Surface-Dim: #121212;
  --Surface-Bright: #1a1a1a;
  --Surface-Quiet: #7d7d80;
  --Surface-Dim-Quiet: #7d7d80;
  --Surface-Bright-Quiet: #838386;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --Container-On-Quiet: #617371;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface-Icon-BG: #00000000;
  --Surface-Icon-Success: #edf7ed;
  --Surface-Icon-Error: #fbe9ea;
  --Surface-Icon-Warning: #fef8e6;
  --Surface-Icon-Info: #e6f3fe;
  --Surface-Icon-Primary: #66688d;
  --Surface-Icon-Secondary: #df438a;
  --Surface-Icon-Tertiary: #aace86;
  --Container-Icon-BG: #00000000;
  --Container-Icon-Success: #24852c;
  --Container-Icon-Error: #e24a4c;
  --Container-Icon-Warning: #996d00;
  --Container-Icon-Info: #0073dc;
  --Container-Icon-Primary: #7c7da5;
  --Container-Icon-Secondary: #df438a;
  --Container-Icon-Tertiary: #567f2d;
  --Surface-Border: #818184;
  --Container-Border: #6d6d76;
  --Surface-Button: #567f2d;
  --Surface-Button-Half: #567f2d80;
  --Container-Button: #567f2d;
  --Container-Button-Half: #567f2d80;
  --Surface-On-Button: #ffffff;
  --Container-On-Button: #ffffff;
  --Surface-Light-Button: #c2dca9;
  --Surface-Light-Button-Text: #ffffff;
  --Container-Light-Button: #c2dca9;
  --Container-Light-Button-Text: #121212;
  --Surface-On-Light-Button: #121212;
  --Container-On-Light-Button: #121212;
  --Surface-Hotlink: #7c7da5;
  --Surface-Hotlink-Hover-Underline: false;
  --Surface-Hotlink-Default-Underline: true;
  --Container-Hotlink: #595a7b;
  --Container-Hotlink-Default-Underline: true;
  --Container-Hotlink-Hover-Underline: false;
  --Surface-Text-Success: #2e7d32;
  --Surface-Text-Error: #d32f2f;
  --Surface-Text-Warning: #ed6c02;
  --Surface-Text-Info: #0288d1;
  --Surface-Text-Primary: #999ab9;
  --Surface-Text-Secondary: #e66da4;
  --Surface-Text-Tertiary: #aace86;
  --Container-Text-Primary: #595a7b;
  --Container-Text-Secondary: #a82965;
  --Container-Text-Tertiary: #476826;
  --Container-Text-Success: #2e7d32;
  --Container-Text-Error: #d32f2f;
  --Container-Text-Warning: #ed6c02;
  --Container-Text-Info: #0288d1;
  --Surface: #121212;
  --Surface-Dim: #121212;
  --Surface-Bright: #1a1a1a;
  --On-Surface: #efeff5;
  --Surface-Quiet: #7d7d80;
  --Surface-Dim-Quiet: #7d7d80;
  --Surface-Bright-Quiet: #838386;
  --Container: #f5f5f8;
  --Container-Low: #f9f9fb;
  --Container-Lowest: #fcfcfd;
  --Container-High: #efeff4;
  --Container-Highest: #ebebf1;
  --On-Container: #131320;
  --Container-Quiet: #6f6f73;
  --Container-Low-Quiet: #717174;
  --Container-Lowest-Quiet: #727275;
  --Container-High-Quiet: #6c6c71;
  --Container-Highest-Quiet: #6a6a70;
  --Dropdown-Color-1: #0c0c0cb3;
  --Dropdown-Color-2: #0c0c0c8a;
  --Dropdown-Color-3: #0c0c0c61;
  --Dropdown-Color-4: #0c0c0c52;
  --Dropdown-Color-5: #0c0c0c33;
  --Surface-On-On-Button: #121212;
  --Container-On-On-Button: #121212;
  --Surface-On-On-Light-Button: #c2dca9;
  --Container-On-On-Light-Button: #c2dca9;
  --Surface-Message-Padding: 0;
  --Container-Message-Padding: 0;
  --Surface-On-Quiet: #70817f;
  --Container-On-Quiet: #617371;
  --On-Surface-Dim: #b4d0cd;
  --On-Surface-Bright: #b4d0cd;
  --On-Container-Low: #2e4e4b;
  --On-Container-Lowest: #2e4e4b;
  --On-Container-High: #2e4e4b;
  --On-Container-Highest: #2e4e4b;
}

/* AA-light mode targets */
[data-mode] {
  --Mode-Target-Desktop: var(--Desktop-Target);
  --Mode-Target-Android: 48;
  --Mode-Target-IOS-Mobile: 44;
  --Mode-Target-IOS-Tablet: 44;
}

/* AA-light mode Red-Weak chart */
[data-mode] [charts="Red-Weak"] {
  --Chart-1: #3a62c7;
  --Chart-2: #1e455d;
  --Chart-3: #4793bd;
  --Chart-4: #62649d;
  --Chart-5: #a34250;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #af884e;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #3a62c780;
  --Chart-2-Half: #1e455d80;
  --Chart-3-Half: #4793bd80;
  --Chart-4-Half: #62649d80;
  --Chart-5-Half: #a3425080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #af884e80;
}

/* AA-light mode Blue-Weak chart */
[data-mode] [charts="Blue-Weak"] {
  --Chart-1: #3a62c7;
  --Chart-2: #1e455d;
  --Chart-3: #4793bd;
  --Chart-4: #62649d;
  --Chart-5: #a34250;
  --Chart-6: #d07565;
  --Chart-7: #5c7c64;
  --Chart-8: #ba77a0;
  --Chart-9: #789399;
  --Chart-10: #767637;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #3a62c780;
  --Chart-2-Half: #1e455d80;
  --Chart-3-Half: #4793bd80;
  --Chart-4-Half: #62649d80;
  --Chart-5-Half: #a3425080;
  --Chart-6-Half: #d0756580;
  --Chart-7-Half: #5c7c6480;
  --Chart-8-Half: #ba77a080;
  --Chart-9-Half: #78939980;
  --Chart-10-Half: #76763780;
}

/* AA-light mode Green-Weak chart */
[data-mode] [charts="Green-Weak"] {
  --Chart-1: #060b24;
  --Chart-2: #1c4174;
  --Chart-3: #558be8;
  --Chart-4: #3a62c7;
  --Chart-5: #7f574e;
  --Chart-6: #b98446;
  --Chart-7: #767637;
  --Chart-8: #9180cd;
  --Chart-9: #9c839d;
  --Chart-10: #52406f;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #060b2480;
  --Chart-2-Half: #1c417480;
  --Chart-3-Half: #558be880;
  --Chart-4-Half: #3a62c780;
  --Chart-5-Half: #7f574e80;
  --Chart-6-Half: #b9844680;
  --Chart-7-Half: #76763780;
  --Chart-8-Half: #9180cd80;
  --Chart-9-Half: #9c839d80;
  --Chart-10-Half: #52406f80;
}

/* AA-light mode Red-Blind chart */
[data-mode] [charts="Red-Blind"] {
  --Chart-1: #060b24;
  --Chart-2: #274f94;
  --Chart-3: #3a62c7;
  --Chart-4: #558be8;
  --Chart-5: #665b27;
  --Chart-6: #807532;
  --Chart-7: #9d9151;
  --Chart-8: #6170a5;
  --Chart-9: #8988a4;
  --Chart-10: #908d8c;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #060b2480;
  --Chart-2-Half: #274f9480;
  --Chart-3-Half: #3a62c780;
  --Chart-4-Half: #558be880;
  --Chart-5-Half: #665b2780;
  --Chart-6-Half: #80753280;
  --Chart-7-Half: #9d915180;
  --Chart-8-Half: #6170a580;
  --Chart-9-Half: #8988a480;
  --Chart-10-Half: #908d8c80;
}

/* AA-light mode Blue-Blind chart */
[data-mode] [charts="Blue-Blind"] {
  --Chart-1: #041214;
  --Chart-2: #1c484d;
  --Chart-3: #3d8c98;
  --Chart-4: #67989b;
  --Chart-5: #91999c;
  --Chart-6: #59373a;
  --Chart-7: #94686c;
  --Chart-8: #a24443;
  --Chart-9: #d17377;
  --Chart-10: #d33635;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #04121480;
  --Chart-2-Half: #1c484d80;
  --Chart-3-Half: #3d8c9880;
  --Chart-4-Half: #67989b80;
  --Chart-5-Half: #91999c80;
  --Chart-6-Half: #59373a80;
  --Chart-7-Half: #94686c80;
  --Chart-8-Half: #a2444380;
  --Chart-9-Half: #d1737780;
  --Chart-10-Half: #d3363580;
}

/* AA-light mode Green-Blind chart */
[data-mode] [charts="Green-Blind"] {
  --Chart-1: #031021;
  --Chart-2: #283e78;
  --Chart-3: #6886e5;
  --Chart-4: #2b67d6;
  --Chart-5: #5e6383;
  --Chart-6: #8988a4;
  --Chart-7: #8f8d8c;
  --Chart-8: #807531;
  --Chart-9: #9e9050;
  --Chart-10: #a08a76;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #03102180;
  --Chart-2-Half: #283e7880;
  --Chart-3-Half: #6886e580;
  --Chart-4-Half: #2b67d680;
  --Chart-5-Half: #5e638380;
  --Chart-6-Half: #8988a480;
  --Chart-7-Half: #8f8d8c80;
  --Chart-8-Half: #80753180;
  --Chart-9-Half: #9e905080;
  --Chart-10-Half: #a08a76;
}

/* AA-light mode Blue-Cone chart */
[data-mode] [charts="Blue-Cone"] {
  --Chart-1: #d33635;
  --Chart-2: #3d8c98;
  --Chart-3: #67989b;
  --Chart-4: #6e6194;
  --Chart-5: #775161;
  --Chart-6: #a082a8;
  --Chart-7: #607053;
  --Chart-8: #d17377;
  --Chart-9: #8750c7;
  --Chart-10: #9e9050;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #d33635;
  --Chart-2-Half: #3d8c98;
  --Chart-3-Half: #67989b;
  --Chart-4-Half: #6e6194;
  --Chart-5-Half: #775161;
  --Chart-6-Half: #a082a8;
  --Chart-7-Half: #607053;
  --Chart-8-Half: #d17377;
  --Chart-9-Half: #8750c7;
  --Chart-10-Half: #9e9050;
}

/* AA-light mode Monochromatic chart */
[data-mode] [charts="Monochromatic"] {
  --Chart-1: #ffffff;
  --Chart-2: #ffffff;
  --Chart-3: #ffffff;
  --Chart-4: #ffffff;
  --Chart-5: #ffffff;
  --Chart-6: #ffffff;
  --Chart-7: #ffffff;
  --Chart-8: #ffffff;
  --Chart-9: #ffffff;
  --Chart-10: #ffffff;
  --Chart-1-Half: #ffffff;
  --Chart-2-Half: #ffffff;
  --Chart-3-Half: #ffffff;
  --Chart-4-Half: #ffffff;
  --Chart-5-Half: #ffffff;
  --Chart-6-Half: #ffffff;
  --Chart-7-Half: #ffffff;
  --Chart-8-Half: #ffffff;
  --Chart-9-Half: #ffffff;
  --Chart-10-Half: #ffffff;
}

/* AA-light mode Default chart */
[data-mode] [charts="Default"] {
  --Chart-1: #2a2b3e;
  --Chart-2: #df438a;
  --Chart-3: #567f2d;
  --Chart-4: #a43b02;
  --Chart-5: #007cac;
  --Chart-6: #15544f;
  --Chart-7: #929292;
  --Chart-8: #7f1e4c;
  --Chart-9: #929292;
  --Chart-BG: #ffffff;
  --Chart-1-Half: #2a2b3e80;
  --Chart-2-Half: #df438a80;
  --Chart-3-Half: #567f2d80;
  --Chart-4-Half: #a43b0280;
  --Chart-5-Half: #007cac80;
  --Chart-6-Half: #15544f80;
  --Chart-7-Half: #92929280;
  --Chart-8-Half: #7f1e4c80;
  --Chart-9-Half: #92929280;
  --Chart-10-Half: #20191380;
  --Chart-10: #201913;
  --Chart-Background: #ffffff;
  --Chart-Axis-Color: rgba(0,0,0,0.75);
  --Chart-Grid-Color: rgba(0,0,0,0.15);
}

/* AA-light mode paragraph spacing */
[data-mode] {
  --Mode-PS-multiplier: 200%;
}

