/* Desktop platform specific typography */
:root {
  --Platform-Font-Families-Standard: "Roboto";
  --Platform-Font-Families-Decorative: "Roboto";
  --Android: none;
  --IOS: none;
  --Desktop: block;
  --Platform-Body-Small-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Small-Semibold-Font-Size: 14px;
  --Platform-Body-Small-Semibold-Line-Height: 21px;
  --Platform-Body-Small-Semibold-Font-Weight: 600;
  --Platform-Body-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Medium-Font-Size: 16px;
  --Platform-Body-Medium-Line-Height: 24px;
  --Platform-Body-Medium-Font-Weight: 500;
  --Platform-Body-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Large-Font-Size: 18px;
  --Platform-Body-Large-Line-Height: 27px;
  --Platform-Body-Large-Font-Weight: 500;
  --Platform-Body-Large-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Large-Semibold-Font-Size: 18px;
  --Platform-Body-Large-Semibold-Line-Height: 27px;
  --Platform-Body-Large-Semibold-Font-Weight: 600;
  --Platform-Body-Medium-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Medium-Semibold-Font-Size: 16px;
  --Platform-Body-Medium-Semibold-Line-Height: 24px;
  --Platform-Body-Medium-Semibold-Font-Weight: 600;
  --Platform-Body-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Small-Font-Size: 14px;
  --Platform-Body-Small-Line-Height: 21px;
  --Platform-Body-Small-Font-Weight: 500;
  --Platform-Display-Small-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Display-Small-Font-Size: 42px;
  --Platform-Display-Small-Line-Height: 42px;
  --Platform-Display-Small-Font-Weight: 600;
  --Platform-Display-Large-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Display-Large-Font-Size: 48px;
  --Platform-Display-Large-Line-Height: 48px;
  --Platform-Display-Large-Font-Weight: 600;
  --Platform-Headers-H1-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H1-Font-Size: 32px;
  --Platform-Headers-H1-Line-Height: 32px;
  --Platform-Headers-H1-Character-Spacing: 1.25px;
  --Platform-Headers-H1-Font-Weight: 600;
  --Platform-Headers-H2-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H2-Font-Size: 28px;
  --Platform-Headers-H2-Line-Height: 28px;
  --Platform-Headers-H2-Character-Spacing: 1.25px;
  --Platform-Headers-H2-Font-Weight: 600;
  --Platform-Headers-H3-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H3-Font-Size: 24px;
  --Platform-Headers-H3-Line-Height: 24px;
  --Platform-Headers-H3-Font-Weight: 600;
  --Platform-Headers-H4-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H4-Font-Size: 20px;
  --Platform-Headers-H4-Line-Height: 20px;
  --Platform-Headers-H4-Font-Weight: 600;
  --Platform-Headers-H6-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H6-Font-Size: 16px;
  --Platform-Headers-H6-Line-Height: 16px;
  --Platform-Headers-H6-Font-Weight: 600;
  --Platform-Headers-H5-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H5-Font-Size: 18px;
  --Platform-Headers-H5-Line-Height: 18px;
  --Platform-Headers-H5-Font-Weight: 600;
  --Platform-Subtitles-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Subtitles-Small-Font-Size: 16px;
  --Platform-Subtitles-Small-Line-Height: 24px;
  --Platform-Subtitles-Small-Font-Weight: 700;
  --Platform-Subtitles-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Subtitles-Large-Font-Size: 18px;
  --Platform-Subtitles-Large-Line-Height: 32px;
  --Platform-Subtitles-Large-Font-Weight: 700;
  --Platform-Captions-Standard-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Captions-Standard-Font-Size: 14px;
  --Platform-Captions-Standard-Line-Height: 21px;
  --Platform-Captions-Standard-Font-Weight: 500;
  --Platform-Captions-Bold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Captions-Bold-Font-Size: 14px;
  --Platform-Captions-Bold-Line-Height: 21px;
  --Platform-Captions-Bold-Font-Weight: 700;
  --Platform-Labels-Extra-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Extra-Small-Font-Size: 11px;
  --Platform-Labels-Extra-Small-Line-Height: 16.5px;
  --Platform-Labels-Extra-Small-Font-Weight: 600;
  --Platform-Labels-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Small-Font-Size: 12.5px;
  --Platform-Labels-Small-Line-Height: 18.75px;
  --Platform-Labels-Small-Font-Weight: 600;
  --Platform-Labels-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Medium-Font-Size: 16px;
  --Platform-Labels-Medium-Line-Height: 24px;
  --Platform-Labels-Medium-Font-Weight: 600;
  --Platform-Labels-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Large-Font-Size: 18px;
  --Platform-Labels-Large-Line-Height: 27px;
  --Platform-Labels-Large-Font-Weight: 600;
  --Platform-Legal-Standard-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Legal-Standard-Font-Size: 10px;
  --Platform-Legal-Standard-Line-Height: 15px;
  --Platform-Legal-Standard-Font-Weight: 400;
  --Platform-Legal-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Legal-Semibold-Font-Size: 10px;
  --Platform-Legal-Semibold-Line-Height: 15px;
  --Platform-Legal-Semibold-Font-Weight: 600;
  --Platform-Overline-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Overline-Small-Font-Size: 14px;
  --Platform-Overline-Small-Line-Height: 21px;
  --Platform-Overline-Small-Font-Weight: 500;
  --Platform-Overline-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Overline-Medium-Font-Size: 16px;
  --Platform-Overline-Medium-Line-Height: 24px;
  --Platform-Overline-Medium-Font-Weight: 600;
  --Platform-Overline-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Overline-Large-Font-Size: 18px;
  --Platform-Overline-Large-Line-Height: 27px;
  --Platform-Overline-Large-Font-Weight: 600;
  --Platform-Number-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Number-Medium-Font-Size: 28px;
  --Platform-Number-Medium-Line-Height: 28px;
  --Platform-Number-Medium-Font-Weight: 700;
  --Platform-Number-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Number-Large-Font-Size: 36px;
  --Platform-Number-Large-Line-Height: 36px;
  --Platform-Number-Large-Font-Weight: 700;
  --Platform-Number-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Number-Small-Font-Size: 16px;
  --Platform-Number-Small-Font-Weight: 700;
  --Platform-Number-Small-Line-Height: 16px;
  --Platform-Buttons-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Buttons-Small-Font-Size: 14px;
  --Platform-Buttons-Small-Font-Weight: 600;
  --Platform-Buttons-Small-Line-Height: 14px;
  --Platform-Buttons-Standard-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Buttons-Standard-Font-Size: 16px;
  --Platform-Buttons-Standard-Font-Weight: 600;
  --Platform-Buttons-Standard-Line-Height: 16px;
  --Platform-Buttons-Extra-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Buttons-Extra-Small-Font-Size: 11px;
  --Platform-Buttons-Extra-Small-Font-Weight: 600;
  --Platform-Buttons-Extra-Small-Line-Height: 11px;
  --Platform-Target: 24px;
  --Platform-Button-Height: 32px;
}

