/* Desktop platform specific typography */
[data-platform="Desktop"] {
  --Platform-Font-Families-Standard: "Roboto";
  --Platform-Font-Families-Decorative: "Bungee";
  --Android: none;
  --IOS: none;
  --Desktop: block;
  --Platform-Body-Small-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Small-Semibold-Font-Size: 14px;
  --Platform-Body-Small-Semibold-Line-Height: 21px;
  --Platform-Body-Small-Semibold-AA-Paragraph-Spacing: 28px;
  --Platform-Body-Small-Semibold-Character-Spacing: 0px;
  --Platform-Body-Small-Semibold-Font-Weight: 600px;
  --Platform-Body-Small-Semibold-SR-Character-Spacing: 1.68px;
  --Platform-Body-Small-Semibold-AAA-Paragraph-Spacing: 31.5px;
  --Platform-Body-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Medium-Font-Size: 16px;
  --Platform-Body-Medium-Line-Height: 24px;
  --Platform-Body-Medium-AA-Paragraph-Spacing: 32px;
  --Platform-Body-Medium-Character-Spacing: 0px;
  --Platform-Body-Medium-Font-Weight: 500px;
  --Platform-Body-Medium-AAA-Paragraph-Spacing: 36px;
  --Platform-Body-Medium-SR-Character-Spacing: 1.92px;
  --Platform-Body-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Large-Font-Size: 18px;
  --Platform-Body-Large-Line-Height: 27px;
  --Platform-Body-Large-AA-Paragraph-Spacing: 36px;
  --Platform-Body-Large-Character-Spacing: 0px;
  --Platform-Body-Large-Font-Weight: 500px;
  --Platform-Body-Large-SR-Character-Spacing: 2.16px;
  --Platform-Body-Large-AAA-Paragraph-Spacing: 40.5px;
  --Platform-Body-Large-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Large-Semibold-Font-Size: 18px;
  --Platform-Body-Large-Semibold-Line-Height: 27px;
  --Platform-Body-Large-Semibold-AA-Paragraph-Spacing: 36px;
  --Platform-Body-Large-Semibold-Character-Spacing: 0px;
  --Platform-Body-Large-Semibold-Font-Weight: 600px;
  --Platform-Body-Large-Semibold-SR-Character-Spacing: 2.16px;
  --Platform-Body-Large-Semibold-AAA-Paragraph-Spacing: 40.5px;
  --Platform-Body-Medium-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Medium-Semibold-Font-Size: 16px;
  --Platform-Body-Medium-Semibold-Line-Height: 24px;
  --Platform-Body-Medium-Semibold-AA-Paragraph-Spacing: 32px;
  --Platform-Body-Medium-Semibold-Character-Spacing: 0px;
  --Platform-Body-Medium-Semibold-Font-Weight: 600px;
  --Platform-Body-Medium-Semibold-SR-Character-Spacing: 1.92px;
  --Platform-Body-Medium-Semibold-AAA-Paragraph-Spacing: 36px;
  --Platform-Body-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Body-Small-Font-Size: 14px;
  --Platform-Body-Small-Line-Height: 21px;
  --Platform-Body-Small-AA-Paragraph-Spacing: 28px;
  --Platform-Body-Small-Character-Spacing: 0px;
  --Platform-Body-Small-Font-Weight: 500px;
  --Platform-Body-Small-SR-Character-Spacing: 1.68px;
  --Platform-Body-Small-AAA-Paragraph-Spacing: 31.5px;
  --Platform-Display-Small-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Display-Small-Font-Size: 42px;
  --Platform-Display-Small-Line-Height: 42px;
  --Platform-Display-Small-Paragraph-Spacing: 0px;
  --Platform-Display-Small-Character-Spacing: 0px;
  --Platform-Display-Small-Font-Weight: 600px;
  --Platform-Display-Small-SR-Character-Spacing: 5.04px;
  --Platform-Display-Large-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Display-Large-Font-Size: 48px;
  --Platform-Display-Large-Line-Height: 48px;
  --Platform-Display-Large-Paragraph-Spacing: 0px;
  --Platform-Display-Large-Character-Spacing: 0px;
  --Platform-Display-Large-Font-Weight: 600px;
  --Platform-Display-Large-SR-Character-Spacing: 5.76px;
  --Platform-Headers-H1-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H1-Font-Size: 32px;
  --Platform-Headers-H1-Line-Height: 32px;
  --Platform-Headers-H1-Paragraph-Spacing: 0px;
  --Platform-Headers-H1-Character-Spacing: 1.25px;
  --Platform-Headers-H1-Font-Weight: 600px;
  --Platform-Headers-H1-SR-Character-Spacing: 3.84px;
  --Platform-Headers-H2-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H2-Font-Size: 28px;
  --Platform-Headers-H2-Line-Height: 28px;
  --Platform-Headers-H2-Paragraph-Spacing: 0px;
  --Platform-Headers-H2-Character-Spacing: 1.25px;
  --Platform-Headers-H2-Font-Weight: 600px;
  --Platform-Headers-H2-SR-Character-Spacing: 3.36px;
  --Platform-Headers-H3-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H3-Font-Size: 24px;
  --Platform-Headers-H3-Line-Height: 24px;
  --Platform-Headers-H3-Paragraph-Spacing: 0px;
  --Platform-Headers-H3-Character-Spacing: 0px;
  --Platform-Headers-H3-Font-Weight: 600px;
  --Platform-Headers-H3-SR-Character-Spacing: 2.88px;
  --Platform-Headers-H4-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H4-Font-Size: 20px;
  --Platform-Headers-H4-Line-Height: 20px;
  --Platform-Headers-H4-Paragraph-Spacing: 0px;
  --Platform-Headers-H4-Character-Spacing: 0px;
  --Platform-Headers-H4-Font-Weight: 600px;
  --Platform-Headers-H4-SR-Character-Spacing: 2.4px;
  --Platform-Headers-H6-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H6-Font-Size: 16px;
  --Platform-Headers-H6-Line-Height: 16px;
  --Platform-Headers-H6-Paragraph-Spacing: 0px;
  --Platform-Headers-H6-Character-Spacing: 0px;
  --Platform-Headers-H6-Font-Weight: 600px;
  --Platform-Headers-H6-SR-Character-Spacing: 1.92px;
  --Platform-Headers-H5-Font-Family: var(--Platform-Font-Families-Decorative);
  --Platform-Headers-H5-Font-Size: 18px;
  --Platform-Headers-H5-Line-Height: 18px;
  --Platform-Headers-H5-Paragraph-Spacing: 0px;
  --Platform-Headers-H5-Character-Spacing: 0px;
  --Platform-Headers-H5-Font-Weight: 600px;
  --Platform-Headers-H5-SR-Character-Spacing: 2.16px;
  --Platform-Subtitles-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Subtitles-Small-Font-Size: 16px;
  --Platform-Subtitles-Small-Line-Height: 24px;
  --Platform-Subtitles-Small-Paragraph-Spacing: 0px;
  --Platform-Subtitles-Small-Character-Spacing: 0px;
  --Platform-Subtitles-Small-Font-Weight: 700px;
  --Platform-Subtitles-Small-SR-Character-Spacing: 1.92px;
  --Platform-Subtitles-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Subtitles-Large-Font-Size: 18px;
  --Platform-Subtitles-Large-Line-Height: 32px;
  --Platform-Subtitles-Large-Paragraph-Spacing: 0px;
  --Platform-Subtitles-Large-Character-Spacing: 0px;
  --Platform-Subtitles-Large-Font-Weight: 700px;
  --Platform-Subtitles-Large-SR-Character-Spacing: 2.16px;
  --Platform-Captions-Standard-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Captions-Standard-Font-Size: 14px;
  --Platform-Captions-Standard-Line-Height: 21px;
  --Platform-Captions-Standard-AA-Paragraph-Spacing: 28px;
  --Platform-Captions-Standard-Character-Spacing: 0px;
  --Platform-Captions-Standard-Font-Weight: 500px;
  --Platform-Captions-Standard-AAA-Paragraph-Spacing: 31.5px;
  --Platform-Captions-Standard-SR-Character-Spacing: 1.68px;
  --Platform-Captions-Bold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Captions-Bold-Font-Size: 14px;
  --Platform-Captions-Bold-Line-Height: 21px;
  --Platform-Captions-Bold-AA-Paragraph-Spacing: 28px;
  --Platform-Captions-Bold-Character-Spacing: 0px;
  --Platform-Captions-Bold-Font-Weight: 700px;
  --Platform-Captions-Bold-AAA-Paragraph-Spacing: 31.5px;
  --Platform-Captions-Bold-SR-Character-Spacing: 1.68px;
  --Platform-Labels-Extra-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Extra-Small-Font-Size: 11px;
  --Platform-Labels-Extra-Small-Line-Height: 16.5px;
  --Platform-Labels-Extra-Small-Paragraph-Spacing: 0px;
  --Platform-Labels-Extra-Small-Character-Spacing: 0px;
  --Platform-Labels-Extra-Small-Font-Weight: 600px;
  --Platform-Labels-Extra-Small-SR-Character-Spacing: 1.32px;
  --Platform-Labels-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Small-Font-Size: 12.5px;
  --Platform-Labels-Small-Line-Height: 18.75px;
  --Platform-Labels-Small-Paragraph-Spacing: 0px;
  --Platform-Labels-Small-Character-Spacing: 0px;
  --Platform-Labels-Small-Font-Weight: 600px;
  --Platform-Labels-Small-SR-Character-Spacing: 1.5px;
  --Platform-Labels-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Medium-Font-Size: 16px;
  --Platform-Labels-Medium-Line-Height: 24px;
  --Platform-Labels-Medium-Paragraph-Spacing: 0px;
  --Platform-Labels-Medium-Character-Spacing: 0px;
  --Platform-Labels-Medium-Font-Weight: 600px;
  --Platform-Labels-Medium-SR-Character-Spacing: 1.92px;
  --Platform-Labels-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Labels-Large-Font-Size: 18px;
  --Platform-Labels-Large-Line-Height: 27px;
  --Platform-Labels-Large-Paragraph-Spacing: 0px;
  --Platform-Labels-Large-Character-Spacing: 0px;
  --Platform-Labels-Large-Font-Weight: 600px;
  --Platform-Labels-Large-SR-Character-Spacing: 2.16px;
  --Platform-Legal-Standard-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Legal-Standard-Font-Size: 10px;
  --Platform-Legal-Standard-Line-Height: 15px;
  --Platform-Legal-Standard-AA-Paragraph-Spacing: 20px;
  --Platform-Legal-Standard-Character-Spacing: 0px;
  --Platform-Legal-Standard-Font-Weight: 400px;
  --Platform-Legal-Standard-SR-Character-Spacing: 1.2px;
  --Platform-Legal-Standard-AAA-Paragraph-Spacing: 22.5px;
  --Platform-Legal-Semibold-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Legal-Semibold-Font-Size: 10px;
  --Platform-Legal-Semibold-Line-Height: 15px;
  --Platform-Legal-Semibold-AA-Paragraph-Spacing: 20px;
  --Platform-Legal-Semibold-Character-Spacing: 0px;
  --Platform-Legal-Semibold-Font-Weight: 600px;
  --Platform-Legal-Semibold-AAA-Paragraph-Spacing: 22.5px;
  --Platform-Legal-Semibold-SR-Character-Spacing: 1.2px;
  --Platform-Overline-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Overline-Small-Font-Size: 14px;
  --Platform-Overline-Small-Line-Height: 21px;
  --Platform-Overline-Small-Paragraph-Spacing: 0px;
  --Platform-Overline-Small-Character-Spacing: 0px;
  --Platform-Overline-Small-Font-Weight: 500px;
  --Platform-Overline-Small-SR-Character-Spacing: 1.68px;
  --Platform-Overline-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Overline-Medium-Font-Size: 16px;
  --Platform-Overline-Medium-Line-Height: 24px;
  --Platform-Overline-Medium-Paragraph-Spacing: 0px;
  --Platform-Overline-Medium-Character-Spacing: 0px;
  --Platform-Overline-Medium-Font-Weight: 600px;
  --Platform-Overline-Medium-SR-Character-Spacing: 1.92px;
  --Platform-Overline-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Overline-Large-Font-Size: 18px;
  --Platform-Overline-Large-Line-Height: 27px;
  --Platform-Overline-Large-Paragraph-Spacing: 0px;
  --Platform-Overline-Large-Character-Spacing: 0px;
  --Platform-Overline-Large-Font-Weight: 600px;
  --Platform-Overline-Large-SR-Character-Spacing: 2.16px;
  --Platform-Number-Medium-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Number-Medium-Font-Size: 28px;
  --Platform-Number-Medium-Line-Height: 28px;
  --Platform-Number-Medium-Paragraph-Spacing: 0px;
  --Platform-Number-Medium-Character-Spacing: 0px;
  --Platform-Number-Medium-Font-Weight: 700px;
  --Platform-Number-Medium-SR-Character-Spacing: 3.36px;
  --Platform-Number-Large-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Number-Large-Font-Size: 36px;
  --Platform-Number-Large-Line-Height: 36px;
  --Platform-Number-Large-Paragraph-Spacing: 0px;
  --Platform-Number-Large-Character-Spacing: 0px;
  --Platform-Number-Large-Font-Weight: 700px;
  --Platform-Number-Large-SR-Character-Spacing: 4.32px;
  --Platform-Number-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Number-Small-Font-Size: 16px;
  --Platform-Number-Small-Font-Weight: 700px;
  --Platform-Number-Small-Line-Height: 16px;
  --Platform-Number-Small-Character-Spacing: 0px;
  --Platform-Number-Small-Paragraph-Spacing: 0px;
  --Platform-Number-Small-SR-Character-Spacing: 1.92px;
  --Platform-Buttons-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Buttons-Small-Font-Size: 14px;
  --Platform-Buttons-Small-Font-Weight: 600px;
  --Platform-Buttons-Small-Line-Height: 14px;
  --Platform-Buttons-Small-Character-Spacing: 0px;
  --Platform-Buttons-Small-Paragraph-Spacing: 0px;
  --Platform-Buttons-Small-SR-Character-Spacing: 1.68px;
  --Platform-Buttons-Standard-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Buttons-Standard-Font-Size: 16px;
  --Platform-Buttons-Standard-Font-Weight: 600px;
  --Platform-Buttons-Standard-Line-Height: 16px;
  --Platform-Buttons-Standard-Character-Spacing: 0px;
  --Platform-Buttons-Standard-Paragraph-Spacing: 0px;
  --Platform-Buttons-Standard-SR-Character-Spacing: 1.92px;
  --Platform-Buttons-Extra-Small-Font-Family: var(--Platform-Font-Families-Standard);
  --Platform-Buttons-Extra-Small-Font-Size: 11px;
  --Platform-Buttons-Extra-Small-Font-Weight: 600px;
  --Platform-Buttons-Extra-Small-Line-Height: 11px;
  --Platform-Buttons-Extra-Small-Character-Spacing: 0px;
  --Platform-Buttons-Extra-Small-Paragraph-Spacing: 0px;
  --Platform-Buttons-Extra-Small-SR-Character-Spacing: 1.32px;
  --Platform-Target: 24px;
}

