:root, ::before, ::after {
  --Default-Spacing-Multiplier: 1;
  --Standard-Spacing-Multiplier: 1;
  --Expanded-Spacing-Multiplier: 1.5;
  --Reduced-Spacing-Multiplier: 0.5;
  --Spacing-multiplier: var(--Default-Spacing-Multiplier);
  --Sizing-1: 8px;
  --Sizing-2: 16px;
  --Sizing-3: 24px;
  --Sizing-4: 32px;
  --Sizing-5: 40px;
  --Sizing-6: 48px;
  --Sizing-7: 56px;
  --Sizing-8: 64px;
  --Sizing-9: 72px;
  --Sizing-10: 80px;
  --Sizing-Half: 4px;
  --Sizing-Quarter: 2px;
  --Sizing-20: 160px;
  --Sizing-30: 240px;
  --Sizing-40: 320px;
  --Sizing-One-And-Half: 12px;
  --Negative-Size-1: -8px;
  --Negative-Size-2: -16px;
  --Negative-Half: -4px;
  --Negative-Quarter: -2px;
  --Sizing-24: 192px;
  --Sizing-50: 400px;
  --Negative-Size-Half: -4px;
  --Negative-Size-Quarter: -2px;
  --Spacing-1: min(calc(var(--Sizing-1) * var(--Spacing-multiplier)), calc(var(--Sizing-1) * var(--Cognitive-multiplier)));
  --Spacing-2: min(calc(var(--Sizing-2) * var(--Spacing-multiplier)), calc(var(--Sizing-2) * var(--Cognitive-multiplier)));
  --Spacing-3: min(calc(var(--Sizing-3) * var(--Spacing-multiplier)), calc(var(--Sizing-3) * var(--Cognitive-multiplier)));
  --Spacing-4: min(calc(var(--Sizing-4) * var(--Spacing-multiplier)), calc(var(--Sizing-4) * var(--Cognitive-multiplier)));
  --Spacing-5: min(calc(var(--Sizing-5) * var(--Spacing-multiplier)), calc(var(--Sizing-5) * var(--Cognitive-multiplier)));
  --Spacing-6: min(calc(var(--Sizing-6) * var(--Spacing-multiplier)), calc(var(--Sizing-6) * var(--Cognitive-multiplier)));
  --Spacing-7: min(calc(var(--Sizing-7) * var(--Spacing-multiplier)), calc(var(--Sizing-7) * var(--Cognitive-multiplier)));
  --Spacing-8: min(calc(var(--Sizing-8) * var(--Spacing-multiplier)), calc(var(--Sizing-8) * var(--Cognitive-multiplier)));
  --Spacing-9: min(calc(var(--Sizing-9) * var(--Spacing-multiplier)), calc(var(--Sizing-9) * var(--Cognitive-multiplier)));
  --Spacing-10: min(calc(var(--Sizing-10) * var(--Spacing-multiplier)), calc(var(--Sizing-10) * var(--Cognitive-multiplier)));
  --Spacing-Half: min(calc(var(--Sizing-Half) * var(--Spacing-multiplier)), calc(var(--Sizing-Half) * var(--Cognitive-multiplier)));
  --Spacing-Quarter: min(calc(var(--Sizing-Quarter) * var(--Spacing-multiplier)), calc(var(--Sizing-Quarter) * var(--Cognitive-multiplier)));
  --Spacing-One-And-Half: min(calc(var(--Sizing-One-And-Half) * var(--Spacing-multiplier)), calc(var(--Sizing-One-And-Half) * var(--Cognitive-multiplier)));
  --Spacing-11: 88px;
  --Spacing-12: 96px;
}
/* Correctly placed overrides */
[data-spacing] {
  --Spacing-multiplier: var(--Default-Spacing-Multiplier);
}
[data-spacing="expanded"] {
  --Spacing-multiplier: var(--Expanded-Spacing-Multiplier);
}
[data-spacing="reduced"] {
  --Spacing-multiplier: var(--Reduced-Spacing-Multiplier);
}
[data-spacing="standard"] {
  --Spacing-multiplier: var(--Standard-Spacing-Multiplier);
}
