:root {
  --Default-Spacing-Multiplier: 1;
  --Standard-Spacing-Multiplier: 1;
  --Expanded-Spacing-Multiplier: 1.5;
  --Reduced-Spacing-Multiplier: 0.5;
  --Spacing-multiplier: var(--Default-Spacing-Multiplier);
  --Sizing-1: 8px;
  --Sizing-2: 16px;
  --Sizing-3: 24px;
  --Sizing-4: 32px;
  --Sizing-5: 40px;
  --Sizing-6: 48px;
  --Sizing-7: 56px;
  --Sizing-8: 64px;
  --Sizing-9: 72px;
  --Sizing-10: 80px;
  --Sizing-Half: 4px;
  --Sizing-Quarter: 2px;
  --Sizing-20: 160px;
  --Sizing-30: 240px;
  --Sizing-40: 320px;
  --Sizing-One-And-Half: 12px;
  --Sizing-24: 192px;
  --Sizing-50: 400px;
  --Negative-Size-1: -8px;
  --Negative-Size-2: -16px;
  --Negative-Half: -4px;
  --Negative-Quarter: -2px;
  --Negative-Size-Half: -4px;
  --Negative-Size-Quarter: -2px;
  --Spacing-1: calc(8px * var(--Spacing-multiplier));
  --Spacing-2: calc(16px * var(--Spacing-multiplier));
  --Spacing-3: calc(24px * var(--Spacing-multiplier));
  --Spacing-4: calc(32px * var(--Spacing-multiplier));
  --Spacing-5: calc(40px * var(--Spacing-multiplier));
  --Spacing-6: calc(48px * var(--Spacing-multiplier));
  --Spacing-7: calc(56px * var(--Spacing-multiplier));
  --Spacing-8: calc(64px * var(--Spacing-multiplier));
  --Spacing-9: calc(72px * var(--Spacing-multiplier));
  --Spacing-10: calc(80px * var(--Spacing-multiplier));
  --Spacing-Half: calc(4px * var(--Spacing-multiplier));
  --Spacing-Quarter: calc(2px * var(--Spacing-multiplier));
  --Spacing-One-And-Half: calc(12px * var(--Spacing-multiplier));
  --Spacing-11: calc(88px * var(--Spacing-multiplier));
  --Spacing-12: calc(96px * var(--Spacing-multiplier));
}

/* Spacing mode overrides */
[data-spacing] {
  --Spacing-multiplier: min(var(--Cognitive-Multiplier), var(--Default-Spacing-Multiplier));
}

[data-spacing="expanded"] {
  --Spacing-multiplier: min(var(--Cognitive-Multiplier), var(--Expanded-Spacing-Multiplier));
}

[data-spacing="reduced"] {
  --Spacing-multiplier: min(var(--Cognitive-Multiplier), var(--Reduced-Spacing-Multiplier));
}

[data-spacing="standard"] {
  --Spacing-multiplier: min(var(--Cognitive-Multiplier), var(--Standard-Spacing-Multiplier));
}

