:root {
  --Minimum-Target: min(var(--Cognitive-Target), var(--Platform-Target), var(--Mode-Target));
  --Min-Target: min(var(--Desktop-Target), var(--Platform-Target), var(--Cognitive-Target));

  --Hotlinks-Minimum-Hotlink-Area: calc(var(--Minimum-Target) - var(--Sizing-1));
  --ListItem-Minimum-List-Item: calc(var(--Minimum-Target) - var(--Sizing-1));

  --Border-Standard: 1px;
  --Border-Thick: 2px;

  --Height: var(--Sizing-4);
  --Minimum-Width: var(--Sizing-8);
  --Border-Radius: var(--Sizing-1);
  --Focus-Radius: var(--Focus-1);
  --Horizontal-Padding: var(--Sizing-1);
  --Horizontal-Padding-With-Icon: var(--Sizing-Half);
  --Small-Height: var(--Sizing-3);
  --Small-Horizontal-Padding: var(--Sizing-1);
  --Small-Horizontal-Padding-With-Icon: var(--Sizing-Half);
  --Border: var(--Border-Standard);
  --Overlay-Radius: var(--HoverOverlay-Overlay-1);

  --Focus-1: 11px;
  --Focus-2: 19px;
  --Focus-Half: 7px;
  --Focus-Quarter: 5px;
  --Focus-3: 27px;
  --Focus-4: 35px;
  --Focus-5: 43px;
  --Focus-6: 51px;
  --Focus-7: 59px;
  --Focus-8: 67px;
  --Focus-9: 75px;
  --Focus-10: 83px;
  --Focus-One-And-Half: 15px;

  --Padding: var(--Sizing-4);
  --Border-Radius: var(--Sizing-4);
  --Focus-Radius: var(--Focus-4);

  --Border-Radius: var(--Sizing-2);
  --Horizontal-Padding: var(--Sizing-2);
  --Focus-Radius: var(--Focus-2);

  --Border-Radius: var(--Sizing-8);
  --Focus-Radius: var(--Focus-8);

  --Small-Avatar-Border: var(--Border-Standard);
  --Avatars-Large-Avatar-Border: var(--Sizing-Half);

  --Breakpoints-Medium: 768px;
  --Breakpoints-Large: 992px;
  --Breakpoints-Small: 480px;
  --Breakpoints-Extra-Large: 1280px;
  --Breakpoints-Extra-Small: 320px;
  --Breakpoints-Extra-Extra-Large: 1440px;

  --Border-Radius: var(--Sizing-8);
  --Padding: var(--Sizing-4);

  --LeftNav-Width: var(--Sizing-30);
  --Navigation-Navigation-Rail: var(--Sizing-6);
  --Navigation-TopNav-Height: var(--Sizing-6);

  --StatusBar-BarHeight: 5px;
  --StatusBar-BarWidth: 134px;
  --StatusBar-IOSStatusBar-Height: 24px;

}
