:root {
  --Sizing-Sizing-1: var(--Default-Sizing-1);
  --Sizing-Sizing-2: var(--Default-Sizing-2);
  --Sizing-Sizing-3: var(--Default-Sizing-3);
  --Sizing-Sizing-4: var(--Default-Sizing-4);
  --Sizing-Sizing-5: var(--Default-Sizing-5);
  --Sizing-Sizing-6: var(--Default-Sizing-6);
  --Sizing-Sizing-7: var(--Default-Sizing-7);
  --Sizing-Sizing-8: var(--Default-Sizing-8);
  --Sizing-Sizing-9: var(--Default-Sizing-9);
  --Sizing-Sizing-10: var(--Default-Sizing-10);
  --Sizing-Sizing-Half: var(--Default-Sizing-Half);
  --Sizing-Sizing-Quarter: var(--Default-Sizing-Quarter);
  --Sizing-Sizing-20: var(--Default-Sizing-20);
  --Sizing-Sizing-30: var(--Default-Sizing-30);
  --Sizing-Negative-Size-1: var(--Default-Negative-Size-1);
  --Sizing-Negative-Size-Quarter: var(--Default-Negative-Quarter);
  --Sizing-Negative-Size-Half: var(--Default-Negative-Half);
  --Sizing-Sizing-One-And-Half: var(--Default-Sizing-One-And-Half);
  --Sizing-Negative-Size-2: var(--Default-Negative-Size-2);
  --Sizing-Sizing-40: var(--Default-Sizing-40);
  --Sizing-Sizing-24: var(--Default-Sizing-24);
  --Sizing-Sizing-50: var(--Default-Sizing-50);
  --Sizing-Minimum-Target: var(--Cognitive-Default-Spacing-Target);
  --Buttons-Button-Height: var(--Sizing-Sizing-4);
  --Buttons-Button-Minimum-Width: var(--Sizing-Sizing-8);
  --Buttons-Button-Border-Radius: var(--Sizing-Sizing-1);
  --Buttons-Button-Focus-Radius: var(--Focus-Focus-1);
  --Buttons-Button-Horizontal-Padding: var(--Sizing-Sizing-1);
  --Buttons-Button-Horizontal-Padding-With-Icon: var(--Sizing-Sizing-Half);
  --Buttons-Button-Small-Height: var(--Sizing-Sizing-3);
  --Buttons-Button-Small-Horizontal-Padding: var(--Sizing-Sizing-1);
  --Buttons-Button-Small-Horizontal-Padding-With-Icon: var(--Sizing-Sizing-Half);
  --Buttons-Button-Border: var(--Border-Standard);
  --Buttons-Button-Overlay-Radius: var(--HoverOverlay-Overlay-1);
  --Hotlinks-Minimum-Hotlink-Area: var(--Minimum Target);
  --ListItem-Minimum-List-Item: var(--Minimum Target);
  --Focus-Focus-1: 11px;
  --Focus-Focus-2: 19px;
  --Focus-Focus-Half: 7px;
  --Focus-Focus-Quarter: 5px;
  --Focus-Focus-3: 27px;
  --Focus-Focus-4: 35px;
  --Focus-Focus-5: 43px;
  --Focus-Focus-6: 51px;
  --Focus-Focus-7: 59px;
  --Focus-Focus-8: 67px;
  --Focus-Focus-9: 75px;
  --Focus-Focus-10: 83px;
  --Focus-Focus-One-And-Half: 15px;
  --Focus-Blur: 3px;
  --Cards-Card-Padding: var(--Sizing-Sizing-4);
  --Cards-Card-Border-Radius: var(--Sizing-Sizing-4);
  --Cards-Card-Focus-Radius: var(--Focus-Focus-4);
  --Inputs-Input-Border-Radius: var(--Sizing-Sizing-2);
  --Inputs-Input-Horizontal-Padding: var(--Sizing-Sizing-2);
  --Inputs-Input-Focus-Radius: var(--Focus-Focus-2);
  --Handles-Handle-Border-Radius: var(--Sizing-Sizing-8);
  --Handles-Handle-Focus-Radius: var(--Focus-Focus-8);
  --Focus-Border: 2px;
  --Circle: 400px;
  --Avatars-Small-Avatar-Border: var(--Default-Border-Standard);
  --Avatars-Large-Avatar-Border: var(--Sizing-Sizing-Half);
  --Accordian-Accordian-Border-Radius: var(--Buttons-Button-Border-Radius);
  --Accordian-Accordian-Focus-Radius: var(--Buttons-Button-Focus-Radius);
  --Accordian-Accordian-Padding: var(--Buttons-Button-Horizontal-Padding-With-Icon);
  --Accordian-Accordian-Border: var(--Default-Border-Thick);
  --Accordian-Accordian-Overlay-Radius: var(--Buttons-Button-Overlay-Radius);
  --Breakpoints-Medium: 768px;
  --Breakpoints-Large: 992px;
  --Breakpoints-Small: 480px;
  --Breakpoints-Extra-Large: 1280px;
  --Breakpoints-Extra-Small: 320px;
  --Breakpoints-Extra-Extra-Large: 1440px;
  --Modals-Modal-Border-Radius: var(--Sizing-Sizing-8);
  --Modals-Modal-Padding: var(--Sizing-Sizing-4);
  --Navigation-LeftNav-Width: var(--Sizing-Sizing-30);
  --Navigation-Navigation-Rail: var(--Sizing-Sizing-6);
  --Navigation-TopNav-Height: var(--Sizing-Sizing-6);
  --Spacing-Spacing-9: var(--Cognitive-Default-Spacing-Spacing-9);
  --Spacing-Spacing-7: var(--Cognitive-Default-Spacing-Spacing-7);
  --Spacing-Spacing-10: var(--Cognitive-Default-Spacing-Spacing-10);
  --Spacing-Spacing-5: var(--Cognitive-Default-Spacing-Spacing-5);
  --Spacing-Spacing-6: var(--Cognitive-Default-Spacing-Spacing-6);
  --Spacing-Spacing-Quarter: var(--Cognitive-Default-Spacing-Spacing-Quarter);
  --Spacing-Spacing-4: var(--Cognitive-Default-Spacing-Spacing-4);
  --Spacing-Spacing-3: var(--Cognitive-Default-Spacing-Spacing-3);
  --Spacing-Spacing-2: var(--Cognitive-Default-Spacing-Spacing-2);
  --Spacing-Spacing-One-And-Hald: var(--Cognitive-Default-Spacing-Spacing-One-And-Half);
  --Spacing-Spacing-8: var(--Cognitive-Default-Spacing-Spacing-8);
  --Spacing-Spacing-Half: var(--Cognitive-Default-Spacing-Spacing-Half);
  --Spacing-Spacing-1: var(--Cognitive-Default-Spacing-Spacing-1);
  --Columns-Col-1: var(--Default-Col-1);
  --Columns-Col-2: var(--Default-Col-2);
  --Columns-Col-3: var(--Default-Col-3);
  --Columns-Col-4: var(--Default-Col-4);
  --Columns-Col-5: var(--Default-Col-5);
  --Columns-Col-6: var(--Default-Col-6);
  --Columns-Col-7: var(--Default-Col-7);
  --Columns-Col-8: var(--Default-Col-8);
  --Columns-Col-9: var(--Default-Col-9);
  --Columns-Col-10: var(--Default-Col-10);
  --Columns-Col-11: var(--Default-Col-11);
  --Columns-Col-12: var(--Default-Col-12);
  --Columns-Margin: var(--Default-Margin);
  --Columns-Gutter: var(--Default-Gutter);
  --Border-Standard: var(--Default-Border-Standard);
  --Border-Thick: var(--Default-Border-Thick);
  --StatusBar-BarHeight: 5px;
  --StatusBar-BarWidth: 134px;
  --StatusBar-IOSStatusBar-Height: 24px;
  --HoverOverlay-Overlay-1: 6px;
  --HoverOverlay-Overlay-2: 14px;
  --HoverOverlay-Overlay3: 27px;
  --HoverOverlay-Overlay-4: 30px;
  --HoverOverlay-Overlay-5: 38px;
  --HoverOverlay-Overlay-6: 46px;
  --HoverOverlay-Overlay-7: 54px;
  --HoverOverlay-Overlay-8: 62px;
  --HoverOverlay-Overlay-9: 70px;
  --HoverOverlay-Overlay-10: 78px;
  --HoverOverlay-Overlay-Half: 2px;
  --HoverOverlay-Overlay-Quarter: 0px;
  --HoverOverlay-Overlay-One-And-Half: 15px;
  --HoverOverlay-Overlay-3: 22px;
}
